{% extends "layouts/main.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
<a href="javascript:history.back()" class="govuk-back-link" style="margin-bottom:0">Back</a>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            {% if data.needpss=="yes" %}
              Licence and post sentence supervison order

              for<br>
              {% if data.edit=="yes" %}
                Edith Bradshaw
                {% elseif data.releaseDateChanged=="yes" %}
                Honor Weekend
              {% else %}
                Adam Balasaravika
              {% endif %}
              sent


                {% elseif data.licencetypechoose=="pssonly"%}
                  Post sentence <br />supervison  order for<br />
                  {% if data.edit=="yes" %}
                    Edith Bradshaw
                    {% elseif data.releaseDateChanged=="yes" %}
                    Honor Weekend
                  {% else %}
                    Adam Balasaravika
                  {% endif %}


                  {% else %}
                  Licence for<br>{% if data.edit=="yes" %}
                      Edith Bradshaw
                      {% elseif data.releaseDateChanged=="yes" %}
                      Honor Weekend
                    {% else %}
                    Giovanni Nicholson sent
                    {% endif %}


            {%endif%}

          </h1>
        </div>
        <h2 class="govuk-heading-m">What happens next</h2>
        <p class="govuk-body">We have sent the

      {% if data.needpss=="yes" %}
          licence and post sentence supervison order


        {% elseif data.licencetypechoose=="pssonly"%}
          post sentence supervison order


        {% else %}
          licence for approval.
        {%endif%}



        This is usually done by the prison governor.</p>
        
          <p class="govuk-body">The approver will contact you if they need more information.</p>

          <h2 class="govuk-heading-m">If you need to make any changes</h2>
          <p class="govuk-body">You can return to the service to edit this licence after it has been sent or approved.</p>
          
  

          <form action="" method="post">

            <input type="hidden" name="hardstopsubmitted" value="yes">
            <div class="govuk-button-group">
              {{ govukButton({
                text: "Return to caselist",
                name: "approveanotherlicence",
                value: "yes",
                type: "submit"
              }) }}
  
              </form>
            
          </div>
        <br>

        <p class="govuk-body">
          <a href="#" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)
        </p>
      </div>
    </div>
  </main>
</div>


{% endblock %}

