{% extends "layouts/main.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}

{% endblock %}

{% block content %}

<form method="" action="/v23/edit/check-your-answers-edit">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds"><br>
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
      <!--    Who does {% if data.edit=="yes" %}Edith Bradshaw{% else %}Adam Balasaravika{% endif %} need to meet for their initial appointment?  </h1>-->

      Who is the initial appointment with?</h1>
      </legend><br>
  </div>
</div>


<!--START set dynamic radio hide/show text-->
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% set textHtmlOther %}
{{ govukInput({
  id: "Enter name",
  name: "Enter name",
  type: "tel",
  autocomplete: "tel",
  classes: "govuk-fieldset__legend--s govuk-input govuk-input--width-30",
  label: {
    text: "Enter name"
  }
}) }}
{% endset -%}


{{ govukRadios({
  idPrefix: "contact3",
  name: "contact3",
  fieldset: {
    legend: {
      text: "",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--s"
    }
  },

  items: [
  {
    value: "Simon Webster, this person’s probation officer",
    text: "Simon Webster, this person’s probation officer",
    conditional: {
      html: emailHtml
    }
  },
  {
    value: "Duty officer",
    text: "Duty officer",
    conditional: {
      html: emailHtml
    }
  },
  {
    value: "Someone else",
    text: "Someone else",
    conditional: {
      html: textHtmlOther
    }
  }
  ]
}) }}

<button type="submit" class="govuk-button" data-module="govuk-button">Continue</button>

</form>

<div>
</div>

    {% endblock %}