{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
<!--
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Prototype
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>-->
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
<a href="javascript:history.back()" class="govuk-back-link" style="margin-bottom:0">Back</a>

{% endblock %}

{% block content %}





<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">Sorry, there is a problem with Create and vary a licence</h1>


        <p class="govuk-body">
          Try again later.</p>

          

          <div style="padding-top: 40px">
            <h2 class="govuk-heading-l govuk-!-margin-bottom-4">For support</h2>
  
            <p class="govuk-body">
            Contact the helpdesk by calling 0800 917 5148, or #6598 from inside a prison.</br></br>
          
            {% if (data.user=="governor") or (data.user=="admin") %}
            <a class="govuk-link" href="#">Go to the Digital Prison Services homepage.</a>
            {%else%}
            <a class="govuk-link" href="#">Go to the Digital Services homepage.</a>
            {%endif%}
  
            </p>
  
          </div>



      </div>
    </div>
  </main>
</div>







{% endblock %}
