{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Prototype
    </strong>
    
  </p>
</div>


{% endblock %}

{% block content %}



     
      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          Standard licence created for <br>Richard Curtis
        </h1>
        <div class="govuk-panel__body">
          <span id="datetime">Release date: Monday 15 May 2021</span> <span id="hour"><br>Report to Northampton Probation Office at 10:00 AM</span>
        </div>
      </div>
      <br>
      <h3 class="govuk-heading-m">What happens next</h3>
      <p>We will send a copy of the licence to ??? be be approved.</p>
      <h3 class="govuk-heading-s">You may want to:</h3>
      <a href="caseload-done" class="govuk-link"><p>Return to your caseload</p></a>
      <h3 class="govuk-heading-m">Feedback survey</h3>
      <p>Did you have any problem using this service? Are there any improvements that would make it work better for you? Please take 2 minutes to let us know by filling in the <a href="#">feedback survey</a>. Your feedback helps us to improve and develop this service.</p>
      
          
  </main>
</div>
  
            

  
</div>


{% endblock %}