{% extends "layouts/main" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}




{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-thirds">

        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            <!--Licence for<br>
            {% if data.edit=="yes" %}
              Edith Bradshaw
            {% elseif data.releaseDateChanged=="yes" %}
              Honor Weekend
            {% else %}
              Adam Balasaravika
            {% endif %} approved-->Licence approved<br>
            </h1>
          <div class="govuk-panel__body">
            A case administrator still needs to contact the probation team

          </div>
        </div>
        <h2 class="govuk-heading-m">What happens next</h2>
          <p class="govuk-body">
            <!--{% if data.user=="governor"%}
            You have approved the licence and post sentence supervision order for {% if data.edit=="yes" %}
              Edith Bradshaw
            {% elseif data.releaseDateChanged=="yes" %}
              Honor Weekend
            {% else %}
              Adam Balasaravika
            {% endif %}.-->
            <p>A case administrator can now print the licence for Jasper Holland.</p>

        <p>A case administrator still needs to notify the probation team that this licence has been approved. We do not have their contact details to do this automatically. </p> 
          
       <!--<p>You need to notify the probation team that this licence has been created.</br>
          We do not have their contact details to do this automatically. 
            </p>--> 
           <!--<p class="govuk-body">  A prison administrator can now print the licence.</p>

            <h2 class="govuk-heading-m">If a community probation practitioner makes any changes</h2>
            <p class="govuk-body">A community probation practitioner may edit and re-submit this licence for approval if they need to make a change.</p>
            <p class="govuk-body">The licence will appear again in your approvals case list, and prison OMU staff will get an email alert.</p>

          {%elseif data.user=="admin"%}
          We have sent email notification to the approver that the licence is awaiting their approval.</p>
          {%endif%}-->
          <h2 class="govuk-heading-m">If further changes are made</h2>
          <p class="govuk-body">
            <p>Probation practitioners can make changes up to 2 days before a standard release.</p>
            <p>After this, they can only ask the prison to change the initial appointment details. </p>
           <p>Other changes must be made after release. Probation practitioners can continue to work on licences for people being released early after the 2-day point.</p> 
            

            </p>
            
            <form action="#" method="post">

              <button class="govuk-button" data-module="govuk-button">
                Approve another licence
              </button>
            </form>
          

          </div>
        <br>
        <p class="govuk-body">
          <a href="#" class="govuk-link govuk-link--no-visited-state">What did you think of this service?</a> (Takes 30 seconds – opens in a new tab)

        </p>
      </div>
    </div>
  </main>
</div>


{% endblock %}
