{% extends "layouts/main" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}




{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-thirds">

        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
           Licence approved<br>
          </h1>
         
        </div>
        <h2 class="govuk-heading-m">What happens next</h2>
          <p class="govuk-body">
            
            <p>A case administrator can now print the licence for Jasper Holland.</p>

        <p>We will email the probation practitioner automatically to tell them this licence has been approved.</p> 
          
       
          <h2 class="govuk-heading-m">If further changes are made</h2>
          <p class="govuk-body">
            <p>Probation practitioners can make changes up to 2 days before a standard release.</p>
            <p>After this, they can only ask the prison to change the initial appointment details.</p>
           <p>Other changes must be made after release. Probation practitioners can continue to work on licences for people being released early after the 2-day point.</p> 
            

            </p>
            
            <form action="#" method="post">

              <button class="govuk-button" data-module="govuk-button">
                Approve another licence
              </button>
            </form>
          

          </div>
        <br>
        <p class="govuk-body">
          <a href="#" class="govuk-link govuk-link--no-visited-state">What did you think of this service?</a> (Takes 30 seconds – opens in a new tab)

        </p>
      </div>
    </div>
  </main>
</div>


{% endblock %}
