{% extends "layouts/main.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<a href="javascript:history.back()" class="govuk-back-link" style="margin-bottom:0">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters">

        
        <h1 class="govuk-heading-xl">Eligibility and suitability for [working title]</h1>


        <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
          <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
              HDC application outcome [working copy]
            </h2>
          </div>
          <div class="govuk-notification-banner__content">
            <h3 class="govuk-notification-banner__heading">
              Person is uneligible/unsuitable. [working copy]
            </h3>
            <!--<p class="govuk-body">Contact <a class="govuk-notification-banner__link" href="#">example@department.gov.uk</a> if you think there’s a problem.</p>-->
          </div>
        </div>



        <h2 class="govuk-heading-l">Personal details</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Name
            </dt>
            <dd class="govuk-summary-list__value">
              George Jennings
            </dd>
          </div>
    
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Prison number
            </dt>
            <dd class="govuk-summary-list__value">
              G5613GT
            </dd>
          </div>
    
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              HDCED
            </dt>
            <dd class="govuk-summary-list__value">
              28 May 2024
            </dd>
          </div>
    
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              CRD
            </dt>
            <dd class="govuk-summary-list__value">
              28 July 2024
            </dd>
          </div>
    
        </dl>
    


        <h2 class="govuk-heading-l">This how we came to that conclusion [working title]</h2>




<!--card start-->
<div class="govuk-summary-card">

  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">
      HDC criteria [working title]
    </h2>
  </div>

  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Person’s security category</br>
         <p>Category A</p>
        </dt>
        <dd class="govuk-summary-list__value">
          Source: <span class="moj-badge moj-badge--black">Nomis</span>
        </dd>
        <dd class="govuk-summary-list__actions">
          HDC criteria not met</br>
          <a class="govuk-link" href="#">Policy reference<span class="govuk-visually-hidden"></span></a>
        </dd>
      </div>


      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
         Community order curfew</br>
        <p>Community order breach on 3 Jan 2011</p>
        </dt>
        <dd class="govuk-summary-list__value">
          Source: <span class="moj-badge moj-badge--black">Nomis</span>
        </dd>
        <dd class="govuk-summary-list__actions">
          HDC criteria not met</br>
          <a class="govuk-link" href="#">Policy reference<span class="govuk-visually-hidden"></span></a>
        </dd>
      </div>
  
    </dl>
  </div>

</div>
<!--card end-->


<details class="govuk-details" style="margin-top: -10px;">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Explaining what to do if something doesn’t look right [working title]
    </span>
  </summary>
  <div class="govuk-details__text">
    Go to the information source and correct the information there. 
    We will pull through the updated information and you’ll see the change. [working copy]
  </div>
</details>



        <h3 class="govuk-heading-m" style="margin-top: 40px;">What happens next</h2>

        <p class="govuk-body">
          Inform person in prison about the outcome.
        </p>
    
        <div class="govuk-button-group" style="margin-top: 30px;">
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Send communication
          </button>
          <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Return to case list
          </button>
        </div>

        


      </div>
    </div>
  </main>
</div>

{% endblock %}
