{% extends "layouts/main.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

<head>
  <!-- // ... -->
  <link rel="stylesheet" href="assets/stylesheet/govuk-frontend.min.css">
  <!-- // ... -->
</head>


{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<a href="javascript:history.back()" class="govuk-back-link" style="margin-bottom:0">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper " id="main-content" role="main">


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <h1 class="govuk-heading-xl govuk-!-static-margin-top-6">
        Eligibility and suitability for [working title]
      </h1>



      <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Important
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <p class="govuk-notification-banner__heading">
            We need more information to determine eligibility/suitability.
          </p>
        </div>
      </div>




      <h2 class="govuk-heading-m">Personal details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
           Name
          </dt>
          <dd class="govuk-summary-list__value">
            George Jennings
          </dd>
        </div>
  
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Prison number
          </dt>
          <dd class="govuk-summary-list__value">
            G5613GT
          </dd>
        </div>
  
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            HDCED
          </dt>
          <dd class="govuk-summary-list__value">
            28 May 2024
          </dd>
        </div>
  
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            CRD
          </dt>
          <dd class="govuk-summary-list__value">
            28 July 2024
          </dd>
        </div>

        <div class="govuk-button-group" style="margin-top: 10px;">
          <a class="govuk-link" href="#">View case history</a>
        </div>
  
      </dl>



  






      <!--task list start-->

      <h2 class="govuk-heading-l">Questions we need you to answer [working title]</h2>


      <h2 class="govuk-heading-s govuk-!-margin-bottom-2">HDC application incomplete</h2>
      <p class="govuk-body govuk-!-margin-bottom-7">You have completed 5 of 11 sections.</p>

      <ol class="app-task-list">

        <li>
          <h2 class="app-task-list__section"><!--<span class="app-task-list__section-number">1. </span>-->Sentence</h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="sentence/presumed-unsuitable.html" aria-describedby="eligibility-status">
                  Presumed unsuitable offences
                </a></br>
                <div id="company-details-3-hint" class="govuk-task-list__hint" style="color: #505a5f	;">
                  Recorded on 11 Apr 2024 by Tom Rooker
                </div>
              </span>
              <p class="govuk-body" style="text-align: right;">Completed</p>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="sentence/extended-sentence.html" aria-describedby="read-declaration-status">
                  Extended sentence for violent or sexual offences
                </a>
                <div id="company-details-3-hint" class="govuk-task-list__hint" style="color: #505a5f	;">
                  Recorded on 11 Apr 2024 by Tom Rooker
                </div>
              </span>
              <p class="govuk-body" style="text-align: right;">Completed</p>
            </li>
          </ul>
        </li>


        <li>
          <h2 class="app-task-list__section"><!--<span class="app-task-list__section-number">2. </span>-->Offence history</h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="offence-history/sex-offenders-register.html" aria-describedby="company-information-status">
                  Sex offenders’ register
                </a>
                <div id="company-details-3-hint" class="govuk-task-list__hint" style="color: #505a5f	;">
                  Recorded on 11 Apr 2024 by Tom Rooker
                </div>
              </span>
              <p class="govuk-body" style="text-align: right;">Completed</p>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="offence-history/sexual-offending-history.html" aria-describedby="contact-details-status">
                  Sexual offending history
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="contact-details-status" style="text-transform: capitalize;">Incomplete</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="offence-history/terrorism.html" aria-describedby="list-convictions-status">
                  Terrorist or terrorism connected offending history
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="contact-details-status" style="text-transform: capitalize;">Incomplete</strong>
            </li>
            <!--<li class="app-task-list__item">
              <span class="app-task-list__task-name">
                Provide financial evidence
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="financial-evidence-status">Cannot start yet</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                Give medical information
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="medical-information-status">Cannot start yet</strong>
            </li>-->
          </ul>
        </li>

       
        <li>
          <h2 class="app-task-list__section"><!--<span class="app-task-list__section-number">3. </span>-->Recall</h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="recall/rotl.html" aria-describedby="company-information-status">
                  ROTL failure to return
                </a>
                <div id="company-details-3-hint" class="govuk-task-list__hint" style="color: #505a5f	;">
                  Recorded on 11 Apr 2024 by Tom Rooker
                </div>
              </span>
              <p class="govuk-body" style="text-align: right;">Completed</p>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="recall/hdc.html" aria-describedby="contact-details-status">
                  Recalled while on HDC
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="contact-details-status" style="text-transform: capitalize;">Incomplete</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="recall/at-risk-period.html" aria-describedby="list-convictions-status">
                  Ever returned to custody during the at-risk period
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="contact-details-status" style="text-transform: capitalize;">Incomplete</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="recall/compassionate-grounds.html" aria-describedby="list-convictions-status">
                  Serving a recall from early release on compassionate grounds
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="contact-details-status" style="text-transform: capitalize;">Incomplete</strong>
            </li>
          </ul>
        </li>


        <li>
          <h2 class="app-task-list__section"><!--<span class="app-task-list__section-number">4. </span>-->Deportation and repatriation</h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="deportation-repatriation/deportation-orders.html" aria-describedby="company-information-status">
                  Deportation orders
                </a>
                <div id="company-details-3-hint" class="govuk-task-list__hint" style="color: #505a5f	;">
                  Recorded on 11 Apr 2024 by Tom Rooker
                </div>
              </span>
              <p class="govuk-body" style="text-align: right;">Completed</p>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="deportation-repatriation/repatriated-people.html" aria-describedby="contact-details-status">
                  People who have been repatriated
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="contact-details-status" style="text-transform: capitalize;">Incomplete</strong>
            </li>
          </ul>
        </li>

      </ol>
    </div>
  </div>


        <!--task list end-->



<!--system checks start-->

        <h2 class="govuk-heading-l" style="margin-top: 50px;">System checks and opting out [working title]</h2>

        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                  System checks met [working title]
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-1" class="govuk-accordion__section-content">

<!--card start-->
<div class="govuk-summary-card">

  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">
      HDC criteria [working title]
    </h2>
  </div>

  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <strong>Person’s security category</strong></br>
          Category B
        </dt>
        <dd class="govuk-summary-list__value">
          Source: <span class="moj-badge moj-badge--black">Nomis</span>
        </dd>
        <dd class="govuk-summary-list__actions">
          HDC criteria not met</br>
          <a class="govuk-link" href="#">Policy reference<span class="govuk-visually-hidden"></span></a>
        </dd>
      </div>


      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <strong>Community order curfew</strong></br>
          No breach
        </dt>
        <dd class="govuk-summary-list__value">
          Source: <span class="moj-badge moj-badge--black">Nomis</span>
        </dd>
        <dd class="govuk-summary-list__actions">
          HDC criteria not met</br>
          <a class="govuk-link" href="#">Policy reference<span class="govuk-visually-hidden"></span></a>
        </dd>
      </div>
  
    </dl>
  </div>

</div>
<!--card end-->

<!--explanation start-->
<h3 class="govuk-heading-s">Explaining what to do if something doesn’t look right [working title]</h>

  <p class="govuk-body">
    Go to the information source and correct the information there. 
    We will pull through the updated information and you’ll see the change. [working copy]
  </p>
<!--explanation end-->
            </div>
          </div>

          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                  Opt out  [working title]
                </span>
              </h2>
            </div>
            <div id="accordion-default-content-2" class="govuk-accordion__section-content">
              <p class="govuk-body">This is the content for Writing well for specialists.</p>
            </div>
          </div>

        </div>











<!--system checks end-->












      </div>
    </div>
  </main>
</div>

{% endblock %}
