{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Prototype
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Search for an offender to start creating their licence </h1>

      </div>
</div>


          
  
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col"> </th>
                <th class="govuk-table__header" scope="col"> </th>
              </tr>
            </thead>
            
            
            
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  
                  <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
                    <a href="answers" class="govuk-link govuk-link--no-visited-state">
                      Richard Curtis
                    </a></h3>
                    <p>Prison number: B4166LG<br>
                      Date of birth: 2 May 1981<br>
                      Responsible officer: Samual Toogood<br>
                  </p>
                </td>
                <td class="govuk-summary-list__actions">
                
                  <strong class="govuk-tag govuk-tag--blue">
                    New
                  </strong>
          
                </td>
              </tr>
              
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  <h3 class="govuk-heading-m govuk-!-margin-bottom-2"> <a class=“govuk-link--no-visited-state” href=“”>
                    Jonathan Briger</a></h3>
                    <p>Prison number: A4145LG<br>
                      Date of birth: 23 October 1986<br>
                      Responsible officer: TBC<br>
                  </p>
                </td>
                <td class="govuk-summary-list__actions">
                  <strong class="govuk-tag govuk-tag--grey">
            Waiting
          </strong>
          
                </td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  <h3 class="govuk-heading-m govuk-!-margin-bottom-2"> <a class=“govuk-link--no-visited-state” href=“”>
                    Jeff Patton</a></h3>
                    <p>Prison number: C4335LG<br>
                      Date of birth: 13 September 1988<br>
                      Probation officer: Louise Marshall<br>
                  </p>
                   
                </td>
                
                <td class="govuk-summary-list__actions">
                  <strong class="govuk-tag govuk-tag--grey">
            Assigned
          </strong>
          
                </td>

              </td>
            </tr>
           
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  <h3 class="govuk-heading-m govuk-!-margin-bottom-3"> <a class=“govuk-link--no-visited-state” href=“”>
                    Teddy Davies</a></h3>
                    <p>Prison number: W666LG<br>
                      Date of birth: 20 Jauary 1999<br>
                      Responsible officer: Samual Toogood<br>
                  </p>
                </td>
                
                <td class="govuk-summary-list__actions">
                  <strong class="govuk-tag govuk-tag--green">
           Approved
          </strong>
          
                </td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  <h3 class="govuk-heading-m govuk-!-margin-bottom-2"> <a class=“govuk-link--no-visited-state” href=“”>
                    Indra Sarkar</a></h3>
                    <p>Prison number: B1245LG<br>
                      Date of birth: 18 august 2000<br>
                      Responsible officer: Samual Toogood<br>
                  </p>
                </td>
                
                <td class="govuk-summary-list__actions">
                  <strong class="govuk-tag govuk-tag--green">
                    Approved
          </strong>
          
                </td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  <h3 class="govuk-heading-m govuk-!-margin-bottom-2"> <a class=“govuk-link--no-visited-state” href=“”>
                    Andrew Garcia</a></h3>
                    <p>Prison number: A1145LG<br>
                      Date of birth: 12 February 2001<br>
                      Responsible officer: Peter Langsdon<br>
                  </p>
                </td>
                
                <td class="govuk-summary-list__actions">
                  <strong class="govuk-tag govuk-tag--orange">
                    Recalled
          </strong>
          
                </td>
              </tr>
          
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  <h3 class="govuk-heading-m govuk-!-margin-bottom-2"> <a class=“govuk-link--no-visited-state” href=“one”>
                    Yo-yo Ma</a></h3>
                    <p>Prison number: S5545LG<br>
                      Date of birth: 16 May 2002<br>
                      Responsible officer: Louise Marshall<br>
                  </p>
                </td>
                <td class="govuk-summary-list__actions">
                  <strong class="govuk-tag govuk-tag--yellow">
            Released
          </strong>
          
                </td>
              </tr>
            </tbody>
          </table>
  
        
          
  
        </div>
      </div>
    </main>
  </div>
</div>

  

         
      


{% endblock %}