{% extends "layout_moj_home_with_location_bar.html" %}

{% block content %}
    <div class="govuk-width-container">
        <h1 class="govuk-heading-l govuk-!-margin-top-7">Create and manage licences</h1>
    </div>

    

<div class="homepage-content">
    <div class="govuk-width-container">
        <ul class="govuk-grid-row card-group">

            <li class="govuk-grid-column-one-third card-group__item">

                <div class="card card--clickable" data-test="global-search">
                    <h2 class="govuk-heading-m card__heading">
                        <a class="govuk-link card__link govuk-link--no-visited-state" href="search" >Create a licence</a>
                    </h2>
                    <p class="govuk-body card__description">Create all purpose licences and post sentence supervision orders.</p>
                </div>

            </li>

            <li class="govuk-grid-column-one-third card-group__item">

                <div class="card card--clickable" data-test="manage-prisoner-whereabouts">
                    <h2 class="govuk-heading-m card__heading">
                        <a class="govuk-link card__link govuk-link--no-visited-state" href="#" >Create and manage a  home detention curfew</a>
                    </h2>
                    <p class="govuk-body card__description">Set up a home detention curfew, including a post sentence supervision order.</p>
                </div>

            </li>

           <!-- <li class="govuk-grid-column-one-third card-group__item">

                <div class="card card--clickable" data-test="use-of-force">
                    <h2 class="govuk-heading-m card__heading">
                        <a class="govuk-link card__link govuk-link--no-visited-state" href="#" >Your home detention curfews</a>
                    </h2>
                    <p class="govuk-body card__description">Manage all your HNDs.</p>
                </div>

            </li>

            <li class="govuk-grid-column-one-third card-group__item">

                <div class="card card--clickable" data-test="establishment-roll">
                    <h2 class="govuk-heading-m card__heading">
                        <a class="govuk-link card__link govuk-link--no-visited-state" href="#" ></a>
                    </h2>
                    <p class="govuk-body card__description"></p>
                </div>

            </li>

            <li class="govuk-grid-column-one-third card-group__item">

                <div class="card card--clickable" data-test="secure-move">
                    <h2 class="govuk-heading-m card__heading">
                        <a class="govuk-link card__link govuk-link--no-visited-state" href="home" ></a>
                    </h2>
                    <p class="govuk-body card__description"></p>
                </div>

            </li>-->
            
        </ul>
    </div>
</div>
{% endblock %}
