{% extends "layouts/main.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}


<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
<a href="javascript:history.back()" class="govuk-back-link" style="margin-bottom:0">Back</a>
{% endblock %}

{% block content %}


<main class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">


        <h1 class="govuk-heading-l">Where is the initial appointment?</h1>

        
        <h2 class="govuk-heading-m" style="margin-top: 40px;">Use a saved address</h1>


          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half govuk-grid-column-one-third-from-desktop">

              <div class="govuk-summary-card" style="height: 290px;">
                <div class="govuk-summary-card__title-wrapper">
                  <h2 class="govuk-summary-card__title">
                    Address 1
                  </h2>
                  <ul class="govuk-summary-card__actions">
                    <li class="govuk-summary-card__action">
                      <a class="govuk-link" href="#">Use this address</a>
                    </li>
                    <li class="govuk-summary-card__action">
                      <a class="govuk-link" href="#">Delete</a>
                    </li>
                  </ul>
                </div>
                <div class="govuk-summary-card__content">
                  <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                      <dd class="govuk-summary-list__value">
                        Derwent Centre</br>
                        1 Stuart Street</br>
                        Derby</br>
                        DE1 2EQ
                      </dd>
                    </div>
                  </dl>
                </div>
              </div>

            </div>
            <div class="govuk-grid-column-one-half govuk-grid-column-one-third-from-desktop">

              <div class="govuk-summary-card" style="height: 290px;">
                <div class="govuk-summary-card__title-wrapper">
                  <h2 class="govuk-summary-card__title">
                    Address 2
                  </h2>
                  <ul class="govuk-summary-card__actions">
                    <li class="govuk-summary-card__action">
                      <a class="govuk-link" href="#">Use this address</a>
                    </li>
                    <li class="govuk-summary-card__action">
                      <a class="govuk-link" href="#">Delete</a>
                    </li>
                  </ul>
                </div>
                <div class="govuk-summary-card__content">
                  <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                      <dd class="govuk-summary-list__value">
                        Unit C</br>
                        124-126 Nottingham One</br>
                        Canal Street</br>
                        Nottingham</br>
                        NG1 7HG
                      </dd>
                    </div>
                  </dl>
                </div>
              </div>

            </div>
            <div class="govuk-grid-column-one-half govuk-grid-column-one-third-from-desktop">

              <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                  <h2 class="govuk-summary-card__title">
                    Address 3
                  </h2>
                  <ul class="govuk-summary-card__actions">
                    <li class="govuk-summary-card__action">
                      <a class="govuk-link" href="#">Use this address</a>
                    </li>
                    <li class="govuk-summary-card__action">
                      <a class="govuk-link" href="#">Delete</a>
                    </li>
                  </ul>
                </div>
                <div class="govuk-summary-card__content">
                  <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                      <dd class="govuk-summary-list__value">
                        South West Hertfordshire Probation Centre</br>
                        Leet Court</br>
                        16-22 King Street</br>
                        Watford</br>
                        Hertfordshire</br>
                        WD18 0BN
                      </dd>
                    </div>
                  </dl>
                </div>
              </div>

            </div>
          </div>


          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half govuk-grid-column-one-third-from-desktop">

              <div class="govuk-summary-card" style="height: 290px;">
                <div class="govuk-summary-card__title-wrapper">
                  <h2 class="govuk-summary-card__title">
                    Address 4
                  </h2>
                  <ul class="govuk-summary-card__actions">
                    <li class="govuk-summary-card__action">
                      <a class="govuk-link" href="#">Use this address</a>
                    </li>
                    <li class="govuk-summary-card__action">
                      <a class="govuk-link" href="#">Delete</a>
                    </li>
                  </ul>
                </div>
                <div class="govuk-summary-card__content">
                  <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                      <dd class="govuk-summary-list__value">
                        The Boathouse Business Centre</br>
                        1 Harbour Square</br>
                        Wisbech</br>
                        PE13 3BH 
                      </dd>
                    </div>
                  </dl>
                </div>
              </div>

            </div>
           
            <div class="govuk-grid-column-one-half govuk-grid-column-one-third-from-desktop">

              <div class="govuk-summary-card" style="height: 290px;">
                <div class="govuk-summary-card__title-wrapper">
                  <h2 class="govuk-summary-card__title">
                    Address 5
                  </h2>
                  <ul class="govuk-summary-card__actions">
                    <li class="govuk-summary-card__action">
                      <a class="govuk-link" href="#">Use this address</a>
                    </li>
                    <li class="govuk-summary-card__action">
                      <a class="govuk-link" href="#">Delete</a>
                    </li>
                  </ul>
                </div>
                <div class="govuk-summary-card__content">
                  <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                      <dd class="govuk-summary-list__value">
                        Acton Probation Office</br>
                        2 & 4 Birkbeck Road</br>
                        Acton</br>
                        London</br>
                        W3 6BG
                      </dd>
                    </div>
                  </dl>
                </div>
              </div>

            </div>

            <div class="govuk-grid-column-one-half govuk-grid-column-one-third-from-desktop">

              <div class="govuk-summary-card" style="height: 290px;">
                <div class="govuk-summary-card__title-wrapper">
                  <h2 class="govuk-summary-card__title">
                    Address 6
                  </h2>
                  <ul class="govuk-summary-card__actions">
                    <li class="govuk-summary-card__action">
                      <a class="govuk-link" href="#">Use this address</a>
                    </li>
                    <li class="govuk-summary-card__action">
                      <a class="govuk-link" href="#">Delete</a>
                    </li>
                  </ul>
                </div>
                <div class="govuk-summary-card__content">
                  <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                      <dd class="govuk-summary-list__value">
                        Acton Probation Office</br>
                        2 & 4 Birkbeck Road</br>
                        Acton</br>
                        London</br>
                        W3 6BG
                      </dd>
                    </div>
                  </dl>
                </div>
              </div>

            </div>

            <div class="govuk-grid-column-one-half govuk-grid-column-one-third-from-desktop">

              <div class="govuk-summary-card" style="height: 290px;">
                <div class="govuk-summary-card__title-wrapper">
                  <h2 class="govuk-summary-card__title">
                    Address 1
                  </h2>
                  <ul class="govuk-summary-card__actions">
                    <li class="govuk-summary-card__action">
                      <a class="govuk-link" href="#">Use this address</a>
                    </li>
                    <li class="govuk-summary-card__action">
                      <a class="govuk-link" href="#">Delete</a>
                    </li>
                  </ul>
                </div>
                <div class="govuk-summary-card__content">
                  <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                      <dd class="govuk-summary-list__value">
                        Derwent Centre</br>
                        1 Stuart Street</br>
                        Derby</br>
                        DE1 2EQ
                      </dd>
                    </div>
                  </dl>
                </div>
              </div>

            </div>
            <div class="govuk-grid-column-one-half govuk-grid-column-one-third-from-desktop">

              <div class="govuk-summary-card" style="height: 290px;">
                <div class="govuk-summary-card__title-wrapper">
                  <h2 class="govuk-summary-card__title">
                    Address 2
                  </h2>
                  <ul class="govuk-summary-card__actions">
                    <li class="govuk-summary-card__action">
                      <a class="govuk-link" href="#">Use this address</a>
                    </li>
                    <li class="govuk-summary-card__action">
                      <a class="govuk-link" href="#">Delete</a>
                    </li>
                  </ul>
                </div>
                <div class="govuk-summary-card__content">
                  <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                      <dd class="govuk-summary-list__value">
                        Unit C</br>
                        124-126 Nottingham One</br>
                        Canal Street</br>
                        Nottingham</br>
                        NG1 7HG
                      </dd>
                    </div>
                  </dl>
                </div>
              </div>

            </div>
            <div class="govuk-grid-column-one-half govuk-grid-column-one-third-from-desktop">

              <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                  <h2 class="govuk-summary-card__title">
                    Address 3
                  </h2>
                  <ul class="govuk-summary-card__actions">
                    <li class="govuk-summary-card__action">
                      <a class="govuk-link" href="#">Use this address</a>
                    </li>
                    <li class="govuk-summary-card__action">
                      <a class="govuk-link" href="#">Delete</a>
                    </li>
                  </ul>
                </div>
                <div class="govuk-summary-card__content">
                  <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                      <dd class="govuk-summary-list__value">
                        South West Hertfordshire Probation Centre</br>
                        Leet Court</br>
                        16-22 King Street</br>
                        Watford</br>
                        Hertfordshire</br>
                        WD18 0BN
                      </dd>
                    </div>
                  </dl>
                </div>
              </div>

            </div>
          </div>


          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half govuk-grid-column-one-third-from-desktop">

              <div class="govuk-summary-card" style="height: 290px;">
                <div class="govuk-summary-card__title-wrapper">
                  <h2 class="govuk-summary-card__title">
                    Address 4
                  </h2>
                  <ul class="govuk-summary-card__actions">
                    <li class="govuk-summary-card__action">
                      <a class="govuk-link" href="#">Use this address</a>
                    </li>
                    <li class="govuk-summary-card__action">
                      <a class="govuk-link" href="#">Delete</a>
                    </li>
                  </ul>
                </div>
                <div class="govuk-summary-card__content">
                  <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                      <dd class="govuk-summary-list__value">
                        The Boathouse Business Centre</br>
                        1 Harbour Square</br>
                        Wisbech</br>
                        PE13 3BH 
                      </dd>
                    </div>
                  </dl>
                </div>
              </div>

            </div>
           
            <div class="govuk-grid-column-one-half govuk-grid-column-one-third-from-desktop">

              <div class="govuk-summary-card" style="height: 290px;">
                <div class="govuk-summary-card__title-wrapper">
                  <h2 class="govuk-summary-card__title">
                    Address 5
                  </h2>
                  <ul class="govuk-summary-card__actions">
                    <li class="govuk-summary-card__action">
                      <a class="govuk-link" href="#">Use this address</a>
                    </li>
                    <li class="govuk-summary-card__action">
                      <a class="govuk-link" href="#">Delete</a>
                    </li>
                  </ul>
                </div>
                <div class="govuk-summary-card__content">
                  <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                      <dd class="govuk-summary-list__value">
                        Acton Probation Office</br>
                        2 & 4 Birkbeck Road</br>
                        Acton</br>
                        London</br>
                        W3 6BG
                      </dd>
                    </div>
                  </dl>
                </div>
              </div>

            </div>

            <div class="govuk-grid-column-one-half govuk-grid-column-one-third-from-desktop">

              <div class="govuk-summary-card" style="height: 290px;">
                <div class="govuk-summary-card__title-wrapper">
                  <h2 class="govuk-summary-card__title">
                    Address 6
                  </h2>
                  <ul class="govuk-summary-card__actions">
                    <li class="govuk-summary-card__action">
                      <a class="govuk-link" href="#">Use this address</a>
                    </li>
                    <li class="govuk-summary-card__action">
                      <a class="govuk-link" href="#">Delete</a>
                    </li>
                  </ul>
                </div>
                <div class="govuk-summary-card__content">
                  <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                      <dd class="govuk-summary-list__value">
                        Acton Probation Office</br>
                        2 & 4 Birkbeck Road</br>
                        Acton</br>
                        London</br>
                        W3 6BG
                      </dd>
                    </div>
                  </dl>
                </div>
              </div>

            </div>

          </div>




          
      </div>
    </div>


          
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half-from-desktop"> 
          

        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h2 class="govuk-fieldset__heading" style="margin-top: 40px;">Find an address</h2>
          </legend>

        

          <div class="moj-search">

            <form action="address-5c-multiple-results" method="post">
          
              <div class="govuk-form-group">
                <label class="govuk-label moj-search__label govuk-!-font-weight-bold" for="search">
                  Type an address or postcode 
                </label>
          
                <!--<div id="search-hint" class="govuk-hint moj-search__hint ">
                  Type an address or postcode 
                </div>-->
          
                <input class="govuk-input moj-search__input " id="search" name="search" type="search" aria-describedby="search-hint">
          
              </div>
          
              <button class="govuk-button moj-search__button " data-module="govuk-button">
                Find address
              </button>
          
            </form>
          </div>
          
          <p style="margin-top: 20px;"><a class="govuk-link govuk-link--no-visited-state" href="address-5e-manually.html">Enter initial appointment address manually</a></p>
          
          </fieldset>

        </div>
        </div>


  </div>
</main>
{% endblock %}
