{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Prototype
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds"><br>
    
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
          Who does Adam Balasaravika need to meet for their initialappointment?  </h1>
      </legend><br>
        </div>
    </div>


<div class="govuk-grid-row">
<div class="govuk-grid-column-one-third">
    
  <div class="govuk-form-group">
  
  <input class="govuk-input" id="full-name" name="full-name" type="text" value="Samual Toogood"spellcheck="false" autocomplete="name"></div>
<br>

      <a href="check-your-answers" class="govuk-button show-continue" style="display: inline;">
      Continue
      </a>
  </fieldset>    
 </div>
</div>


{% endblock %}