{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      prototype
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

{% endblock %}

{% block content %}


        
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      
    
<span id="dob-hint" class="govuk-hint">
  Application reference: 1234567
</span>

    </legend>

  
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
      

        <h1 class="govuk-heading-xl">Richard Curtis</h1>

        <h2 class="govuk-heading-m"></h2>

        

        <nav class="app-sub-navigation" aria-label="Sub navigation">

          <ul class="app-sub-navigation__list">
        
        
              
        
                <li class="app-sub-navigation__item">
                  <a class="app-sub-navigation__link" href="answers">Profile</a>
                </li>
              
        
        
              
        
                <li class="app-sub-navigation__item">
                  <a class="app-sub-navigation__link" href="notes">Notes</a>
                </li>
              
            
        
        
              
        
                <li class="app-sub-navigation__item">
                  <a class="app-sub-navigation__link" aria-current="page" href="timeline">Timeline</a>
                </li>
              
            </ul>
        
        </nav>

       
     
          

        <br><h2 class="govuk-heading-m">Status changed</h2>
<p>Second waiting<br>Bethany<br> 30 Aug 2020</p>
<hr>

<br><h2 class="govuk-heading-m">Status changed</h2>
<p>Second assigned<br>Bethany<br>24 Aug 2020</p>
<hr>

<br><h2 class="govuk-heading-m">Application received</h2>
<p>Tom<br>21 Aug 2020 at 9:49pm</p>
<hr>

        
       
      </div>
    </div>
  </main>
</div>


{% endblock %}