{% extends "layout_moj_home_with_location_bar.html" %}

{% block content %}
    <div class="govuk-width-container">
        <h1 class="govuk-heading-l govuk-!-margin-top-7">Select service</h1>
    </div>

    

<div class="homepage-content">
    <div class="govuk-width-container">
        <ul class="govuk-grid-row card-group">

            <li class="govuk-grid-column-one-third card-group__item">

                <div class="card card--clickable" data-test="global-search">
                    <h2 class="govuk-heading-m card__heading">
                        <a class="govuk-link card__link govuk-link--no-visited-state" href="#" >Admin for HDC Licences</a>
                    </h2>
                    <p class="govuk-body card__description">Search for someone in any establishment, or who has been released.</p>
                </div>

            </li>

            <li class="govuk-grid-column-one-third card-group__item">

                <div class="card card--clickable" data-test="manage-prisoner-whereabouts">
                    <h2 class="govuk-heading-m card__heading">
                        <a class="govuk-link card__link govuk-link--no-visited-state" href="#" >Check my diary</a>
                    </h2>
                    <p class="govuk-body card__description">Prison staff detail service (staff rota)</p>
                </div>

            </li>

            <li class="govuk-grid-column-one-third card-group__item">

                <div class="card card--clickable" data-test="use-of-force">
                    <h2 class="govuk-heading-m card__heading">
                        <a class="govuk-link card__link govuk-link--no-visited-state" href="#" >Digital Prison Services</a>
                    </h2>
                    <p class="govuk-body card__description">View and Manage Offenders in Prison (Old name was NEW NOMIS)</p>
                </div>

            </li>

            <li class="govuk-grid-column-one-third card-group__item">

                <div class="card card--clickable" data-test="establishment-roll">
                    <h2 class="govuk-heading-m card__heading">
                        <a class="govuk-link card__link govuk-link--no-visited-state" href="#" >Home Detention Curfew</a>
                    </h2>
                    <p class="govuk-body card__description">Service for HDC Licences Creation and Approval</p>
                </div>

            </li>

            <li class="govuk-grid-column-one-third card-group__item">

                <div class="card card--clickable" data-test="secure-move">
                    <h2 class="govuk-heading-m card__heading">
                        <a class="govuk-link card__link govuk-link--no-visited-state" href="type" >Create and manage licences</a>
                    </h2>
                    <p class="govuk-body card__description">Create and manage a licence or home detention curfew.</p>
                </div>

            </li>
            
        </ul>
    </div>
</div>
{% endblock %}
