{% extends "layouts/main.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}


{% endblock %}

{% block content %}


<div class="govuk-grid-row">
      <div class="govuk-grid-column-three-thirds">
        <h1 class="govuk-heading-xl">Select a person to review their licence </h1>

      </div>
</div>
<table class="govuk-table">
  <!--<caption class="govuk-table__caption govuk-table__caption--m">Month you apply</caption>-->
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header app-custom-class">Name</th>
      <th scope="col" class="govuk-table__header app-custom-class">Case reference number</th>
      <th scope="col" class="govuk-table__header app-custom-class">Conditional release date</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">


    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><h3 class="govuk-heading-m govuk-!-margin-bottom-3">
        <a href="approvals/list" class="govuk-link govuk-link--no-visited-state">
          {% if data.edit=="yes" %}Edith Bradshaw{% else %}Adam Balasaravika{% endif %}
        </a></h3></th>
      <td class="govuk-table__cell">X381306</td>
      <td class="govuk-table__cell">	30 October 2022</td>
    </tr>



    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><h3 class="govuk-heading-m govuk-!-margin-bottom-3">
        <a href="approvals/list" class="govuk-link govuk-link--no-visited-state">
          Amjad Khan
        </a></h3></th>
      <td class="govuk-table__cell">X161309</td>
      <td class="govuk-table__cell">17 November 2021</td>
    </tr>
  </tbody>
</table>

{% endblock %}
