{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Prototype
    </strong>
    
  </p>
</div>

{% endblock %}

{% block content %}
<h1 class="govuk-heading-m">
  <span class="govuk-caption-m">Adam Balasaravika
  </span></h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

        <h1 class="govuk-heading-l">Check your answers</h1><br>


        <h2 class="govuk-heading-m"> Additional licence condition details
        </h2>

        
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Additional conditions
            </dt>
            <dd class="govuk-summary-list__value">
              No
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"></span>
              </a>
            </dd>
          </div>
          
        </dl><br><br>

        <h2 class="govuk-heading-m"> Bespoke licence condition details
        </h2>

        
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Bespoke condition
            </dt>
            <dd class="govuk-summary-list__value">
              No
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"></span>
              </a>
            </dd>
          </div>
          
        </dl><br><br>

        <h2 class="govuk-heading-m">Post sentence supervision additional condition details</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Drug appointment
            </dt>
            <dd class="govuk-summary-list__value">
              Attend [INSERT APPOINTMENT TIME DATE AND ADDRESS], as directed, to address your dependency on, or propensity to misuse, a controlled drug.<br><br> <strong>2:30pm 23 August 2021 <br>Drug Centre Buildings, 13 Palmerston Road, London, SE2 3ED </strong>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="conditions-pss">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>


          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Drug testing


            </dt>
            <dd class="govuk-summary-list__value">
             
                {{ data['name'] }}<br>
                {{ data['building'] }}<br>
                {{ data['street'] }}<br>
                {{ data['address-town'] }}<br>
                {{ data['address-county'] }}<br>
                {{ data['address-postcode'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="conditions-pss.html">
               Change <span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>
          

        </dl><br><br>

        

        <h2 class="govuk-heading-m"> Initialmeeting details</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['full-name'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"></span>
              </a>
            </dd>
          </div>
          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Address
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['address'] }}<br>
              {{ data['address-line-2'] }}<br>
              {{ data['address-town'] }}<br>
              {{ data['address-county'] }}<br>
              {{ data['address-postcode'] }}<br>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="address">
                Change<span class="govuk-visually-hidden"> licence type</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Contact phone number
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['telephone-number'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> </span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['when-day'] }} : {{ data['when-month'] }} : {{ data['when-year'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> </span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Time
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['when-hour'] }} : {{ data['when-minute'] }} {{ data['when-am'] }}<br>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"></span>
              </a>
            </dd>
          </div>
        </dl>


        <a href="confirmation" class="govuk-button" type="submit">Send licence to prison</a>
      </div>
    </div>
  


{% endblock %}