{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Prototype
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="nationality-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
          <h1 class="govuk-fieldset__heading">
            Select additional post sentence supervision conditions
          </h1>
        </legend>
        <div id="nationality-hint" class="govuk-hint">
          Select all relevant conditions.
        </div><br>

        <h1 class="govuk-heading-l govuk-!-padding-top-7" id="">Drug appointment</h1>
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="pss-appointment" name="pss-appointment" type="checkbox" checked value="pss-appointment" data-aria-controls="pss-appointment-conditional">
              <label class="govuk-label govuk-checkboxes__label" for="pss-appointment">
                Attend [INSERT APPOINTMENT TIME DATE AND ADDRESS], as directed, to address your dependency on, or propensity to misuse, a controlled drug.
              </label>
            </div>
            
          <br>
            <div class="govuk-checkboxes__conditional" id="pss-appointment-conditional">
              <div class="govuk-form-group">
                <label class="govuk-label" for="time">
                  Enter time and date
                </label>
                <label class="govuk-label" for="date">
                  Time
                </label>
                <input class="govuk-input govuk-!-width-one-third" id="contact-by-email" name="contact-by-email" type="email" spellcheck="false"><br>
                <br> <label class="govuk-label" for="controlled-drug">
                  Date
                </label>
                <input class="govuk-input govuk-!-width-one-third" id="contact-by-email" name="contact-by-email" type="email" spellcheck="false">
                
                <br><br><br>
                <div class="govuk-form-group">
                  <label class="govuk-label" for="address">
                    Enter address
                  </label>
                  <label class="govuk-label" for="address-line-1">
                    Building and street <span class="govuk-visually-hidden">line 1 of 2</span>
                  </label>
                  <input class="govuk-input" id="address-line-1" name="address-line-1" type="text" autocomplete="address-line1"></div>
              
                <div class="govuk-form-group">
                  <label class="govuk-label" for="address-line-2">
                    <span class="govuk-visually-hidden">Building and street line 2 of 2</span>
                  </label>
                  <input class="govuk-input" id="address-line-2" name="address-line-2" type="text" autocomplete="address-line2"></div>
              
                <div class="govuk-form-group">
                  <label class="govuk-label" for="address-town">
                    Town or city
                  </label>
                  <input class="govuk-input govuk-!-width-two-thirds" id="address-town" name="address-town" type="text" autocomplete="address-level2"></div>
              
                <div class="govuk-form-group">
                  <label class="govuk-label" for="address-county">
                    County
                  </label>
                  <input class="govuk-input govuk-!-width-two-thirds" id="address-county" name="address-county" type="text"></div>
              
                <div class="govuk-form-group">
                  <label class="govuk-label" for="address-postcode">
                    Postcode
                  </label>
                  <input class="govuk-input govuk-input--width-10" id="address-postcode" name="address-postcode" type="text" autocomplete="postal-code"></div>
            
            </div>
          </div>
        

        <h1 class="govuk-heading-l govuk-!-padding-top-7" id="">Drug testing
        </h1>

          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="pss-test" name="pss-test" type="checkbox" checked value="pss-test" data-aria-controls="pss-test-conditional">
              <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional">
                Attend [INSERT NAME AND ADDRESS], as reasonably required by your supervisor, to give a sample of oral fluid / urine in order to test whether you have any specified Class A or specified Class B drugs in your body, for the purpose of ensuring that you are complying with the requirement of your supervision period requiring you to be of good behaviour.
              </label>
            </div>
            <div class="govuk-checkboxes__conditional" id="pss-test-conditional">
              <div class="govuk-form-group">
                <label class="govuk-label" for="name">
                  Enter name
                </label>
                <input class="govuk-input govuk-!-width-one-third" id="contact-by-email" name="contact-by-email" type="email" spellcheck="false">
                <div class="govuk-form-group">
                 <br> <label class="govuk-label" for="address-line-1">
                    Building and street <span class="govuk-visually-hidden">line 1 of 2</span>
                  </label>
                  <input class="govuk-input" id="address-line-1" name="address-line-1" type="text" autocomplete="address-line1"></div>
              
                <div class="govuk-form-group">
                  <label class="govuk-label" for="address-line-2">
                    <span class="govuk-visually-hidden">Building and street line 2 of 2</span>
                  </label>
                  <input class="govuk-input" id="address-line-2" name="address-line-2" type="text" autocomplete="address-line2"></div>
              
                <div class="govuk-form-group">
                  <label class="govuk-label" for="address-town">
                    Town or city
                  </label>
                  <input class="govuk-input govuk-!-width-two-thirds" id="address-town" name="address-town" type="text" autocomplete="address-level2"></div>
              
                <div class="govuk-form-group">
                  <label class="govuk-label" for="address-county">
                    County
                  </label>
                  <input class="govuk-input govuk-!-width-two-thirds" id="address-county" name="address-county" type="text"></div>
              
                <div class="govuk-form-group">
                  <label class="govuk-label" for="address-postcode">
                    Postcode
                  </label>
                  <input class="govuk-input govuk-input--width-10" id="address-postcode" name="address-postcode" type="text" autocomplete="postal-code"></div>
            </div>
          </div>

                   
        </div>

      </fieldset>
    </div>


          <a href="answers-check" class="govuk-button show-continue" style="display: inline;">
      Continue
    </a>
       
 </div>
</div>
        



{% endblock %}