{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Prototype
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      
  <!--<h1 class="govuk-heading-m">Richard Curtis
  <span class="govuk-caption-m">Prison number: A4145LG
  </span></h1>-->

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        Does Adam Balasaravika need additional or bespoke licence conditions?
      </h1>
    </legend><br>

    
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          
        </legend>
        
        <div class="govuk-radios govuk-radios--inline">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="yes">
            <label class="govuk-label govuk-radios__label" for="changed-name">
              Yes
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
            <label class="govuk-label govuk-radios__label" for="changed-name-2">
              No
            </label>
          </div>
        </div>
    
      </fieldset>
    </div>
    
   
</fieldset>
</div><br>

          <a href="pss" class="govuk-button show-continue" style="display: inline;">
      Continue
    </a>
       
 </div>
</div>
        



{% endblock %}