{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Prototype
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      
    <form action="answers-check" method="post" class="form">

        
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="vehicle-features-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h1 class="govuk-fieldset__heading">
                When does Adam Balasaravika need to go to their initialappointment?
              </h1>
            </legend><br>
            <div id="when-hint" class="govuk-hint">
              For example, 12 11 2007
            </div>
            <div class="govuk-date-input" id="when-day">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="when-day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="when-day" name="when-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="when-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="when-month" name="when-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="when-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="when-year" name="when-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
              </div>
            </div><br><br>
        
          </fieldset>
        </div>
        <div class="govuk-form-group">
          <div class="time-picker">
            <label class="govuk-label" for="Time">
             Time
            </label>
            

          <div id="time-hint" class="govuk-hint">
            For example, 9:30am or 2:55pm
          </div>
          <div class="govuk-date-input" id="when-time">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="when-hour">
                  Hour
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="when-hour" name="when-hour" type="text" pattern="[0-9]*" inputmode="numeric"></div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="when-minute">
                  Minute
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="when-minute" name="when-minute" type="text" pattern="[0-9]*" inputmode="numeric"></div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="when-am">
                  am or pm
                </label>
                <select class="govuk-select" id="when-am" name="when-am">
                  <option value="am" selected>am</option>
                  <option value="pm">pm</option>
                  
                </select>            
              </div>
          </div>
        </div>
        <br><br>

        

        <button class="govuk-button" data-module="govuk-button">Continue</button>
  </fieldset>
</div>
</form>  
 </div>
</div>
        



{% endblock %}