{% extends "layout_moj_home_with_location_bar.html" %}

{% block content %}
    <div class="govuk-width-container">
        <h1 class="govuk-heading-l govuk-!-margin-top-7">Select service</h1>
    </div>



<div class="homepage-content">
    <div class="govuk-width-container">
        <ul class="govuk-grid-row card-group">

            <li class="govuk-grid-column-one-third card-group__item">

                <div class="card card--clickable" data-test="establishment-roll">
                    <h2 class="govuk-heading-m card__heading">
                        <a class="govuk-link card__link govuk-link--no-visited-state" href="#" >Home Detention Curfew</a>
                    </h2>
                    <p class="govuk-body card__description">Service for HDC Licences Creation and Approval</p>
                </div>

            </li>

        <!--    <li class="govuk-grid-column-one-third card-group__item">

                <div class="card card--clickable" data-test="secure-move">
                    <h2 class="govuk-heading-m card__heading">
                        <a class="govuk-link card__link govuk-link--no-visited-state" href="type" >Create and vary a licence</a>
                    </h2>
                    <p class="govuk-body card__description">Create and vary a licence.</p>
                </div>

            </li>-->


            <li class="govuk-grid-column-one-third card-group__item">

                <div class="card card--clickable" data-test="secure-move">
                    <h2 class="govuk-heading-m card__heading">
                        <a class="govuk-link card__link govuk-link--no-visited-state" >
                          {% if data.user=="admin"%} <a class="govuk-link card__link govuk-link--no-visited-state" href="approvals/list">View and send a licence for approval{%endif%}

                          {% if data.user=="governor"%}<a class="govuk-link card__link govuk-link--no-visited-state" href="approvals/list">Approve a licence{%endif%}

                          {% if data.user=="probation"%}<a class="govuk-link card__link govuk-link--no-visited-state" href="type">Create or vary a licence{%endif%}

                        </a>
                    </h2><!--
                    <p class="govuk-body card__description"><a href="list">Create a licence</a><br />
                    <a href="vary/list">Vary a licence</a><br />
                    <a href="approvals">Approve a licence<a/></p>-->
                </div>

            </li>

            <li class="govuk-grid-column-one-third card-group__item">

                <div class="card card--clickable" data-test="secure-move">
                    <h2 class="govuk-heading-m card__heading">
                        <a class="govuk-link card__link govuk-link--no-visited-state" href="#" >Refer and monitor an intervention
                        </a>
                    </h2>
                    <p class="govuk-body card__description">Find and choose rehabilitation programs for people under supervision.
                    </p>
                </div>

            </li>

            <li class="govuk-grid-column-one-third card-group__item">



            </li>

            <li class="govuk-grid-column-one-third card-group__item">



            </li>

        </ul>
    </div>
</div>
{% endblock %}
