{% extends "layouts/main.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}


{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            {% if data.personapprovedavary=="yes" %}
              Licence variation for Avary Bradshaw declined
              {% elseif data.personapprovedharry=="yes" %}
              Licence variation for Harry Jection declined
              {% endif %}
          </h1>
        </div>
        <h2 class="govuk-heading-m">What happens next</h2>

<p class="govuk-body">The licence variation for
  {% if data.personapprovedavary=="yes" %}
    Avary Bradshaw
    {% elseif data.personapprovedharry=="yes" %}
    Harry Jection
    {% endif %}has been declined.</p>

        <p class="govuk-body">We have sent an email to the probation practitioner to notify them.</p>
        <p class="govuk-body">They can amend and resend the variation, or discard it.</p>

          <form action="list" method="post">
          <div class="govuk-button-group">
            {% if data.personapprovedavary=="yes" %}
              <input name="personapprovedavarycomplete" type="hidden" value="yes" />
              <input name="personapprovedavary" type="hidden" value="no" />
            {% endif %}

            {% if data.personapprovedharry=="yes" %}
              <input name="personapprovedharrycomplete" type="hidden" value="yes" />
              <input name="personapprovedharry" value="no" type="hidden" />
            {% endif %}


            {{ govukButton({
              text: "Return to approvals case list",
              name: "approveanotherlicence",
              value: "yes",
              type: "submit"
            }) }}
            <!--Add if approved for Avary or Harry to decide who to show on approvals list-->
          <!--  <input type="hidden" value="yes" name="varycompleteapprove"/>-->
            </form>
          </div>
        <br />
        <p class="govuk-body">
          <a href="#" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)
        </p>
      </div>
    </div>
  </main>
</div>
{% endblock %}
