{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Prototype
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      
 

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        What is the name of the Mental Health Worker that Adam Balasaravika must receive visits from?    </h1>
    </legend><br>

    
    <div class="govuk-form-group">
      
        
        <div class="govuk-radios govuk-radios--inline">
          <div class="govuk-form-group">
            <label class="govuk-label" for="address-postcode">
              Full name
            </label>
            <input class="govuk-input govuk-input--width-10" id="address-postcode" name="address-postcode" type="text" autocomplete="postal-code"></div>
        </div>
        
    </div>
    
   
</fieldset>
</div><br>

          <a href="meet" class="govuk-button show-continue" style="display: inline;">
      Continue
    </a>
       
 </div>
</div>
        



{% endblock %}