{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
<!--
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Prototype
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>-->
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
<a href="javascript:history.back()" class="govuk-back-link" style="margin-bottom:0">Back</a>

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-thirds"><br>
    <span class="govuk-caption-m">CRN: A314402 | CRD: 15 May 2022 | Date of birth: 12 Mar 1975</span>
    <h1 class="govuk-heading-m">Honor Weekend</h1>
  </div>
</div>
<hr class="gov-section-break gov-section-break-visible">

<br />
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-thirds"><br>
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
      <!--    Who does {% if data.edit=="yes" %}Edith Bradshaw{% else %}Adam Balasaravika{% endif %} need to meet for their initial appointment?  </h1>-->
{% if data.user=="probation" %}
  Are you sure you want to create this licence?
{% else %}
  The release date is on a weekend or bank holiday
{% endif %}
  </div>
</div>

<form method="post" action="" >
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-third">
  {% if data.user=="probation" %}
    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        The release date is on a weekend or bank holiday.
        Check the release date with the prison OMU. </strong>
      </div>
    {% endif %}

      <!--<p class="govuk-body">The conditional release date is on a weekend or bank holiday.
            Contact the prison OMU to get the release date in NOMIS updated.</p><br />-->
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            Honor Weekend
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            CRN
          </dt>
          <dd class="govuk-summary-list__value">
            A314402
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Release date
          </dt>
          <dd class="govuk-summary-list__value">
            15 May 2022
          </dd>
        </div>
      </dl>
      <input name="releaseDateChanged" value="yes" type="hidden" />

        {% if data.user=="probation" %}
      <div class="govuk-button-group">
        <button class="govuk-button" data-module="govuk-button" name="submit" value="return">
        Return to case list
        </button>
        <button class="govuk-button govuk-button--secondary" data-module="govuk-button" name="submit" value="continue">
          Continue and create licence
        </button>
      </div>
      {% else %}
      <div class="govuk-button-group">
        <button class="govuk-button " data-module="govuk-button" name="submit" value="approve">
          Continue
        </button>
        <button class="govuk-button govuk-button--secondary" data-module="govuk-button" name="submit" value="return">
        Return to case list
        </button>
      </div>

      {% endif %}

    </fieldset>
  </div>
</div>
</form>


{% endblock %}
