{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Prototype
    </strong>

  </p>
</div>

{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

        <h1 class="govuk-heading-l">{% if data.user=="admin" %}View and send for approval{%else%}Approve{%endif%} for a licence for Adam Balasaravika</h1><br>




        <h2 class="govuk-heading-m"> Initialmeeting details</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
              Samual Toogood
            </dd>
            <dd class="govuk-summary-list__actions">

            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Address
            </dt>
            <dd class="govuk-summary-list__value">
              Lewisham Probation Office, 20 Brockley Street, London, SE13 4HY
            </dd>
            <dd class="govuk-summary-list__actions">

            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Contact phone number
            </dt>
            <dd class="govuk-summary-list__value">
              0798 443 0099
            </dd>
            <dd class="govuk-summary-list__actions">

            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date
            </dt>
            <dd class="govuk-summary-list__value">
              31 May 2023
            </dd>
            <dd class="govuk-summary-list__actions">

            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Time
            </dt>
            <dd class="govuk-summary-list__value">
              5:30pm
            </dd>
            <dd class="govuk-summary-list__actions">

            </dd>
          </div>


        </dl><br><br>


              <div class="govuk-grid-row">
                <div class="govuk-grid-column-three-quarters">
                  <h2 class="govuk-heading-m">Additional licence conditions details</h2>
                </div>
                <div class="govuk-grid-column-one-quarter">



                </div>
              </div>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Restriction of residency
            </dt>
            <dd class="govuk-summary-list__value">
              Not to reside (not even to stay for one night) in the same household as [ANY / ANY FEMALE / ANY MALE] child under the age of [INSERT AGE] without the prior approval of your supervising officer.<br><br> <strong>Any child under 18</strong><br>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="conditions-all">
              <span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>




          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Contact with a person
            </dt>
            <dd class="govuk-summary-list__value">
              Not to have unsupervised contact with  [ANY / ANY FEMALE / ANY MALE] children under the age of [INSERT AGE] without the prior approval of your supervising officer and / or [INSERT NAME OF APPROPRIATE SOCIAL SERVICES DEPARTMENT] except where that contact is inadvertent and not reasonably avoidable in the course of lawful daily life.<br><br> <strong>Any children under 18</strong> <br> <strong>Lewisham Social Services</strong>


            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                <span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div><br>




          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Contact with a person

            </dt>
            <dd class="govuk-summary-list__value">
              Not to contact or associate with [NAMED OFFENDER(S) / NAMED INDIVIDUAL(S)] without the prior approval of your supervising officer. <br><br><strong>John Smith</strong>


            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
               <span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>



          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Programme and activities
            </dt>

            <dd class="govuk-summary-list__value">
              To comply with any requirements specified by your supervising officer for the purpose of ensuring that you address your alcohol / drug / sexual / violent / gambling / solvent abuse / anger / debt / prolific / offending behaviour problems. <br><br><strong>Drug</strong>

            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
               <span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>


          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Programme and activities
            </dt>
            <dd class="govuk-summary-list__value">
              Not to undertake work or other organised activity which will involve a person under the age of [INSERT AGE], either on a paid or unpaid basis without the prior approval of your supervising officer <br><br><strong> Under the age of 18 </strong>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                <span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>


          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Items and documents
            </dt>
            <dd class="govuk-summary-list__value">
              Not to own or possess a [SPECIFIED ITEM) without the prior approval of your supervising officer. <br><br><strong> Smart phone </strong>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
               <span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>


          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Drug testing
            </dt>
            <dd class="govuk-summary-list__value">
              Attend as reasonably required by your supervising officer, to give a sample of oral fluid / urine in order to test whether you have any specified Class A and specified Class B drugs in your body, for the purpose of ensuring that you are complying with the condition of your licence requiring you to be of good behaviour.<br><br> <strong>Drug Centre Buildings, 13 Palmerston Road, London, SE2 3ED </strong>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
               <span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>
          </dl><br><br>



        <h2 class="govuk-heading-m"> Bespoke licence condition details
        </h2>


        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Bespoke condition
            </dt>
            <dd class="govuk-summary-list__value">
              You must not enter Tesco supermarket <br>290, 290A Lewisham Road <br>London, SE13 7PA
            </dd>
            <dd class="govuk-summary-list__actions">

              </a>
            </dd>
          </div>

        </dl>
<!--

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "approve",
          name: "approve",
          fieldset: {
            legend: {
              text: "Do you wish to approve this licence",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "Do we need hint text?"
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

-->


<form action="confirmation">

        {% from "govuk/components/button/macro.njk" import govukButton %}

{% if data.user=="admin"%}
<div class="govuk-button-group">
  {{ govukButton({
    text: "Send for approval"
  }) }}

  <a class="govuk-link" href="confirmation-rejected">Reject and send back to Probation</a><br /><br />

</div>
{%endif%}
{% if data.user=="governor"%}
<div class="govuk-button-group">
  {{ govukButton({
    text: "Approve"
  }) }}

  <a class="govuk-link" href="confirmation-rejected">Reject and send back to case admin</a><br /><br />

</div>
{%endif%}

<!--
<form action="confrimation">
<div class="govuk-button-group">
  {{ govukButton({
    text: "Continue"
  }) }}

</div>
-->
      </div>
    </div>



{% endblock %}
