{% extends "layouts/main.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}


<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
<a href="javascript:history.back()" class="govuk-back-link" style="margin-bottom:0">Back</a>
{% endblock %}

{% block content %}

{% include "layouts/layout-name.html" %}



<br />
<h1 class="govuk-heading-m">
<!--  <span class="govuk-caption-m">{% if data.edit=="yes" %}Edith Bradshaw{% else %}Adam Balasaravika{% endif %}
</span></h1>-->

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-from-desktop">

{% if data.needpss=="yes" %}
    {% if data.licencetypechoose=="pssonly" %}
      <h1 class="govuk-heading-l">{% if data.edit=="yes" %}Edit{% endif %}{% if data.vary=="yes" %}Vary{% else %}Check{% endif %} post sentence supervision order details </h1><br>
    {% else %}
      <h1 class="govuk-heading-l">{% if data.edit=="yes" %}Edit{% endif %}{% if data.vary=="yes" %}Vary{% else %}Check{% endif %} licence and post sentence supervision order details</h1><br>
    {% endif %}
{% else%}
      <h1 class="govuk-heading-l">{% if data.edit=="yes" %}Edit{% endif %}{% if data.vary=="yes" %}Vary{% else %}Check{% endif %} licence details</h1><br>
{% endif %}


        <h2 class="govuk-heading-m"> Initial meeting details</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
              {%if (data.inductionname) %}
                {{data.inductionname}}

              {% else %}
                Lara Toogood
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"></span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Address
            </dt>
            <dd class="govuk-summary-list__value">

              {%if (data.address1) %}
                {{data.address1}}

              {% else %}
                Lewisham Probation Office{% endif %},

              {%if (data.address2) %}{{data.address2}}

              {% else %}
                20 Brockley Street{% endif %},

              {%if (data.addresstown) %}
                {{data.addresstown}}

              {% else %}
                London{% endif %},

              {%if (data.addresscounty) %}{{data.addresscounty}},
                {% endif %}

              {%if (data.addresspostcode) %}
                {{data.addresspostcode}}

              {% else %}
                SE13 4HY
              {% endif %}


            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> licence type</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Contact phone number
            </dt>
            <dd class="govuk-summary-list__value">
              {%if (data.telephonenumber) %}{{data.telephonenumber}}
              {% else %}0798 443 0099
              {% endif %}


            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> </span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date
            </dt>
            <dd class="govuk-summary-list__value">
              {{ 14 | govukDate }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> </span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Time
            </dt>
            <dd class="govuk-summary-list__value">
              4:30pm
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"></span>
              </a>
            </dd>
          </div>
        </dl><br><br>

    



<div class="govuk-grid-row">

  <div class="moj-page-header-actions" style="margin-left: 15px;">

    <div class="moj-page-header-actions__title">
      <h1 class="govuk-heading-m">Additional licence conditions (26 selected)</h1>
    </div>
  
    <div class="moj-page-header-actions__actions">
  
      <div class="moj-button-menu">
        <div class="moj-button-menu__wrapper">
  
          <button class="govuk-button moj-button-menu__item govuk-button--secondary moj-page-header-actions__action" data-module="govuk-button">
            Add or remove conditions
          </button>
  
        </div>
      </div>
  
    </div>
  
  </div>
  
</div>




<dl class="govuk-summary-list govuk-!-margin-bottom-9">

<div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
Maintaining contact
</dt>
<dd class="govuk-summary-list__value">
  Receive home visits from a Mental Health Worker.
</dd>
<dd class="govuk-summary-list__actions">
<a class="govuk-link" href="#">
<span>Change</span>
</a>
</dd>
</div>


<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Disclosure of information
  </dt>
  <dd class="govuk-summary-list__value">
    To notify your supervising officer of the details of any passport that you possess (including passport number), and of any intention to apply for a new passport.
  </dd>
  <dd class="govuk-summary-list__actions">
  <a class="govuk-link" href="#">
  <span>Change</span>
  </a>
  </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Disclosure of information
    </dt>
    <dd class="govuk-summary-list__value">
      Notify your supervising officer of any developing personal relationships, whether intimate or not, with any person you know or believe to be resident in a household containing children under the age of 18. This includes persons known to you prior to your time in custody with whom you are renewing or developing a personal relationship with.
    </dd>
    <dd class="govuk-summary-list__actions">
    <a class="govuk-link" href="#">
    <span>Change</span>
    </a>
    </dd>
    </div>
  
</dl>
 

  

<!--bespoked conditions start-->

  <div class="moj-page-header-actions" style="padding-top: 60px;">

    <div class="moj-page-header-actions__title">
      <h1 class="govuk-heading-m">Bespoke licence conditions (0 selected)</h1>
    </div>
  
    <div class="moj-page-header-actions__actions">
  
      <div class="moj-button-menu">
        <div class="moj-button-menu__wrapper">
  
          <button class="govuk-button moj-button-menu__item govuk-button--secondary moj-page-header-actions__action" data-module="govuk-button">
            Add conditions
          </button>
  
        </div>
      </div>
  
    </div>
  
  </div>
  
<!--
  <dl class="govuk-summary-list govuk-!-margin-bottom-9">

    <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
    Bespoke condition
    </dt>
    <dd class="govuk-summary-list__value">
      Bla bla
    </dd>
    <dd class="govuk-summary-list__actions">
    <a class="govuk-link" href="#">
    <span>Change</span>
    </a>
    </dd>
    </div>
    
    
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
       Bespoke condition
      </dt>
      <dd class="govuk-summary-list__value">
        Bla bla
      </dd>
      <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
      <span>Change</span>
      </a>
      </dd>
      </div>
      
    </dl>
-->

    <!--bespoke conditions end-->




    <!--pss start-->

  <div class="moj-page-header-actions" style="padding-top: 60px;">

    <div class="moj-page-header-actions__title">
      <h1 class="govuk-heading-m">Additional post sentence supervision requirements (2 selected)</h1>
    </div>
  
    <div class="moj-page-header-actions__actions">
  
      <div class="moj-button-menu">
        <div class="moj-button-menu__wrapper">
  
          <button class="govuk-button moj-button-menu__item govuk-button--secondary moj-page-header-actions__action" data-module="govuk-button">
            Add or remove requirements
          </button>
  
        </div>
      </div>
  
    </div>
  
  </div>
  

  <dl class="govuk-summary-list govuk-!-margin-bottom-9">

    <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
    Drug appointment
    </dt>
    <dd class="govuk-summary-list__value">
      Attend Testing Centre, Petty France, London, as directed, to address your dependency on, or propensity to misuse, a controlled drug.</br></br>
      <strong>Testing Centre, Petty France, London</strong>
    </dd>
    <dd class="govuk-summary-list__actions">
    <a class="govuk-link" href="#">
    <span>Change</span>
    </a>
    </dd>
    </div>
    
    
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
       Drug testing
      </dt>
      <dd class="govuk-summary-list__value">
        Attend Testing Centre, Petty France, London, as reasonably required by your supervising officer, to give a sample of oral fluid / urine in order to test whether you have any specified Class A and specified Class B drugs in your body, for the purpose of ensuring that you are complying with the condition of your licence requiring you to be of good behaviour.</br></br>
        <strong>Testing Centre, Petty France, London</strong>
      </dd>
      <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#">
      <span>Change</span>
      </a>
      </dd>
      </div>
      
    </dl>


    <!--pss end-->


<form action="" method="post">

    <div class="govuk-button-group" style="width:500px; margin-top: 50px;">
      
      <button class="govuk-button" data-module="govuk-button" name="submit" value="continue">
        Send to prison for approval
      </button>
      <button class="govuk-button govuk-button--secondary">
      Return to caselist
      </button>
      </div>
 
      </form>
    </div>
  </div>






{% endblock %}
