{% extends "layouts/main.html" %}

{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
<a href="javascript:history.back()" class="govuk-back-link" style="margin-bottom:0">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-thirds">
        
        {% if data.user=="governor"%}
        <h1 class="govuk-heading-xl" style="margin-left: 15px;">Select someone to approve licences and supervision orders</h1>
        {% endif %}
       
    </div>
</div>


{% if (data.user=="governor") %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">


    <div class="moj-search govuk-!-margin-bottom-8">

      <form action="#" method="post">
    
        <div class="govuk-form-group">
          <label class="govuk-label moj-search__label govuk-!-font-weight-bold" for="search">
            Find a case
          </label>
    
          <div id="search-hint" class="govuk-hint moj-search__hint ">
            Search by name, prison number or probation practitioner
          </div>
    
          <input class="govuk-input moj-search__input " id="search" name="search" type="search" aria-describedby="search-hint">
        </div>
    
        <button class="govuk-button moj-search__button " data-module="govuk-button">
          Search
        </button>
    
      </form>
    </div>


</div>
</div>


{% endif %}





  {% if (data.user=="probation") or (data.user=="admin") or (data.user=="governor") %}
        <nav class="moj-sub-navigation" aria-label="Sub navigation">
         <ul class="moj-sub-navigation__list" style="margin-bottom:0px;">

  {% if data.user=="admin" %}
           <li class="moj-sub-navigation__item">
             <a class="moj-sub-navigation__link" aria-current="page" href="#1">Show active cases</a>
           </li>
           <li class="moj-sub-navigation__item">
             <a class="moj-sub-navigation__link" href="list-ca">Hide active cases</a>
           </li>
  {% elseif data.user=="governor" %}
           <li class="moj-sub-navigation__item">
             <a class="moj-sub-navigation__link" href="list">Approval needed</a>
           </li>
           <li class="moj-sub-navigation__item">
             <a class="moj-sub-navigation__link" aria-current="page" href="#">Recently approved</a>
           </li>
  {% else %}
            <li class="moj-sub-navigation__item">
              <a class="moj-sub-navigation__link" aria-current="page" href="#1">My cases</a>
            </li>
            <li class="moj-sub-navigation__item">
              <a class="moj-sub-navigation__link" href="list-team-view">Team cases</a>
            </li>
  {% endif %}
</nav>
<!-- 


           <li class="moj-sub-navigation__item">
             <a class="moj-sub-navigation__link" href="list-region-view">Region cases</a>
           </li> -->
<!-- 
            <li class="moj-sub-navigation__item" style=" float:right;"> -->
  
<!-- {% if data.user=="admin" %}
            <a href="list-search-ca">
  {% else %}
            <a href="list-search">
  {% endif %}


          <button class="govuk-button moj-search__button " data-module="govuk-button" >
             Search
           </button>
         </a>
           </li>
           <li class="moj-sub-navigation__item" style=" float:right; ">
             <input class="govuk-input moj-search__input;" style="font-size:.8em;" size="51" id="search" name="search" type="search" aria-describedby="search-hint"
             {% if data.user=="probation"%} placeholder="You can search by name, CRN or probation practitioner" {% else %} placeholder="Search by name, prison number or probation practitioner"{% endif %}>
          </li>-->
         </ul>
       </nav> 
  {% endif %}


  {% if data.user=="governor"%}
        <h2 class="govuk-heading-l">Recently approved</h2>
        {% endif %}

  {% if (data.user=="governor") or (data.user=="admin") %}
       <div class="govuk-phase-banner" style=" margin:20px 0 0px 0;">
         <p>
            Showing:
            <strong style="margin-right:10px;">
              {% if (data.PrisonSelectedCardiff=="true") %}
              Cardiff (HMP)
              {% endif %}

              {% if (data.PrisonSelectedBerwyn=="true") %}
                {% if (data.PrisonSelectedCardiff=="true") %}
                ,
                {% endif %}
              Berwyn (HMP)
              {% endif %}

              {% if (data.PrisonSelectedHusk=="true") %}
                {% if (data.PrisonSelectedCardiff=="true") or (data.PrisonSelectedBerwyn=="true") %}
                ,
                {% endif %}
              Husk (HMP)
              {% endif %}

              {% if (data.PrisonSelectedPrescoed=="true") %}
                {% if (data.PrisonSelectedCardiff=="true") or (data.PrisonSelectedBerwyn=="true") or (data.PrisonSelectedHusk=="true") %}
                ,
                {% endif %}
              Prescoed (HMP)
              {% endif %}
              {% if (data.PrisonSelectedParc=="true") %}
                {% if (data.PrisonSelectedCardiff!="true") or (data.PrisonSelectedBerwyn=="true") or (data.PrisonSelectedHusk=="true") or (data.PrisonSelectedPrescoed=="true") %}
                ,
                {% endif %}
              Parc (HMP)
              {% endif %}

              {% if (data.PrisonSelectedCardiff!="true") and (data.PrisonSelectedBerwyn!="true") and (data.PrisonSelectedHusk!="true") and (data.PrisonSelectedPrescoed!="true") and (data.PrisonSelectedParc!="true") %}
               Cardiff (HMP)
              {% endif %}
            </strong>
              <a class="govuk-link" href="change-location">Change location</a>
            </p>
          </div>
{% endif %}

<table class="govuk-table" data-module="moj-sortable-table">
  <!--<caption class="govuk-table__caption govuk-table__caption--m">Month you apply</caption>-->
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header" aria-sort="none">Name</th>

      {% if data.user=="governor"%}
      <th scope="col" class="govuk-table__header" aria-sort="none">Prisoner number</th>
      {% endif %}

      {% if data.user!=="probation"%}
      <th scope="col" class="govuk-table__header app-custom-class"  aria-sort="none">Probation practitioner</th>
      {% endif %}
      {% if data.user=="probation"%}
      <!--<th scope="col" class="govuk-table__header app-custom-class"  aria-sort="none">CRN</th>-->
      <th scope="col" class="govuk-table__header app-custom-class" >Licence type</th>
      <th scope="col" class="govuk-table__header app-custom-class"  aria-sort="none">Probation practitioner</th>
      {% endif %}

      <th scope="col" class="govuk-table__header app-custom-class"  aria-sort="none">Release date</th>
      <th scope="col" class="govuk-table__header" aria-sort="none">Approved by</th>
      <th scope="col" class="govuk-table__header" aria-sort="descending">Approved on</th>
     
    </tr>
  </thead>
  <tbody class="govuk-table__body">

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><h3 class="govuk-heading-m govuk-!-margin-bottom-3" data-sort-value="3"><a href="/public/docs/Licence.pdf" target="_blank">Marc Callaghan</a></h3>
              <!--<span class="govuk-hint" style="font-size:.85em; margin-top:-10px;">CRN: A778288</span>-->
          </th>


            <td class="govuk-table__cell">G5662GI</td>
            <td class="govuk-table__cell"><a href="#">Simon Bentley</a></td>
            <td class="govuk-table__cell">{{ "today" |  duration(-4) | govukDate("truncate") }}</td>
            <td class="govuk-table__cell">Steven Smith</td>
            <td class="govuk-table__cell">{{ "today" |  duration(-6) | govukDate("truncate") }}</td>
      
            </tr>

    
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><h3 class="govuk-heading-m govuk-!-margin-bottom-3" data-sort-value="3"><a href="/public/docs/Licence.pdf" target="_blank">Sam Coles</a> </h3>
              <!--<span class="govuk-hint" style="font-size:.85em; margin-top:-10px;">CRN: A314402</span>-->
          </th>

            <td class="govuk-table__cell">G3447UA</td>
            <td class="govuk-table__cell"><a href="#">Lindsay Duncan</a></td>
            <td class="govuk-table__cell">{{ "today" |  duration(-20) | govukDate("truncate") }}</td>
            <td class="govuk-table__cell">Sarah Williams</td>
            <td class="govuk-table__cell">{{ "today" |  duration(-22) | govukDate("truncate") }}</td>
            
          </tr>

</tbody>
</table>

{% endblock %}
