{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Prototype
    </strong>
    
  </p>
</div>

 

{% endblock %}

{% block content %}
<div class="govuk-body account-info">
  <div>
      <span class="your-name" id="bannerUserName">Sam Smith UKPRN:123456 </span><a class="account-link" href="details" id="signout-link">Sign out</a>
  </div>


</div>


        
  <h1 class="govuk-heading-m">Richard Curtis
  <span class="govuk-caption-m">Prison number: A4145LG
  </span></h1>     

  
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-xl">Check your answers</h1>

        


        <h2 class="govuk-heading-m">Standard licence Conditions</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
           

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Leaders + managers
            </dt>
            <dd class="govuk-summary-list__value">
              2
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="many-vacancies">
                Change<span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Leaders + managers filled
            </dt>
            <dd class="govuk-summary-list__value">
              1
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="many-vacancies-filled">
                Change<span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Teacher vacancies
            </dt>
            <dd class="govuk-summary-list__value">
              Construction, Planning and the Built Environment - 4<br>
              Digital / ICT - 3<br>
              Performing arts - 1
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="vacancies-subject">
                Change<span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
          </div>

          

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Teacher vacancies filled
            </dt>
            <dd class="govuk-summary-list__value">
              Construction, Planning and the Built Environment - 4<br>
              Digital / ICT - 3<br>
              Performing arts - 1
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="filled-or">
                Change<span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
          </div>

          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Difficult to fill
            </dt>
            <dd class="govuk-summary-list__value">
              Construction, Planning and the Built Environment, Digital / ICT 
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="difficult">
                Change<span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
          </div>

          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Difficult reason
            </dt>
            <dd class="govuk-summary-list__value">
              Construction, Planning and the Built Environment - No applicants, A lack of specialist skills<br>
              Digital / ICT - No applicants, Looking for more pay
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="difficult-reason">
                Change<span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
          </div>

          
          


        </dl>

        <h2 class="govuk-heading-m">Staff</h2>
        

       
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
          Apprentices
            </dt>
            <dd class="govuk-summary-list__value">
              2
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="apprentices">
                Change
                <span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
          </div>

        </dl><br>





<h2 class="govuk-heading-m govuk-!-font-size-27">Check and submit</h2>

        <p class="govuk-body">By submitting, you are confirming that to the best of your knowledge, the details you are providing are correct.</p><br>

        <form action="/form-handler" method="post" novalidate>

          <input type="hidden" name="answers-checked" value="true">

          <a href="confirmation-provider" class="govuk-button show-continue">
         Submit your organisation’s information
    </a>
  &nbsp; &nbsp;

    <a href="start-staff-saved"  class="govuk-button govuk-button--secondary">Save and finish later</a>

        </form>

      </div>
    </div>
  
</div>

</fieldset><br>


        
       
      </div>
    </div>
  </main>
</div>


{% endblock %}