{% extends "layouts/main.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}


<link href="https://design-patterns.service.justice.gov.uk/assets/stylesheets/application.css" rel="stylesheet">
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
<a href="javascript:history.back()" class="govuk-back-link" style="margin-bottom:0">Back</a>
{% endblock %}

{% block content %}
{% include "templates/banners/layout-name-vary.html" %}
<h1 class="govuk-heading-l">
Licence variation request status
</h1>

<!--If the journey selected in config is non approved-->
{% if data.journey=="varynonapproved"%}
<form action="question" method="post">
<div class="govuk-button-group">
<a href="question" class="govuk-button govuk-button"  type="submit">Edit variation request</a>
<a href="discard-vary-confirm" class="govuk-button govuk-button--secondary moj-add-another__add-button govuk-!-margin-bottom-4"  type="submit">Discard variation</a>
</form>
</div>
{% endif %}

<!--If vary request done and submitted for avary and viewing back from case view-->
{% if (data.varycomplete=="yes") or (data.vary=="yes") %}
<form action="question" method="post">
<div class="govuk-button-group">
<a href="question" class="govuk-button govuk-button"  type="submit">Edit variation</a>
<a href="discard-vary-confirm" class="govuk-button govuk-button--secondary moj-add-another__add-button govuk-!-margin-bottom-4"  type="submit">Discard variation</a>
</form>
</div>
{% endif %}

{% if data.varycomplete=="yes"%}
{% include "layout-variation-approved-stage0-not-accordian.html" %}

{% else %}
  {% include "layout-variation-approved-stage2-not-accordian.html" %}


{% endif %}


<!--If vary request done and submitted for avary and viewing back from case view-->
{% if data.varycomplete=="yes"%}
<form action="question" method="post">
<div class="govuk-button-group">
<a href="question" class="govuk-button govuk-button"  type="submit">Edit variation</a>
<a href="discard-vary-confirm" class="govuk-button govuk-button--secondary moj-add-another__add-button govuk-!-margin-bottom-4"  type="submit">Discard variation</a>
</form>
</div>
{% endif %}


{% if data.journey=="varynonapproved"%}
<form action="question" method="post">
<div class="govuk-button-group">
<a href="question" class="govuk-button govuk-button"  type="submit">Amend variation request</a>
<a href="discard-vary-confirm" class="govuk-button govuk-button--secondary moj-add-another__add-button govuk-!-margin-bottom-4"  type="submit">Discard variation</a>
</form>
</div>
{% endif %}
    </div>


 </div>
</div>
</div>
</div>


{% endblock %}
