{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
<a href="javascript:history.back()" class="govuk-back-link" style="margin-bottom:0">Back</a>
{% endblock %}

{% block content %}
{% include "layout-name.html" %}<br />


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <form action="/VLO-consulting" method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading" id ="vloconsulting" for="vloconsulting">
              Have you consulted with the victim liaison officer (VLO) for this case?
            </h1>
          </legend>
          <div id="changed-name-hint" class="govuk-hint">
            
          </div>
          <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="vloconsulting" name="vloconsulting" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="vloconsulting">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="vloconsulting" name="vloconsulting" type="radio" value="not applicable">
              <label class="govuk-label govuk-radios__label" for="vloconsulting">
                Not applicable
              </label>
            </div>
          </div>
      
        </fieldset>
      </div>
    
      <div class="govuk-button-group">
        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
      </div>
        
    </form>


 </div>
</div>




{% endblock %}
