{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Prototype
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div><div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
<a href="javascript:history.back()" class="govuk-back-link" style="margin-bottom:0">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
      <div class="govuk-grid-column-three-thirds">
        <h1 class="govuk-heading-xl">Select a person to vary their licence </h1>

      </div>
</div>
<table class="govuk-table">
  <!--<caption class="govuk-table__caption govuk-table__caption--m">Month you apply</caption>-->
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header app-custom-class">Name</th>
      <th scope="col" class="govuk-table__header app-custom-class">Case reference number</th>
      <th scope="col" class="govuk-table__header app-custom-class">Actual release date</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">


    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><h3 class="govuk-heading-m govuk-!-margin-bottom-3">
        <a href="#" class="govuk-link govuk-link--no-visited-state">
          Nicolas John Westerman
        </a></h3></th>
      <td class="govuk-table__cell">X811208</td>
      <td class="govuk-table__cell">11 November 2021</td>
    </tr>


    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><h3 class="govuk-heading-m govuk-!-margin-bottom-3">
        <a href="#" class="govuk-link govuk-link--no-visited-state">
          Andrew John Garcia
        </a></h3></th>
      <td class="govuk-table__cell">X788000</td>
      <td class="govuk-table__cell">11 November 2021</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><h3 class="govuk-heading-m govuk-!-margin-bottom-3">
        <a href="see-conditions" class="govuk-link govuk-link--no-visited-state">
          {% if data.edit=="yes" %}Edith Bradshaw{% else %}Adam Balasaravika{% endif %}
        </a></h3></th>
      <td class="govuk-table__cell">X381306</td>
      <td class="govuk-table__cell">30 October 2021</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><h3 class="govuk-heading-m govuk-!-margin-bottom-3">
        <a href="#" class="govuk-link govuk-link--no-visited-state">
          Seamus Doherty
        </a></h3></th>
      <td class="govuk-table__cell">X314402</td>
      <td class="govuk-table__cell">19 November 2021</td>
    </tr>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><h3 class="govuk-heading-m govuk-!-margin-bottom-3">
        <a href="#" class="govuk-link govuk-link--no-visited-state">
          Marco Atkins

        </a></h3></th>
      <td class="govuk-table__cell">X911444</td>
      <td class="govuk-table__cell">20 November 2021</td>
    </tr>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><h3 class="govuk-heading-m govuk-!-margin-bottom-3">
        <a href="#" class="govuk-link govuk-link--no-visited-state">
          Milton Thompson
        </a></h3></th>
      <td class="govuk-table__cell">X887732</td>
      <td class="govuk-table__cell">23 November 2021</td>
    </tr>



    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><h3 class="govuk-heading-m govuk-!-margin-bottom-3">
        <a href="#" class="govuk-link govuk-link--no-visited-state">
          Jeremy Alan Ricketts
        </a></h3></th>
      <td class="govuk-table__cell">X669033</td>
      <td class="govuk-table__cell">25 November 2021</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><h3 class="govuk-heading-m govuk-!-margin-bottom-3">
        <a href="#" class="govuk-link govuk-link--no-visited-state">
          Elliot Raishbrook
        </a></h3></th>
      <td class="govuk-table__cell">X588111</td>
      <td class="govuk-table__cell">26 November 2021</td>
    </tr>



  </tbody>
</table>











{% endblock %}
