{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
<a href="javascript:history.back()" class="govuk-back-link" style="margin-bottom:0">Back</a>
{% block beforeContent %}


{% endblock %}

{% block content %}
<form action="/v18/conditions" method="post">
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
      Complete the licence condition</h1>
      </legend><br>
      <div class="govuk-form-group">
<p>{%if data.shownumbers=="yes"%}9A. {%endif%}Report to staff at [NAME OF APPROVED PREMISES] at [TIME / DAILY], unless otherwise authorised by your supervising officer. This condition will be reviewed by your supervising officer on a [WEEKLY / MONTHLY / ETC] basis and may be amended or removed if it is felt that the level of risk you present has reduced appropriately.</p>

  <div class="govuk-form-group">
    <label class="govuk-fieldset__legend--s" for="3c-address-town">
      Enter name of approved premises
    </label><br /><br />
    <input class="govuk-input govuk-input--width-30" id="3c-address-town" name="3c-address-town" type="text" autocomplete="3c-address-level2"></div>
    <br />

    <!--START set dynamic radio hide/show text-->
    {% from "govuk/components/radios/macro.njk" import govukRadios %}
    {% from "govuk/components/input/macro.njk" import govukInput %}

    {% set textHtmlOther %}
    {{ govukInput({
      id: "other-frequency",
      name: "Enter the other frequency",
      type: "tel",
      autocomplete: "tel",
      classes: "govuk-fieldset__legend--s govuk-input govuk-input--width-30",
      label: {
        text: "Enter the other frequency"
      }
    }) }}
    {% endset -%}

    {% set textHtmlReview %}
    {{ govukInput({
      id: "other-review",
      name: "Enter the other review period",
      type: "tel",
      autocomplete: "tel",
      classes: "govuk-fieldset__legend--s govuk-input govuk-input--width-30",
      label: {
        text: "Enter the other review period"
      }
    }) }}
    {% endset -%}

    {% set textHtmlTimesOne %}
    <div class="govuk-form-group">
    <div class="time-picker">
    <label class="govuk-fieldset__legend--s" for="Time">
     Enter the reporting time
    </label>
    <div id="passport-issued-hint" class="govuk-hint">
    For example, 9:30am or 2:55pm
    </div>
    <div class="govuk-date-input" id="passport-issued">
    <div class="govuk-date-input__item">
      <div class="govuk-form-group">
        <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
          Hour
        </label>
        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
    </div>
    <div class="govuk-date-input__item">
      <div class="govuk-form-group">
        <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
          Minute
        </label>
        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
    </div>
    <div class="govuk-date-input__item">
      <div class="govuk-form-group">
        <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
          am or pm
        </label>
        <select class="govuk-select" id="when-am" name="when-am">
          <option value="am" selected>am</option>
          <option value="pm">pm</option>
        </select>
      </div>
    </div>
    </div>
    <br /><br />
    </div>
    </div>
    {% endset -%}

    {% set textHtmlTimesTwo %}
    <div class="govuk-form-group">
    <div class="time-picker">
    <label class="govuk-fieldset__legend--s" for="Time">
     Enter the first reporting time
    </label>
    <div id="passport-issued-hint" class="govuk-hint">
    For example, 9:30am or 2:55pm
    </div>
    <div class="govuk-date-input" id="passport-issued">
    <div class="govuk-date-input__item">
      <div class="govuk-form-group">
        <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
          Hour
        </label>
        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
    </div>
    <div class="govuk-date-input__item">
      <div class="govuk-form-group">
        <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
          Minute
        </label>
        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
    </div>
    <div class="govuk-date-input__item">
      <div class="govuk-form-group">
        <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
          am or pm
        </label>
        <select class="govuk-select" id="when-am" name="when-am">
          <option value="am" selected>am</option>
          <option value="pm">pm</option>
        </select>
      </div>
    </div>
    </div>
    <br /><br />
    </div>
    </div>
    <div class="govuk-form-group">
    <div class="time-picker">
    <label class="govuk-fieldset__legend--s" for="Time">
     Enter the second reporting time
    </label>
    <div id="passport-issued-hint" class="govuk-hint">
    For example, 9:30am or 2:55pm
    </div>
    <div class="govuk-date-input" id="passport-issued">
    <div class="govuk-date-input__item">
      <div class="govuk-form-group">
        <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
          Hour
        </label>
        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
    </div>
    <div class="govuk-date-input__item">
      <div class="govuk-form-group">
        <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
          Minute
        </label>
        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
    </div>
    <div class="govuk-date-input__item">
      <div class="govuk-form-group">
        <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
          am or pm
        </label>
        <select class="govuk-select" id="when-am" name="when-am">
          <option value="am" selected>am</option>
          <option value="pm">pm</option>
        </select>
      </div>
    </div>
    </div>
    <br /><br />
    </div>
    </div>
    {% endset -%}
    <!--END set dynamic radio hide/show text-->

    {{ govukRadios({
      idPrefix: "other-frequency",
      name: "other-frequency",
      fieldset: {
        legend: {
          text: "Select when the person needs to report",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--s"
        }
      },

      items: [
      {
        value: "dailyeveryday",
        text: "Daily",
        conditional: {
          html: emailHtml
        }
      },
      {
        value: "dailyeveryday",
        text: "Monday to Friday",
        conditional: {
          html: emailHtml
        }
      },
      {
        value: "other",
        text: "Other",
        conditional: {
          html: textHtmlOther
        }
      }
      ]
    }) }}
    <br />

    {{ govukRadios({
      idPrefix: "contact2",
      name: "contact2",
      fieldset: {
        legend: {
          text: "Select how many times each day they need to report",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--s"
        }
      },
      hint: {
        text: "If you want to add more than 2 reporting times per day, this must be done as a bespoke condition approved by PPCS."
      },
      items: [
        {
          value: "once",
          text: "Once a day",
          conditional: {
            html: textHtmlTimesOne
          }
        },
        {
          value: "twice",
          text: "Twice a day",
          conditional: {
            html: textHtmlTimesTwo
          }
        }
      ]
    }) }}



<div class="govuk-form-group">

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{{ govukRadios({
  idPrefix: "other-review",
  name: "other-review",
  fieldset: {
    legend: {
      text: "Select a review period",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--s"
    }
  },
  hint: {
    text: ""
  },
  items: [
    {
      value: "weekly",
      text: "Weekly",
      conditional: {
        html: emailHtml
      }
    },
    {
      value: "monthly",
      text: "Monthly",
      conditional: {
        html: phoneHtml
      }
    },
    {
      value: "otherReview",
      text: "Other",
      conditional: {
        html: textHtmlReview
      }
    }
  ]
}) }}

<br />
  </div>
    <input type="hidden" name="9a" value="no">
    <div class="govuk-button-group">
    <button class="govuk-button" data-module="govuk-button" name="submit" value="continue">
      Continue
    </button>
    {%if data.vary!=="yes"%}
    <button class="govuk-button govuk-button--secondary" data-module="govuk-button" name="submit" value="exit">
      Save and exit
    </button>
    {% endif %}
    </div>
</form>
{% endblock %}
