{% extends "layout.html" %}

{% block beforeContent %}


<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
<a href="javascript:history.back()" class="govuk-back-link" style="margin-bottom:0">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-thirds">
    {% if data.user=="probation"%}
    <h1 class="govuk-heading-xl">Select a person to create licences and supervision orders</h1>
    {% endif %}

    {% if data.user=="governor"%}
    <h1 class="govuk-heading-xl">Select a person to approve their licence </h1>
    {% endif %}

    {% if data.user=="admin"%}
    <h1 class="govuk-heading-xl">Select a person to view or print licences and supervision orders</h1>
    {% endif %}
  </div>
</div>
  {% if data.journey=="varynonapproved"%}
  <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
      <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
        Important
      </h2>
    </div>
    <div class="govuk-notification-banner__content">
      <p class="govuk-notification-banner__heading" style="max-width:1100px;">
        There are current licence variation requests that need attention.
        <!--The approver has requested further information or amendments.-->
        <a class="govuk-notification-banner__link" href="team-filtered-referred"> Show these requests </a>.
      </p>
    </div>
  </div>
  {% endif %}

  <nav class="moj-sub-navigation" aria-label="Sub navigation">
   <ul class="moj-sub-navigation__list" style="margin-bottom:0px;">
     <li class="moj-sub-navigation__item">
       <a class="moj-sub-navigation__link"  href="list">My cases</a>
     </li>
     <li class="moj-sub-navigation__item">
       <a class="moj-sub-navigation__link" aria-current="page" href="#2">Team cases</a>
     </li>
     <li class="moj-sub-navigation__item">
       <!--<a class="moj-sub-navigation__link" href="list-region-view">Region cases</a>-->
     </li>
      <li class="moj-sub-navigation__item" style=" float:right;">
     <button class="govuk-button moj-search__button " data-module="govuk-button" >
       Search
     </button>
     </li>
     <li class="moj-sub-navigation__item" style=" float:right; ">
       <input class="govuk-input moj-search__input;" style="font-size:.8em;" size="51" id="search" name="search" type="search" aria-describedby="search-hint" placeholder="You can search by name, CRN or probation practitioner">
    </li>
    <li class="moj-sub-navigation__item" style="float:right; margin-top:10px;"><!--<strong>Find a person</strong>--></li>
   </ul>
 </nav>

<table class="govuk-table" data-module="moj-sortable-table">

  <!--<caption class="govuk-table__caption govuk-table__caption--m">Month you apply</caption>-->
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header" aria-sort="ascending">Name</th>

      {% if data.user!=="probation"%}
      <th scope="col" class="govuk-table__header govuk-table__cell"  aria-sort="none">Prison number</th>

      <th scope="col" class="govuk-table__header app-custom-class"  aria-sort="none">Probation practitioner</th>
      {% endif %}
      {% if data.user=="probation"%}
      <!--<th scope="col" class="govuk-table__header app-custom-class"  aria-sort="none">CRN</th>-->
      <!--<th scope="col" class="govuk-table__header app-custom-class"  aria-sort="none">CRN</th>-->
      <th scope="col" class="govuk-table__header app-custom-class" >Licence type</th>
      <th scope="col" class="govuk-table__header app-custom-class"  aria-sort="none">Probation practitioner</th>
      {% endif %}

      <th scope="col" class="govuk-table__header app-custom-class"  aria-sort="ascending">Release date</th>
      {% if data.user!=="governor"%}

      <th scope="col" class="govuk-table__header app-custom-class"  aria-sort="none">Licence status</th>
      {% endif %}

    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
          <a href="licence-history" class="govuk-link govuk-link--no-visited-state">
          Tracey McFarlane</a>
          <br />
            <span class="govuk-hint" style="font-size:0.7em; margin-top:5px;">CRN: 543635</span>
        </h3>
      </th>
      <!--<td class="govuk-table__cell">A381306</td>-->
      <td class="govuk-table__cell">Standard determinate</td>
      <td class="govuk-table__cell">
        <a href="probation-details">Elle McPherson<a/>
        </td>
      <td class="govuk-table__cell">30 Dec 2021</td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--green"> A<span style="text-transform: lowercase;">ctive</span></strong><br />
          </td>
        </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
          <a href="licence-history" class="govuk-link govuk-link--no-visited-state">
          Avary Bradshaw</a>
          <br />
            <span class="govuk-hint" style="font-size:0.7em; margin-top:5px;">CRN: 122345</span>
        </h3>
      </th>
      <!--<td class="govuk-table__cell">A381306</td>-->
      <td class="govuk-table__cell">Standard determinate</td>
      <td class="govuk-table__cell"><a href="probation-details">John Farrell<a/></td>
      <td class="govuk-table__cell">20 Dec 2021</td>
      <td class="govuk-table__cell">
      <strong class="govuk-tag govuk-tag--blue"> V<span style="text-transform: lowercase;">ariation submitted</span></strong><br /></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
          <a href="licence-history" class="govuk-link govuk-link--no-visited-state">
          Herbie Hyde</a>
          <br />
          <span class="govuk-hint" style="font-size:0.7em; margin-top:5px;">CRN: 9881221</span>


      </th>
          <!--<td class="govuk-table__cell">A381306</td>-->
          <td class="govuk-table__cell">Standard determinate</td>
          <td class="govuk-table__cell">
            <a href="probation-details">Sidra Malek<a/>
            </td>
          <td class="govuk-table__cell">19 Dec 2021</td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--green"> A<span style="text-transform: lowercase;">ctive</span></strong><br />
              </td>
            </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
              <a href="licence-history" class="govuk-link govuk-link--no-visited-state">
              Rajesh Damodaran</a>
              <br />
                <span class="govuk-hint" style="font-size:0.7em; margin-top:5px;">CRN: 547363</span>
            </h3>
          </th>
          <!--<td class="govuk-table__cell">A381306</td>-->
          <td class="govuk-table__cell">Standard determinate <br />Post sentence supervision</td>
          <td class="govuk-table__cell">
            <a href="probation-details">John Farrell<a/>
            </td>
          <td class="govuk-table__cell">11 Dec 2021</td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--green">A<span style="text-transform: lowercase;">ctive</span></strong>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">
                <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
                  <a href="licence-history" class="govuk-link govuk-link--no-visited-state">
                  Leroy Jenkins</a>
                  <br />
                    <span class="govuk-hint" style="font-size:0.7em; margin-top:5px;">CRN: 777723</span>
                </h3>
              </th>
              <!--<td class="govuk-table__cell">A381306</td>-->
              <td class="govuk-table__cell">Standard determinate</td>
              <td class="govuk-table__cell">
                <a href="probation-details">Nigella Farmage<a/>
                </td>
              <td class="govuk-table__cell">10 Dec 2021</td>
                  <td class="govuk-table__cell">
                    <strong class="govuk-tag govuk-tag--green">A<span style="text-transform: lowercase;">ctive</span></strong>
                  </td>
                </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">
                <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
                  <a href="licence-history" class="govuk-link govuk-link--no-visited-state">
                  Marco Pierre</a>
                  <br />
                    <span class="govuk-hint" style="font-size:0.7em; margin-top:5px;">CRN: 776622</span>
                </h3>
              </th>
              <!--<td class="govuk-table__cell">A381306</td>-->
              <td class="govuk-table__cell">Standard determinate </td>
              <td class="govuk-table__cell">
                <a href="probation-details">John Farrell<a/>
                </td>
              <td class="govuk-table__cell">6 Dec 2021</td>
                  <td class="govuk-table__cell">
                    <strong class="govuk-tag govuk-tag--yellow">V<span style="text-transform: lowercase;">ariation approved</span></strong>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">
                    <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
                      <a href="licence-history" class="govuk-link govuk-link--no-visited-state">
                      Leoni McMessi</a>
                      <br />
                        <span class="govuk-hint" style="font-size:0.7em; margin-top:5px;">CRN: 376533</span>
                    </h3>
                  </th>
                  <!--<td class="govuk-table__cell">A381306</td>-->
                  <td class="govuk-table__cell">Standard determinate</td>
                  <td class="govuk-table__cell">
                    <a href="probation-details">John Farrell<a/>
                    </td>
                  <td class="govuk-table__cell">2 Dec 2021</td>
                      <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--green">A<span style="text-transform: lowercase;">ctive</span></strong>
                          <span class="govuk-hint" style="font-size:0.8em; margin:5px 0 0 5px;">
                          </span>
                      </td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">
                        <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
                          <a href="licence-history" class="govuk-link govuk-link--no-visited-state">
                          Diamond Smith</a>
                          <br />
                            <span class="govuk-hint" style="font-size:0.7em; margin-top:5px;">CRN: 298673</span>
                        </h3>
                      </th>
                      <!--<td class="govuk-table__cell">A381306</td>-->
                      <td class="govuk-table__cell">Standard determinate <br />Post sentence supervision</td>
                      <td class="govuk-table__cell">
                        <a href="probation-details">Lewis Grabbam<a/>
                        </td>
                      <td class="govuk-table__cell">28 Nov 2021</td>
                      <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--green">A<span style="text-transform: lowercase;">ctive</span></strong>
                      </td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">
                        <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
                          <a href="licence-history" class="govuk-link govuk-link--no-visited-state">
                          Mike Wyzowski</a>
                          <br />
                            <span class="govuk-hint" style="font-size:0.7em; margin-top:5px;">CRN: 876567</span>
                        </h3>
                      </th>
                      <!--<td class="govuk-table__cell">A381306</td>-->
                      <td class="govuk-table__cell">Standard determinate</td>
                      <td class="govuk-table__cell">
                        <a href="probation-details">Lewis Grabbam<a/>
                        </td>
                      <td class="govuk-table__cell">26 Nov 2021</td>
                          <td class="govuk-table__cell">
                            <strong class="govuk-tag govuk-tag--green"> A<span style="text-transform: lowercase;">ctive</span></strong><br />
                          </td>
                        </tr>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">
                            <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
                              <a href="licence-history" class="govuk-link govuk-link--no-visited-state">
                              Rado Milosevic</a>
                              <br />
                                <span class="govuk-hint" style="font-size:0.7em; margin-top:5px;">CRN: 132977</span>
                            </h3>
                          </th>
                          <!--<td class="govuk-table__cell">A381306</td>-->
                          <td class="govuk-table__cell">Standard determinate</td>
                          <td class="govuk-table__cell">
                            <a href="probation-details">Sidra Malek<a/>
                            </td>
                          <td class="govuk-table__cell">11 Nov 2021</td>
                          <td class="govuk-table__cell">
                            <strong class="govuk-tag govuk-tag--green">A<span style="text-transform: lowercase;">ctive</span></strong>
                          </td>
                        </tr>
                      </tbody>
                    </table>
{% endblock %}
