{% extends "layouts/main.html" %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
<a href="javascript:history.back()" class="govuk-back-link" style="margin-bottom:0">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-thirds">
    <h1 class="govuk-heading-xl">Select a person to vary licences and supervision orders</h1>
  </div>
</div>


<div class="moj-search">

  <form action="#" method="post">

    <div class="govuk-form-group">
      <label class="govuk-label moj-search__label govuk-!-font-weight-bold" for="search">
        Find a person
      </label>

      <div id="search-hint" class="govuk-hint moj-search__hint ">
        You can search by name or CRN
      </div>

      <input class="govuk-input moj-search__input " value="Avary" id="search" name="search" type="search" aria-describedby="search-hint">
    </div>

    <button class="govuk-button moj-search__button " data-module="govuk-button">
      Search
    </button>

  </form>
</div>
<br /><br /><br />


<table class="govuk-table">
  <!--<caption class="govuk-table__caption govuk-table__caption--m">Month you apply</caption>-->
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header app-custom-class">Name</th>
        <th scope="col" class="govuk-table__header app-custom-class">CRN</th>
        <th scope="col" class="govuk-table__header app-custom-class">Licence type</th>
        <th scope="col" class="govuk-table__header app-custom-class">Actual release date</th>
        <th scope="col" class="govuk-table__header app-custom-class">Status</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
          <a href="licence-history" class="govuk-link govuk-link--no-visited-state">
          Avary Bradshaw
          </a>
        </h3>
      </th>
      <td class="govuk-table__cell">A381306</td>
      <td class="govuk-table__cell">Standard determinate <br />Post sentence supervision</td>
      <td class="govuk-table__cell">20 November 2021</td>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">A<span style="text-transform: lowercase;">ctive</span></strong></td>
    </tr>

  </table>
{% endblock %}
