{% extends "layouts/main.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}


<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
<a href="javascript:history.back()" class="govuk-back-link" style="margin-bottom:0">Back</a>
{% endblock %}

{% block content %}


{% include "layouts/layout-name-rodrigo.html" %}
  


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l" style="margin-top: 40px;">Licence changes not approved in time for release checks</h1>

      <p>You can no longer work on this licence because changes you made were not approved in time for the prison’s final release checks.</p>

      <p>This person will be released with the last approved version of the licence instead.</p>

      <p>Because this version of the licence will not contain your most recent changes, you should review it and then vary it to add any missing information needed. You can then submit a variation request to your PDU head.</p>
    
        <h2 class="govuk-heading-m">Initial appointment details</h2>
        <p>To request a change to this person’s appointment, contact HMP Wandsworth at omu.wandsworth@justice.gov.uk.</p>



        </div>
        </div>


        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full-from-desktop">
        
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
            
              John Farrell
             
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="meet-change">
                
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Address
            </dt>
            <dd class="govuk-summary-list__value">

                Probation Office, 79 East Hill, London SW18 2QE
              
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="address-change">
                
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Contact phone number
            </dt>
            <dd class="govuk-summary-list__value">
              020 8704 0200
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="phone-number-change">
                
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date
            </dt>
            <dd class="govuk-summary-list__value">
              {{ "today" | duration(2) | govukDate("truncate") }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="when-change">
                
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Time
            </dt>
            <dd class="govuk-summary-list__value">
              10:00am
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="when-change">
                
              </a>
            </dd>
          </div>
        </dl>



        <div class="govuk-grid-row">

          <div class="moj-page-header-actions" style="margin-left: 15px;">
        
            <div class="moj-page-header-actions__title">
              <h1 class="govuk-heading-m">Additional licence conditions (3)</h1>
            </div>
          
            
          </div>
          
        </div>
        
        
        
        
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        
        <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
        Maintaining contact
        </dt>
        <dd class="govuk-summary-list__value">
          Receive home visits from a Mental Health Worker.
        </dd>
        <dd class="govuk-summary-list__actions">
        <!--<a class="govuk-link" href="#">
        <span>Change</span>
        </a>-->
        </dd>
        </div>
        
        
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Disclosure of information
          </dt>
          <dd class="govuk-summary-list__value">
            To notify your supervising officer of the details of any passport that you possess (including passport number), and of any intention to apply for a new passport.
          </dd>
          <dd class="govuk-summary-list__actions">
            <!--<a class="govuk-link" href="#">
        <span>Change</span>
        </a>-->
          </dd>
          </div>
        
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Disclosure of information
            </dt>
            <dd class="govuk-summary-list__value">
              Notify your supervising officer of any developing personal relationships, whether intimate or not, with any person you know or believe to be resident in a household containing children under the age of 18. This includes persons known to you prior to your time in custody with whom you are renewing or developing a personal relationship with.
            </dd>
            <dd class="govuk-summary-list__actions">
              <!--<a class="govuk-link" href="#">
        <span>Change</span>
        </a>-->
            </dd>
            </div>
          
        </dl>
         
        
          
        
        <!--bespoked conditions start-->
        
          <div class="moj-page-header-actions" style="padding-top: 10px;">
        
            <div class="moj-page-header-actions__title">
              <h1 class="govuk-heading-m">Bespoke licence conditions (0)</h1>
            </div>
          
  
          
          </div>




    
<br>
        <form action="list" method="post">

          <button class="govuk-button" data-module="govuk-button" style="margin-top: -10px;">
            Return to case list
          </button>
          
        </form>


    </div>
  </div>






{% endblock %}
