{% extends "layouts/main.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}


<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
<a href="javascript:history.back()" class="govuk-back-link" style="margin-bottom:0">Back</a>
{% endblock %}

{% block content %}


{% include "layouts/layout-name-domingo.html" %}
  


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-l" style="margin-top: 40px;">APPROVED Licence has been created by prison</h1>

      <p>A licence for this person has been created by the prison because you did not get one approved in time for their final release checks.</p>

      <p>Once this person is released, you will need to review this licence and make any changes you require.</p> 
    
        <h2 class="govuk-heading-m">Initial appointment details</h2>
        <p>To request a change to this person’s appointment, contact HMP Wandsworth at omu.wandsworth@justice.gov.uk.
        </p>
        
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
            
              John Farrell
             
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="meet-change">
                
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Address
            </dt>
            <dd class="govuk-summary-list__value">

                Probation Office, 79 East Hill, London SW18 2QE
              
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="address-change">
                
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Contact phone number
            </dt>
            <dd class="govuk-summary-list__value">
              020 8704 0200
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="phone-number-change">
                
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date
            </dt>
            <dd class="govuk-summary-list__value">
              {{ "today" | duration(2) | govukDate("truncate") }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="when-change">
                
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Time
            </dt>
            <dd class="govuk-summary-list__value">
              10:00am
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="when-change">
                
              </a>
            </dd>
          </div>
        </dl>

        <h2 class="govuk-heading-m">Licence conditions</h2>
        <p>This licence contains:
        </p>

        <ul class="govuk-list govuk-list--bullet" style="margin-top: 10px; margin-bottom: 10px;">
          <li>standard conditions</li>
          <li>the following additional condition:</li>
          <p class="govuk-inset-text">Not to approach or communicate with any victims of your main offences without the prior approval of your supervising officer.</p>
        </ul>
          
        <p class="govuk-body">The prison cannot add any other additional or bespoke licence conditions.</p>

        </p>
<br><br>
        
      <a href="#" class="govuk-button" target="_blank">View and print licence PDF</a>
      <a href="/v23/list" class="govuk-button govuk-button--secondary">Return to case list</a>

    </div>
  </div>






{% endblock %}
