{% extends "layouts/main.html" %}
{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>

<a href="javascript:history.back()" class="govuk-back-link" style="margin-bottom:0">Back</a>


{% endblock %}

{% block content %}

<h1 class="govuk-heading-l" style="margin-bottom: -15px;">Create and vary a licence</h1>

<div class="homepage-content">
    <div class="govuk-width-container">
        <ul class="govuk-grid-row card-group">

            <li class="govuk-grid-column-one-third card-group__item">

                <div class="card card--clickable" data-test="global-search">
                    <h2 class="govuk-heading-m card__heading">
                        <a class="govuk-link card__link govuk-link--no-visited-state" href="list" >Create and edit a licence before a release date</a>
                    </h2>
                    <p class="govuk-body card__description">Create standard determinate licences and post sentence supervision orders for people in custody and send to prison for approval.</p>
                </div>

            </li>
            <li class="govuk-grid-column-one-third card-group__item">

                 <div class="card card--clickable" data-test="manage-prisoner-whereabouts">
                     <h2 class="govuk-heading-m card__heading">
                         <a class="govuk-link card__link govuk-link--no-visited-state" href="vary/list" >View and vary a licence after a release date</a>
                     </h2>
                     <p class="govuk-body card__description">Find standard determinate licences and post sentence supervision orders for people on licence and send variation requests to the PDU head for approval.</p>
                 </div>

             </li>


            <!-- <li class="govuk-grid-column-one-third card-group__item">

                <div class="card card--clickable" data-test="manage-prisoner-whereabouts">
                    <h2 class="govuk-heading-m card__heading">
                        <a class="govuk-link card__link govuk-link--no-visited-state" href="#" >Create and manage a  home detention curfew</a>
                    </h2>
                    <p class="govuk-body card__description">Set up a home detention curfew, including a post sentence supervision order.</p>
                </div>

            </li>

         <li class="govuk-grid-column-one-third card-group__item">

                <div class="card card--clickable" data-test="use-of-force">
                    <h2 class="govuk-heading-m card__heading">
                        <a class="govuk-link card__link govuk-link--no-visited-state" href="#" >Your home detention curfews</a>
                    </h2>
                    <p class="govuk-body card__description">Manage all your HNDs.</p>
                </div>

            </li>

            <li class="govuk-grid-column-one-third card-group__item">

                <div class="card card--clickable" data-test="establishment-roll">
                    <h2 class="govuk-heading-m card__heading">
                        <a class="govuk-link card__link govuk-link--no-visited-state" href="#" ></a>
                    </h2>
                    <p class="govuk-body card__description"></p>
                </div>

            </li>

            <li class="govuk-grid-column-one-third card-group__item">

                <div class="card card--clickable" data-test="secure-move">
                    <h2 class="govuk-heading-m card__heading">
                        <a class="govuk-link card__link govuk-link--no-visited-state" href="home" ></a>
                    </h2>
                    <p class="govuk-body card__description"></p>
                </div>

            </li>-->

        </ul>
    </div>
</div>
{% endblock %}
