{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      prototype
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
  

{% endblock %}

{% block content %}


<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Applications </h1>

      </div>
</div>



<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <h2 class="govuk-heading-m">Filters</h2>
  </div>
  <div class="govuk-grid-column-three-quarters">  
  
          <h2 class="govuk-heading-m">Applications</h2>
  
          

  
          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              
              <dd class="govuk-summary-list__value">
                <h3 class="govuk-heading-m govuk-!-margin-bottom-3">



                  
                  
<a href="one" class="govuk-link govuk-link"></a>
                Euston Place Dental Practice</h3><p>72 Guild Street<br>London<br>
                SE23 6FH</p>
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Submitted<span class="govuk-visually-hidden"></span>
                </a>
              </dd>
            </div><BR>
          
            <div class="govuk-summary-list__row">
              
              <dd class="govuk-summary-list__value">
                <a class="govuk-link" href="one">Somebody School</a><br>21 Good Street<br>Coventry<br>CV23 6ED
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Submitted<span class="govuk-visually-hidden"> previous application number</span>
                </a>
              </dd>
            </div>
            <br>
            <div class="govuk-summary-list__row">
              
              <dd class="govuk-summary-list__value">
                <a class="govuk-link" href="#">Car Crash Training Ltd</a><br>21 Good Street<br>Coventry<br>CV23 6ED
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Submitted<span class="govuk-visually-hidden"> previous application number</span>
                </a>
              </dd>
            </div>
           
          </dl>
  
        
          
  
        </div>
      </div>
    </main>
  </div>
</div>

  

         
      


{% endblock %}