{% extends "layouts/main.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
{% endblock %}

{% block content %}

{% include "layouts/layout-name-rick.html" %}<br />


<br />
<h1 class="govuk-heading-m">
<!--  <span class="govuk-caption-m">{% if data.edit=="yes" %}Edith Bradshaw{% else %}Adam Balasaravika{% endif %}
</span></h1>-->


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full-from-desktop">


  <h1 class="govuk-heading-l">Check licence details</h1>
  

  <div style="float:right;">

    <form action="" method="post">
      <div class="govuk-button-group">
           
        <a href="/v23/edit/question" class="govuk-button">Edit licence conditions</a>
        
  
      </div>
      {% if data.datetime=="yes" %}
      <div class="moj-banner moj-banner--success" role="region" aria-label="Success">
      
        <svg class="moj-banner__icon" fill="currentColor" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
          <path d="M25,6.2L8.7,23.2L0,14.1l4-4.2l4.7,4.9L21,2L25,6.2z" />
        </svg>
      
        <div class="moj-banner__message">Initial appointment details updated. You must now notify the prison so they can print the licence again</div>
      
      </div>
      {% endif %}

      
      <!--<div class="govuk-button-group">
      {{ govukButton({
        text: "Edit licence conditions"
      }) }}
      {{ govukButton({
        text: "Edit appointment conditions"
      }) }}

    </div>--> 
    
        <h2 class="govuk-heading-m"> Initial appointment details</h2>
        <span class="govuk-body">You can change these details without getting the licence reapproved. If so, you must notify the prison so they can print the licence again.</span>
        <br><br>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
              {%if (data.inductionname) %}
                {{data.inductionname}}

              {% else %}
                Samuel Toogood
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="meet-change">Change
                <span class="govuk-visually-hidden"></span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Address
            </dt>
            <dd class="govuk-summary-list__value">

              {%if (data.address1) %}
                {{data.address1}}

              {% else %}
                Lewisham Probation Office
              {% endif %},

              {%if (data.address2) %}
                {{data.address2}}

              {% else %}
                20 Brockley Street
              {% endif %},

              {%if (data.addresstown) %}
                {{data.addresstown}}

              {% else %}
                London
              {% endif %},

              {%if (data.addresscounty) %}
                {{data.addresscounty}},
                {% endif %}

              {%if (data.addresspostcode) %}
                {{data.addresspostcode}}

              {% else %}
                SE13 4HY
              {% endif %}


            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="address-change">Change
                <span class="govuk-visually-hidden"> licence type</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Contact phone number
            </dt>
            <dd class="govuk-summary-list__value">
              {%if (data.telephonenumber) %}{{data.telephonenumber}}
              {% else %}0798 443 0099
              {% endif %}


            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="phone-number-change">Change
                <span class="govuk-visually-hidden"> </span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date
            </dt>
            <dd class="govuk-summary-list__value">
              {%if (data.initialapptchange1) %}{{data.initialapptchange1}}
              {% else %} 22 December 2021
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="when-change2">Change
               </span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Time
            </dt>
            <dd class="govuk-summary-list__value">
              5:30pm
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="when-change">Change
              </span>
              </a>
            </dd>
          </div>


        </dl><br><br>




              <div class="govuk-grid-row">
                <div class="govuk-grid-column-three-quarters">
                  <h2 class="govuk-heading-m">Additional licence conditions details</h2>
                </div>
              </div>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
<!--
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="width:50%;">
              Needs additional conditions?
            </dt>
            <dd class="govuk-summary-list__value">

              Yes<br>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="question-change">

              </a>
            </dd>
          </div>
-->
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key" style="width:50%;">
              Select additional conditions
            </dt>
            <dd class="govuk-summary-list__value">
              6 additional conditions selected<br>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="conditions">

              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Restriction of residency
            </dt>
            <dd class="govuk-summary-list__value">
              Not to reside (not even to stay for one night) in the same household as any child under the age of 18 without the prior approval of your supervising officer.<br><br> <strong>Any child under 18</strong><br>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="additional/2a-change">

              </a>
            </dd>
          </div>




          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Contact with a person
            </dt>
            <dd class="govuk-summary-list__value">
              Not to have unsupervised contact with any children under the age of 18 without the prior approval of your supervising officer and / or Lewisham Social Services except where that contact is inadvertent and not reasonably avoidable in the course of lawful daily life.<br><br> <strong>Any children under 18</strong> <br> <strong>Lewisham Social Services</strong>


            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="additional/3a-change">

              </a>
            </dd>
          </div>




          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Contact with a person

            </dt>
            <dd class="govuk-summary-list__value">
              Not to contact or associate with John Smith without the prior approval of your supervising officer. <br><br><strong>John Smith</strong>


            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="additional/3f-change">

              </a>
            </dd>
          </div>



          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Programme and activities
            </dt>

            <dd class="govuk-summary-list__value">
              To comply with any requirements specified by your supervising officer for the purpose of ensuring that you address your drug behaviour problems. <br><br><strong>Drug</strong>

            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="additional/3j-change">

              </a>
            </dd>
          </div>


          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Programme and activities
            </dt>
            <dd class="govuk-summary-list__value">
              Not to undertake work or other organised activity which will involve a person under the age of 18, either on a paid or unpaid basis without the prior approval of your supervising officer <br><br><strong> Under the age of 18 </strong>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="additional/4a-change">

              </a>
            </dd>
          </div>


          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Items and documents
            </dt>
            <dd class="govuk-summary-list__value">
              Not to own or possess a smart phone  without the prior approval of your supervising officer. <br><br><strong> Smart phone </strong>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="additional/5h-change">

              </a>
            </dd>
          </div>


        <!--  <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Drug testing
            </dt>
            <dd class="govuk-summary-list__value">
              Attend as reasonably required by your supervising officer, to give a sample of oral fluid / urine in order to test whether you have any specified Class A and specified Class B drugs in your body, for the purpose of ensuring that you are complying with the condition of your licence requiring you to be of good behaviour.<br><br> <strong>Drug Centre Buildings, 13 Palmerston Road, London, SE2 3ED </strong>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">

              </a>
            </dd>
          </div>-->
        </dl><br /><br />

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-three-quarters">
            <h2 class="govuk-heading-m">Bespoke licence condition details</h2>
          </div>
        </div>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

      <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key" style="width:50%;">
        Select bespoke conditions
      </dt>
      <dd class="govuk-summary-list__value">
        1 condition selected<br>
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="bespoke">

        </a>
      </dd>
      </div>

      <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key" style="width:50%;">
        Bespoke condition
      </dt>
      <dd class="govuk-summary-list__value">
        You must not enter Tesco supermarket <br>290, 290A Lewisham Road <br>London, SE13 7PA<br>
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="conditions">

        </a>
      </dd>
      </div>
      </dl>





        <div class="govuk-grid-row">
          <div class="govuk-grid-column-three-quarters">
            <h2 class="govuk-heading-m">Additional post sentence requirements details</h2>
          </div>
        </div>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
<!--
      <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key" style="width:50%;">
        Needs Additional requirements?
      </dt>
      <dd class="govuk-summary-list__value">
        Yes<br>
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="pss">

        </a>
      </dd>
      </div>
-->
      <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key" style="width:50%;">
        Select Additional requirements
      </dt>
      <dd class="govuk-summary-list__value">
          2 additional requirement selected
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="pss">

        </a>
      </dd>
      </div>

      <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key" style="width:50%;">
        Drug appointments
      </dt>
      <dd class="govuk-summary-list__value">Attend Fake Addiction Centre, Fake Town, as directed, to address your dependency on, or propensity to misuse, a controlled drug.<br><br> <strong>  Fake Addiction Centre, Fake Town </strong>
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="conditions">

        </a>
      </dd>
      </div>

      <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key" style="width:50%;">
        Drug testing
      </dt>
      <dd class="govuk-summary-list__value">
        Attend Fake Police Station, Fake Town, as reasonably required by your supervisor, to give a sample of oral fluid / urine in order to test whether you have any specified Class A or specified Class B drugs in your body, for the purpose of ensuring that you are complying with the requirement of your supervision period requiring you to be of good behaviour.
        <br><br> <strong> Fake Police Station, Fake Town </strong>
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="conditions">

        </a>
      </dd>
      </div>
      </dl>
      <form action="edit-licence-check" method="post">
      <!--<div class="govuk-button-group">
        {{ govukButton({
          text: "Edit licence"
        }) }}

      </div>-->
      <div class="govuk-button-group">
           
        <a href="/v23/edit/question" class="govuk-button">Edit licence conditions</a>
       
      </div>

      </div>
    </div>



{% endblock %}
