{% extends "layouts/main.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Prototype
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-thirds">
    
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="nationality-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
          <h1 class="govuk-fieldset__heading">
            Select additional conditions
          </h1>
        </legend>
        <div id="nationality-hint" class="govuk-hint">
          Select all relevant conditions.
        </div>

        <h1 class="govuk-heading-l govuk-!-padding-top-7" id="">People, contact and relationships </h1>

        <h2 class="govuk-heading-m govuk-!-padding-top-7" id="">People and groups </h2>
        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="nationality" name="nationality" type="checkbox" value="british" aria-describedby="nationality-item-hint">
            <label class="govuk-label govuk-checkboxes__label" for="nationality">
              Do not contact anyone in prison or custody unless it’s approved by your probation officer first. <br> 
              This includes:
<ul class="govuk-list govuk-list--bullet">
  <li>contact through social media</li>
  <li>asking someone else to contact them for you</li>
  <li>leaving a message for them to find. </li>
</ul>

            </label>
            
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="nationality-2" name="nationality" type="checkbox" value="irish">
            <label class="govuk-label govuk-checkboxes__label" for="nationality-2">
              Do not have contact or meet with anyone associated (now or in the past) with [INSERTION] unless it’s approved by your probation officer.
            </label>
          </div>

          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="citizenship-conditional" name="citizen" type="checkbox" value="email" aria-controls="conditional-citizenship-conditional" aria-expanded="true">
              <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional">
                Do not have contact or meet with the person named - or anyone associated with them (now or in the past) unless it’s approved by your probation officer.
              </label>
            </div>
            <div class="govuk-checkboxes__conditional" id="conditional-citizenship-conditional">
              <div class="govuk-form-group">
                <label class="govuk-label" for="contact-by-email">
                  Enter persons name
                </label>
                <input class="govuk-input govuk-!-width-one-third" id="contact-by-email" name="contact-by-email" type="email" spellcheck="false">
              </div>
      
            </div>
           
            
          </div><br>
          
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="nationality-3" name="nationality" type="checkbox" value="other">
            <label class="govuk-label govuk-checkboxes__label" for="nationality-3">
            Do not have any contact with a known sex offender unless it’s approved by your probation officer. <br><br>

This does not apply when you attend a treatment programme or in your approved address to people living there.
            </label>
          </div>

          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="nationality-3" name="nationality" type="checkbox" value="other">
            <label class="govuk-label govuk-checkboxes__label" for="nationality-3">
              Tell your probation officer about any:

              <ul class="govuk-list govuk-list--bullet">
                <li>personal relationships with [INSERTION]</li>
                <li>personal relationships or friendships when the person lives with children under 18</li>
                <li>changes to those relationships - for example pregnancy or the end of the relationship. </li>
              </ul>
              
              This includes people you knew before you were in prison.
              
              Your probation officer will explain what types of relationships you need to tell them about.
              
            </label>
          </div>
        </div><br>
    
      
    <h2 class="govuk-heading-m govuk-!-padding-top-7" id="">Children and vulnerable adults</h2>
    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="nationality" name="nationality" type="checkbox" value="british" aria-describedby="nationality-item-hint">
            <label class="govuk-label govuk-checkboxes__label" for="nationality">
              Do not live or stay (even for one night) in the same place as [INSERTION] unless it’s approved by your probation officer.
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="nationality-2" name="nationality" type="checkbox" value="irish">
            <label class="govuk-label govuk-checkboxes__label" for="nationality-2">
            Do not have unsupervised contact with [INSERTION] unless it’s approved by your probation officer [and/or social services department name].<br><br>

              This does not apply where the contact is not on purpose and could not be reasonably avoided during daily life.
              
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="nationality-3" name="nationality" type="checkbox" value="other">
            <label class="govuk-label govuk-checkboxes__label" for="nationality-3">
              Do not enter or stay in sight of any [INSERTION] unless it’s approved by your probation officer.
            </label>
          </div>

          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="nationality-3" name="nationality" type="checkbox" value="other">
            <label class="govuk-label govuk-checkboxes__label" for="nationality-3">
              Do not take part in any work or activity (paid or unpaid) which involves [INSERTION] unless it’s approved by your probation officer.
            </label>
          </div>
        </div><br>

        <h2 class="govuk-heading-m govuk-!-padding-top-7" id="">Victims </h2>
        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="nationality" name="nationality" type="checkbox" value="british" aria-describedby="nationality-item-hint">
            <label class="govuk-label govuk-checkboxes__label" for="nationality">
              Do not approach or communicate with [INSERTION1] unless it’s approved by your probation officer [and/or social services department].

            </label>
            
          </div>
          

          
        </div><br><br>

        <h1 class="govuk-heading-l govuk-!-padding-top-7" id=""> Behaviour, health and drugs </h1>

        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="nationality" name="nationality" type="checkbox" value="british" aria-describedby="nationality-item-hint">
            <label class="govuk-label govuk-checkboxes__label" for="nationality">
              Follow all instructions your probation officer gives you as part of your rehabilitation for [INSERTION].
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="nationality-2" name="nationality" type="checkbox" value="irish">
            <label class="govuk-label govuk-checkboxes__label" for="nationality-2">
              Give a [INSERTION] sample to test you for specific drugs at the place your probation officer tells you to.<br><br>

              Do not do anything to affect the drug testing process.
              
              
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="nationality-3" name="nationality" type="checkbox" value="other">
            <label class="govuk-label govuk-checkboxes__label" for="nationality-3">
              Go where your probation officer tells you for help with your drug dependency or misuse.
            </label>
          </div>

          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="nationality-3" name="nationality" type="checkbox" value="other">
            <label class="govuk-label govuk-checkboxes__label" for="nationality-3">
              Go to all appointments arranged with  [INSERTION)
            </label>
          </div>
        </div><br>

        <br>

        <h1 class="govuk-heading-l govuk-!-padding-top-7" id="">Curfew, reporting and escorts
        </h1>

        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="nationality" name="nationality" type="checkbox" value="british" aria-describedby="nationality-item-hint">
            <label class="govuk-label govuk-checkboxes__label" for="nationality">
              Stay at [INSERTION] between [ISERTION] and [INSERTION] every day unless your probation officer tells you not to. <br>
Follow instructions your probation officer gives you so they know where you are.<br>

Your probation officer will review this condition every [week / month] and decide if it’s safe to change or remove it.
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="nationality-2" name="nationality" type="checkbox" value="irish">
            <label class="govuk-label govuk-checkboxes__label" for="nationality-2">
              Give a [INSERTION] sample to test you for specific drugs at the place your probation officer tells you to.<br><br>

              Do not do anything to affect the drug testing process.
              
              
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="nationality-3" name="nationality" type="checkbox" value="other">
            <label class="govuk-label govuk-checkboxes__label" for="nationality-3">
              Report to your probation officer within 2 working days if you return to the UK and islands before the end of your licence period. Your licence conditions will still apply.

            </label>
          </div>

          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="nationality-3" name="nationality" type="checkbox" value="other">
            <label class="govuk-label govuk-checkboxes__label" for="nationality-3">
              The police will take you to [INSERTION] on the day you’re released.
            </label>
          </div>
        </div><br>

        <br>

        <h1 class="govuk-heading-l govuk-!-padding-top-7" id="">Travel and transportation
        </h1>
        <h2 class="govuk-heading-m govuk-!-padding-top-7" id="">Passports and identification</h2>

        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="nationality" name="nationality" type="checkbox" value="british" aria-describedby="nationality-item-hint">
            <label class="govuk-label govuk-checkboxes__label" for="nationality">
              Tell your probation officer:
              <ul class="govuk-list govuk-list--bullet">
                <li>full details of any [INSERTION] you own</li>
                <li>if you apply for a new [INSERTION]  </li>
                
              </ul>

 
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="nationality-2" name="nationality" type="checkbox" value="irish">
            <label class="govuk-label govuk-checkboxes__label" for="nationality-2">
              Give your passport(s) to your probation officer and tell them if you are planning to apply for a new passport.
              
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="nationality-3" name="nationality" type="checkbox" value="other">
            <label class="govuk-label govuk-checkboxes__label" for="nationality-3">
              Tell your probation officer details of any vehicle you own, use regularly, or hire before you travel in them. This does not apply to public transport or private hire taxis.


            </label>
          </div>

          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="nationality-3" name="nationality" type="checkbox" value="other">
            <label class="govuk-label govuk-checkboxes__label" for="nationality-3">
              Do not travel in or on any privately-owned vehicle that you own or owned by someone else unless it’s approved by your probation officer. This does not apply to public transport or private hire taxis.
            </label>
          </div>

          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="nationality-3" name="nationality" type="checkbox" value="other">
            <label class="govuk-label govuk-checkboxes__label" for="nationality-3">
              Tell your probation officer full details of any reusable card you own or use on public transport, for example an Oyster card.
            </label>
          </div>
        </div><br>

        <br>

        <h1 class="govuk-heading-l govuk-!-padding-top-7" id="">Exclusion

        </h1>

        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="nationality" name="nationality" type="checkbox" value="british" aria-describedby="nationality-item-hint">
            <label class="govuk-label govuk-checkboxes__label" for="nationality">
              Do not go in [INSERTION] unless it’s approved by your probation officer.

          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="nationality-2" name="nationality" type="checkbox" value="irish">
            <label class="govuk-label govuk-checkboxes__label" for="nationality-2">
              Do not go in the specified area shown on the attached map unless it’s approved by your probation officer.
              
              
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="nationality-3" name="nationality" type="checkbox" value="other">
            <label class="govuk-label govuk-checkboxes__label" for="nationality-3">
              Only go to places of worship approved by your probation officer.

            </label>
          </div>

          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="nationality-3" name="nationality" type="checkbox" value="other">
            <label class="govuk-label govuk-checkboxes__label" for="nationality-3">
              The police will take you to [INSERTION] on the day you’re released.
            </label>
          </div>
        </div><br>

        <br>

        <br>

        <h1 class="govuk-heading-l govuk-!-padding-top-7" id="">Technology
        </h1>

        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="nationality" name="nationality" type="checkbox" value="british" aria-describedby="nationality-item-hint">
            <label class="govuk-label govuk-checkboxes__label" for="nationality">
              Electronic monitoring<br>You must:

              <ul class="govuk-list govuk-list--bullet"></ul>
                <li>allow an electronic tag to be installed on you </li>
                <li>allow access to your property to install and check any tagging equipment  </li>

                <li>not damage or interfere with your electronic tag</li>

                <li>make sure the tag is charged as instructed by your probation officer   </li>

                <li>report it immediately if the tag or equipment are not working - your probation officer will tell you who to contact </li>
                <li> allow access to your property to remove the electronic tag and any tagging equipment</li>
                
              </ul>

              

            

            </label>      

          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="nationality-2" name="nationality" type="checkbox" value="irish">
            <label class="govuk-label govuk-checkboxes__label" for="nationality-2">
              Stay at [INSERTION] between 5pm and midnight every day until your electronic tag is installed.

              
              
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="nationality-3" name="nationality" type="checkbox" value="other">
            <label class="govuk-label govuk-checkboxes__label" for="nationality-3">
              You will be subject to trail monitoring. Your electronic tag will monitor you everywhere you go. You must follow all instructions from your probation officer.
            </label>
          </div>

          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="nationality-3" name="nationality" type="checkbox" value="other">
            <label class="govuk-label govuk-checkboxes__label" for="nationality-3">
              Go for polygraph testing when your probation officer tells you to. 

Follow all instructions given by the person carrying out the polygraph testing.

            </label>
          </div>

          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="nationality-3" name="nationality" type="checkbox" value="other">
            <label class="govuk-label govuk-checkboxes__label" for="nationality-3">
              Go for polygraph testing when your probation officer tells you to. 

              Do not have more than one mobile phone or SIM card unless it’s approved by your probation officer. 

              Provide your probation officer with details of your mobile phone and SIM card.
              

            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="nationality-3" name="nationality" type="checkbox" value="other">
            <label class="govuk-label govuk-checkboxes__label" for="nationality-3">
              Only use a computer or device with internet at [location] or where your probation officer tells you

            </label>
          </div>

          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="nationality" name="nationality" type="checkbox" value="british" aria-describedby="nationality-item-hint">
            <label class="govuk-label govuk-checkboxes__label" for="nationality">
              Do not:

              <ul class="govuk-list govuk-list--bullet"></ul>
                <li>delete the user history on your mobile phone or device with internet  </li>
                <li>use any software or settings that stop your internet use being recorded </li>
                
              </ul>
            </label>
              <label class="govuk-label govuk-checkboxes__label" for="nationality-3">
                Do allow the police or your probation officer to inspect your mobile phone or device with internet.
  
              </label>

              <label class="govuk-label govuk-checkboxes__label" for="nationality">
                They may:

              <ul class="govuk-list govuk-list--bullet"></ul>
                <li>take your device to inspect it
                </li>
                <li>install monitoring software
                </li>
                
              </ul>

            </label> 
            <label class="govuk-label govuk-checkboxes__label" for="nationality-3">
              search where you live or your vehicle(s) for devices you have not told them about


            </label>     

          </div>


        </div><br>

        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="nationality" name="nationality" type="checkbox" value="british" aria-describedby="nationality-item-hint">
            <label class="govuk-label govuk-checkboxes__label" for="nationality">
              Get permission from your probation officer to buy, download, or use any software that:
              <label class="govuk-label govuk-checkboxes__label" for="nationality">
               

<ul class="govuk-list govuk-list--bullet">
  <li>encrypts information</li>
  <li>deletes information</li>
  <li>cleans your files or drives </li>
</ul>

            </label>
            
          </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="nationality-2" name="nationality" type="checkbox" value="irish">
          <label class="govuk-label govuk-checkboxes__label" for="nationality-2">
            Do not [INSERTION] [INSERTION] unless it’s approved by your probation officer.


            
            
          </label>
        </div>

        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="nationality-2" name="nationality" type="checkbox" value="irish">
          <label class="govuk-label govuk-checkboxes__label" for="nationality-2">
            Have available for inspection any device you use that can make or store digital images (including cameras and mobile phones with cameras) when asked by your probation officer and/or a police officer.
          </label>
        </div>

        <br>

        <h1 class="govuk-heading-l govuk-!-padding-top-7" id="">Possession, ownership and finances

        </h1>

        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="nationality" name="nationality" type="checkbox" value="british" aria-describedby="nationality-item-hint">
            <label class="govuk-label govuk-checkboxes__label" for="nationality">
              Do not own or use any [INSERTION] unless it’s approved by your probation officer.

          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="nationality-2" name="nationality" type="checkbox" value="irish">
            <label class="govuk-label govuk-checkboxes__label" for="nationality-2">
              Tell your probation officer about any [INSERTION] in your care.
              
              
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="nationality-3" name="nationality" type="checkbox" value="other">
            <label class="govuk-label govuk-checkboxes__label" for="nationality-3">
              Provide your probation officer with the full addresses of all premises and storage facilities you have access to. This includes business premises.


            </label>
          </div>

          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="nationality-3" name="nationality" type="checkbox" value="other">
            <label class="govuk-label govuk-checkboxes__label" for="nationality-3">
              Do not have more than [INSERTION] of cash (in any currency) unless it’s approved by your probation officer.

            </label>
          </div>

          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="nationality-3" name="nationality" type="checkbox" value="other">
            <label class="govuk-label govuk-checkboxes__label" for="nationality-3">
              Provide your probation officer with details of any bank accounts and credit cards you have access to.

Tell your probation officer details about any new bank accounts or credit cards you get access to. 

Your probation officer will review this condition every month and decide if it’s safe to change or remove it.


            </label>
          </div>

          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="nationality-3" name="nationality" type="checkbox" value="other">
            <label class="govuk-label govuk-checkboxes__label" for="nationality-3">
            Provide your probation officer with details of any third party bank account (or similar) you have access to or control of.




            </label>
          </div>

          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="nationality-3" name="nationality" type="checkbox" value="other">
            <label class="govuk-label govuk-checkboxes__label" for="nationality-3">
              Provide details to your probation officer of any money transfers to or from the UK which you send or receive.

            </label>
          </div>
        </div><br>
        
        <h1 class="govuk-heading-l govuk-!-padding-top-7" id="">Extremism

        </h1>

        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="nationality" name="nationality" type="checkbox" value="british" aria-describedby="nationality-item-hint">
            <label class="govuk-label govuk-checkboxes__label" for="nationality">
              Do not contact anyone who you know has been arrested, charged, or convicted of any extremist-related offence unless it’s approved by your probation officer. This includes:

contact through social media
asking someone else to contact them for you
leaving a message for them to find


          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="nationality-2" name="nationality" type="checkbox" value="irish">
            <label class="govuk-label govuk-checkboxes__label" for="nationality-2">
              Do not go to or organise any meetings or gatherings except for worship unless it’s approved by your probation officer.

              
              
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="nationality-3" name="nationality" type="checkbox" value="other">
            <label class="govuk-label govuk-checkboxes__label" for="nationality-3">
              Do not give any lecture, talk, or sermon (including acts of worship) unless it’s approved by your probation officer.



            </label>
          </div>

          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="nationality-3" name="nationality" type="checkbox" value="other">
            <label class="govuk-label govuk-checkboxes__label" for="nationality-3">
              Do not discuss or promote the grooming or influencing of an individual or group for extremism or radicalisation

            </label>
          </div>

          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="nationality-3" name="nationality" type="checkbox" value="other">
            <label class="govuk-label govuk-checkboxes__label" for="nationality-3">
              Do not organise or contribute to any demonstration, meeting, gathering or website unless it’s approved by your probation officer.

Your probation officer will review this condition every month and decide if it’s safe to change or remove it.



            </label>
          </div>

          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="nationality-3" name="nationality" type="checkbox" value="other">
            <label class="govuk-label govuk-checkboxes__label" for="nationality-3">
              <p class="govuk-body">Do not have any handwritten, printed or electronically-recorded material (unless it’s approved by your probation officer) which:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>contains encoded information</li>
  <li>promotes the destruction of hatred for any religious or ethnic group</li>
  <li>celebrates, justifies or promotes acts of violence</li>
  <li>contains information about military or paramilitary technology, weapons, techniques or tactics</li>
</ul>
              



            </label>
          </div>

          
        </div><br><br>

      </fieldset>
    </div><br>

   


          <a href="mental-health" class="govuk-button show-continue" style="display: inline;">
      Continue
    </a>
       
 </div>
</div>
        



{% endblock %}