{% extends "layouts/main.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        prototype
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>


{% endblock %}

{% block content %}




        <div class="govuk-grid-row flex">



    <div class="govuk-grid-column-three-quarters"><br>




        <h2 class="govuk-heading-l">Digital Prison Services</h2><br><br>

        <!-- <a href="what_data_do_you_want_to_submit" class="get-started govuk-!-font-size-19">Submit an ILR, EAS or ESF file</a> -->

        <div class="govuk-grid-row tile-group">

                <div class="govuk-grid-column-one-third tile">
                    <a class="min-height" href="caseload">
                        <span class="govuk-heading-s heading">Create a licence</span>
                        <span class="govuk-heading-xs heading">Start a new standard or bespoke licence</span>
                    </a>


                </div>

                <div class="govuk-grid-column-one-third tile">
                    <a class="min-height" href="#">
                        <span class="govuk-heading-s heading">Vary a licence</span>
                        <span class="govuk-heading-xs heading">Make changes to a standard or bespoke licence</span>
                    </a>

                </div>

                <div class="govuk-grid-column-one-third tile">
                    <a class="min-height" href="dash2">
                        <span class="govuk-heading-s heading">Home detention curfews</span>
                        <span class="govuk-heading-xs heading">Manage your HDCs      </span>
                    </a>

                </div>

                <!--<div class="govuk-grid-column-one-third tile">
                    <a class="min-height" href="#">
                        <span class="govuk-heading-s heading">Manage key workers</span>
                        <span class="govuk-heading-xs heading">Add and remove key workers from prisoners and manage individuals</span>
                    </a>
                    <div class="govuk-body govuk-!-font-size-19 warning-info">4 days left to submit</div>

                </div>

                <div class="govuk-grid-column-one-third tile">
                    <a class="min-height" href="#">
                        <span class="govuk-heading-s heading">Manage user accounts</span>
                        <span class="govuk-heading-xs heading">Manage accounts and groups for service users as a LSA or admin</span>
                    </a>

                </div>-->

            </div>





          <!-- <div class="govuk-grid-row tile-group">

                <div class="govuk-grid-column-one-third tile">
                        <a class="grey min-height-small" href="#">
                            <span class="govuk-!-font-size-19 govuk-!-font-weight-bold">Global search</span>

                        </a>
                        <div class="govuk-body warning-info-2"></div>
                        <span id="ob1" class="govuk-body onboarding-info">
                            <div class="arrow-up"></div>
                            <a class="close" href="#">Close</a>
                            View reports for submissions you’ve made during R05 (19/20)
                             <br>
                            <a href="#" class="govuk-button govuk-!-margin-top-2 next">Next</a>
                        </span>
                    </div>




                <div class="govuk-grid-column-one-third tile">
                        <a class="grey min-height-small" href="#">
                            <span class="govuk-!-font-size-19 govuk-!-font-weight-bold">COVID units</span> <br>
                            <span class="govuk-body govuk-!-font-size-16"></span>
                        </a>
                        <div class="govuk-body warning-info-2"></div>
                        <span id="ob6" class="govuk-body onboarding-info">
                                <div class="arrow-up"></div>
                                <a class="close" href="#">Close</a>
                                View your submission history for Funding Claims.
                                 <br>
                                <a href="#" class="govuk-button govuk-!-margin-top-2 next6">Next</a>
                            </span>
                    </div>


             <div class="govuk-grid-column-one-third tile">
                    <a class="grey min-height-small" href="qar">
                        <span class="govuk-!-font-size-19 govuk-!-font-weight-bold">QAR</span> <br>
                        <span class="govuk-body govuk-!-font-size-16">Qualification Achievement Rates </span>
                    </a>
                    <div class="govuk-body warning-info-2">View reports</div>
                    <span id="ob4" class="govuk-body onboarding-info">
                            <div class="arrow-up"></div>
                            <a class="close" href="#">Close</a>
                            View your qualification achievement rates. Reports for R01 are available now.
                             <br>
                            <a href="#" class="govuk-button govuk-!-margin-top-2 next4">Next</a>
                        </span>
                </div>

                <div class="govuk-grid-column-one-third tile">
                    <a class="grey min-height-small" href="frm">
                        <span class="govuk-!-font-size-19 govuk-!-font-weight-bold">FRM</span> <br>
                        <span class="govuk-body govuk-!-font-size-16">Funding Rules Monitoring</span>

                    </a>
                    <div class="govuk-body warning-info-2">R04 available</div>
                    <span id="ob5" class="govuk-body onboarding-info">
                            <div class="arrow-up"></div>
                            <a class="close" href="#">Close</a>
                            Funding Rules Monitoring give you an idea of any issues with your data you might need to address. Reports from R12 are available now.
                             <br>
                            <a href="#" class="govuk-button govuk-!-margin-top-2 next5">Next</a>
                        </span>
                </div>



        </div>
    </div>

    <div class="govuk-grid-column-one-quarter">


    </div>
    <div class="govuk-grid-column-one-quarter">

    </div>
</div> -->


{% endblock %}
