
<!--block start-->
<dl class="govuk-summary-list govuk-!-margin-bottom-9" style=" border:1px solid gray; background-color:#f5f5f5;">
  <div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key" style="padding-left:5px; background-color:#ebecf0;">
  Status and approver feedback
  <dd class="govuk-summary-list__value" style=" background-color:#ebecf0;">
  <br>
  </dd>
  <dd class="govuk-summary-list__actions" style=" background-color:#ebecf0;">
  <a class="govuk-link" href="question-change">
  <span> </span>
  </a>
  </dd>
  </div>
  <div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key" style="padding-left:5px;">
  Status
  <br />
  </dt>
  <dd class="govuk-summary-list__value">
    <strong>Variation approved</strong><br />
  </dd>


  <dd class="govuk-summary-list__actions" style="text-align:left;">
  <span>Alan Approver<br />PDU Head<br />
  14 March 2022</span>
  </dd>
  </div>

</dl><!--block end-->
      <!--block start-->
      <dl class="govuk-summary-list govuk-!-margin-bottom-9" style=" border:1px solid gray; background-color:#f5f5f5;">
        <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key" style="padding-left:5px; background-color:#ebecf0;">
      Probation practitioner's reason for the variation
        <dd class="govuk-summary-list__value" style=" background-color:#ebecf0;">
        <br>
        </dd>
        <dd class="govuk-summary-list__actions" style=" background-color:#ebecf0;">
        <a class="govuk-link" href="question-change">
        <span> </span>
        </a>
        </dd>
        </div>


      <div class="govuk-summary-list__row" style="background-color:#f5f5f5;">
      <dt class="govuk-summary-list__key" style="padding-left:5px;">
       Variation reason<br/><br />
      </dt>
      <dd class="govuk-summary-list__value">
      Due to recently moving areas we need to add a cerfew for his new address due to the imposing risk at night time hours.</dd>
      <dd class="govuk-summary-list__actions" style="text-align:left;">

      <span> By Paul Farmer<br />
        Probation practitioner<br />
      12 March 2022 </span>
      </dd>
      </div>
    </dl><!--block end-->

    <dl class="govuk-summary-list govuk-!-margin-bottom-9" style=" border:1px solid gray;">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key" style="padding-left:5px; background-color:#ebecf0;">
        Variation checklist
        </dt>
        <dd class="govuk-summary-list__value" style=" background-color:#ebecf0;">
        <br>
        </dd>
        <dd class="govuk-summary-list__actions" style=" background-color:#ebecf0;">
        <a class="govuk-link" href="question-change">
        <span> </span>
        </a>
        </dd>
        </div>
        <div class="govuk-summary-list__row" style="background-color:#f5f5f5;">
          <dt class="govuk-summary-list__key" style="padding-left:5px;">
          Consultations<br />
          </dt>
          <dd class="govuk-summary-list__value">
            Who have you checked this variation request with?<br />
          </dd>
          <dd class="govuk-summary-list__actions" style="text-align:left;">
          <span>Senior Probation officer
          <br/>Police</span>
          </dd>
        </div>
    </dl>
      <!--block start-->
      <dl class="govuk-summary-list govuk-!-margin-bottom-9" style=" border:1px solid gray;">
        <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key" style="padding-left:5px; background-color:#ebecf0;">
        Licence conditions added
        </dt>
        <dd class="govuk-summary-list__value" style=" background-color:#ebecf0;">
        <br>
        </dd>
        <dd class="govuk-summary-list__actions" style=" background-color:#ebecf0;">
        <a class="govuk-link" href="question-change">
        <span> </span>
        </a>
        </dd>
        </div>

        <div class="govuk-summary-list__row"  style="background-color:#f5f5f5;">
        <dt class="govuk-summary-list__key" style="padding-left:5px;">
        Curfew arrangement
        </dt>
        <dd class="govuk-summary-list__value">
        Confine yourself to remain at 929 Stanley Avenue, Milton Keynes, MK1 2JD initially from 9pm until 9am each day, and, thereafter, for such a period as may be reasonably notified to you by your supervising officer; and comply with such arrangements as may be reasonably put in place and notified to you by your supervising officer so as to allow for your whereabouts and your compliance with your curfew requirement be monitored (whether by electronic means involving your wearing an electronic tag or otherwise)<br>
        </dd>
        <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="question-change">
        <span>  </span>
        </a>
        </dd>
        </div>
      </dl><!--block end-->


      <!--block start-->
      <dl class="govuk-summary-list govuk-!-margin-bottom-9" style=" border:1px solid gray;">
        <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key" style="padding-left:5px; background-color:#ebecf0;">
        Licence conditions removed
        </dt>
        <dd class="govuk-summary-list__value" style=" background-color:#ebecf0;">
        <br>
        </dd>
        <dd class="govuk-summary-list__actions" style=" background-color:#ebecf0;">
        <a class="govuk-link" href="question-change">
        <span> </span>
        </a>
        </dd>
        </div>

        <div class="govuk-summary-list__row"  style="background-color:#f5f5f5;">
        <dt class="govuk-summary-list__key" style="padding-left:5px;">
        Bespoke condition
        </dt>
        <dd class="govuk-summary-list__value">
        You must not enter Tesco supermarket, 290 Lewisham Road <br>London, SE13 7PA<br>
        </dd>
        <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="question-change">
        <span>  </span>
        </a>
        </dd>
        </div>
      </dl><!--block end-->

          <!--block start-->
            <dl class="govuk-summary-list govuk-!-margin-bottom-9" style=" border:1px solid gray;">
              <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key" style="padding-left:5px; background-color:#ebecf0;">
              Licence conditions amended
              </dt>
              <dd class="govuk-summary-list__value" style=" background-color:#ebecf0;">
              <br>
              </dd>
              <dd class="govuk-summary-list__actions" style=" background-color:#ebecf0;">
              <a class="govuk-link" href="question-change">
              <span> </span>
              </a>
              </dd>
              </div>
              <div class="govuk-summary-list__row"  style="background-color:#f5f5f5;">
              <dt class="govuk-summary-list__key" style="padding-left:5px;">None
              </dt>
              <dd class="govuk-summary-list__value">
              <br>
              </dd>
              <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="question-change">
              <span>  </span>
              </a>
              </dd>
              </div>
            </dl><!--block end-->
