{% extends "layouts/main.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
<a href="javascript:history.back()" class="govuk-back-link" style="margin-bottom:0">Back</a>

{% endblock %}

{% block content %}
<form action="8a-overview" method="post">
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
          Complete the licence condition</h1>
      </legend><br>


      <div class="govuk-form-group">

<p>Not to enter the area of [CLEARLY SPECIFIED AREA], as defined by the attached map without the prior approval of your supervising officer.</p>

<div data-module="moj-add-another">
    <fieldset class="govuk-fieldset moj-add-another__item">
      <div class="govuk-form-group">


        <!--<div id="waste-hint" class="govuk-hint">
          If you have not been sent a map of the area this person must not enter, you can create one on <a class="govuk-link govuk-link--no-visited-state" href="">Mapmaker</a>.</br>You can add another map next if you need to.
        </div>-->
        


          <label class="govuk-fieldset__legend--s" for="1a-answer">
            Enter the name of the area shown on the map
          </label>
      
          
          <br />

          <input class="govuk-input govuk-input--width-30" id="exclusionzone-name2" name="exclusionzone-name2" type="text">
          
          <br />


         <div class="govuk-form-group" style="margin-top: 30px;">
          <label class="govuk-label" for="file-upload-1">
           <strong>Select a map of the area they must not enter to include in the licence</strong>
          </label>
            <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
        </div>         
    </fieldset>

    <h2 class="govuk-heading-m" style="margin-top: 50px;">Help with this licence condition<h2>

      <details class="govuk-details" data-module="govuk-details" style="margin-top: 20px;">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            If you need to add more than one map
          </span>
        </summary>
        <div class="govuk-details__text">
         Add your first map on this page. You can add more from the next page.
        </div>
      </details>
  
      <details class="govuk-details" data-module="govuk-details" style="margin-top: -20px;">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            If you do not have a map
          </span>
        </summary>
        <div class="govuk-details__text">
          You can create one on <a class="govuk-link govuk-link--no-visited-state" href="">Map Maker</a>.
        </div>
      </details>

  
    <div class="govuk-button-group" style="margin-top: 60px;">
    <button class="govuk-button" data-module="govuk-button" name="submit" value="continue">
      Continue
    </button>

    <a class="govuk-link govuk-link--no-visited-state" href="8a-overview">Cancel</a>

    <!--<input type="hidden" value="no" name="8a">
    {%if data.vary!=="yes"%}
    <button class="govuk-button govuk-button--secondary" data-module="govuk-button" name="submit" value="exit">
      Delete this condition
    </button>
    {% endif %}-->

    </div>
</form>
{% endblock %}
