{% extends "layouts/main.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
<a href="javascript:history.back()" class="govuk-back-link" style="margin-bottom:0">Back</a>
{% block beforeContent %}


{% endblock %}

{% block content %}
<form action="/v20/conditions" method="post">
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
          Complete the licence condition</h1>
      </legend><br>


      <div class="govuk-form-group">

<p>Not to enter [NAME/TYPE OF PREMISES / ADDRESS / ROAD] without the prior approval of your supervising officer.</p>

<div data-module="moj-add-another">
    <fieldset class="govuk-fieldset moj-add-another__item">
      <div class="govuk-form-group">

          <label class="govuk-fieldset__legend--s" for="1a-answer">
            Enter name or type of premises

          </label><br />
          <input class="govuk-input govuk-input--width-30" id="3f-answer-department" name="3g-answer-department" type="text" autocomplete="3g-answer-individual">
          <br />
          <label class="govuk-fieldset__legend--s" for="1a-answer"><br />
          Enter an address or part of an address<br /><br />
          </label>

          <label class="govuk-fieldset__legend--s" for="address-line-1">
            Building and street<br /> <span class="govuk-visually-hidden">line 1 of 2</span>
          </label>
          <input class="govuk-input govuk-input--width-30" id="address-line-1" name="3c-address-line-1" type="text" autocomplete="address-line1">


          <label class="govuk-label" for="address-line-2">
            <span class="govuk-visually-hidden">Building and street line 2 of 2</span>
          </label><br />
          <input class="govuk-input govuk-input--width-30" id="3c-address-line-2" name="3c-address-line2" type="text" autocomplete="3c-additional-address-line2">
<br /><br /><br />
          <div class="govuk-form-group">
          <label class="govuk-fieldset__legend--s" for="3c-address-town">
            Town or city
          </label><br />
          <input class="govuk-input govuk-input--width-30" id="3c-address-town" name="3c-address-town" type="text" autocomplete="3c-address-level2"></div>

          <div class="govuk-form-group">
          <label class="govuk-fieldset__legend--s" for="3c-address-county">
            County
          </label><br />
          <input class="govuk-input govuk-input--width-30" id="3c-address-county" name="3c-address-county" type="text"></div>

          <div class="govuk-form-group">
          <label class="govuk-fieldset__legend--s" for="3c-address-postcode">
            Postcode
          </label><br />
          <input class="govuk-input govuk-input--width-10" id="3c-address-postcode" name="3c-address-postcode" type="text" autocomplete="3c-postal-code">
          </div><br>
      </div>
    </fieldset>
    <div class="moj-button-action">
      <br />
      <button class="govuk-button govuk-button--secondary moj-add-another__add-button govuk-!-margin-bottom-4" data-module="govuk-button">
        Add another premisies
      </button><br>
      </div>
    </div>
    <div class="govuk-button-group">
    <button class="govuk-button" data-module="govuk-button" name="submit" value="continue">
      Continue
    </button>
    <input type="hidden" value="no" name="8a">
    {%if data.vary!=="yes"%}
    <button class="govuk-button govuk-button--secondary" data-module="govuk-button" name="submit" value="exit">
      Save and exit
    </button>
    {% endif %}
    </div>
</form>
{% endblock %}
