{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-four-quarters">

    {% include "govuk-prototype-kit/includes/homepage-top.njk" %}


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">Prototypes: Create and vary a licence</h1><br />

    
        <h1 class="govuk-heading-m">Related links</h2>
        <p><a target="_blank" href="https://docs.google.com/spreadsheets/d/142ATa7Lvrxg2B8dAeXQtz0W91FKXTom4Phy-Q2yK_9U/edit#gid=0">content docs</a></br>
            <a target="_blank" href="https://docs.google.com/document/d/1tDTDFytOFR-KnOpqWeOIASf5ZlqEq4tGkfGUvoc6CNQ/edit?usp=sharing">dummy users and journeys</a></br>
            <a target="_blank" href="https://miro.com/app/board/o9J_l2WrXDw=/?moveToWidget=3074457365550066785&cot=14">proto scenarios (miro board)</a></br>
            <a href="HOWTO">How to create a new prototype version</a></p></br>
      
    
    <!--Tabs start-->
  
        <div class="govuk-tabs" data-module="govuk-tabs">
          <h2 class="govuk-tabs__title">
            Contents
          </h2>
          <ul class="govuk-tabs__list">
            <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
              <a class="govuk-tabs__tab" href="#current-prototype">
                Current prototype
              </a>
            </li>
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#previous-prototypes">
                Previous prototypes
              </a>
            </li>
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#design-explorations">
                Design explorations
              </a>
            </li>
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#archive">
                Archive
              </a>
            </li>
          </ul>


<!--Tab: Current prototype-->

          <div class="govuk-tabs__panel" id="current-prototype">


            <h2 class="govuk-heading-l">Current prototype</h2>
            
            <p>Prototype Kit Version 13</p>

            <p><a href="manage-prototype/clear-data">Clear data</a> before using</p>
  
          </div>



<!--Tab: Previous prototypes-->      



<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="previous-prototypes">

  <h2 class="govuk-heading-l">Previous prototypes</h2>

  <p>Prototype Kit Version 13</p>
  





</div>



<!--Tab: Design explorations-->

          <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="design-explorations">
            <h2 class="govuk-heading-l">Design explorations</h2>
           

              <p><strong>Create-immigration-detention-licence</strong></br>
              <a href="#" class="govuk-link govuk-link--no-visited-state">????</a></br>
              1 round of user research, whole journey in version xxx</p>
              
          </div>






          <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="archive">

            <h2 class="govuk-heading-l">Archive</h2>
            
            <h3 class="govuk-heading-m">Designs from Farsight</h3>

            <p>Prototype Kit Version 9</p>

            
            <!--content start-->


            <!--content end-->

            
          </div>








        </div>

<!--Tabs end-->


    {% include "govuk-prototype-kit/includes/homepage-bottom.njk" %}
  </div>
</div>

{% endblock %}
