{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-four-quarters">

    {% include "govuk-prototype-kit/includes/homepage-top.njk" %}


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">Prototypes: Create and vary a licence</h1><br />

    
        <h1 class="govuk-heading-m">Related links</h2>
        <p><a target="_blank" href="https://docs.google.com/spreadsheets/d/142ATa7Lvrxg2B8dAeXQtz0W91FKXTom4Phy-Q2yK_9U/edit#gid=0">content docs</a></br>
            <a target="_blank" href="https://docs.google.com/document/d/1tDTDFytOFR-KnOpqWeOIASf5ZlqEq4tGkfGUvoc6CNQ/edit?usp=sharing">dummy users and journeys</a></br>
            <a target="_blank" href="https://miro.com/app/board/o9J_l2WrXDw=/?moveToWidget=3074457365550066785&cot=14">proto scenarios (miro board)</a></br>
            <a href="HOWTO">How to create a new prototype version</a></p></br>
      
    
    <!--Tabs start-->
  
        <div class="govuk-tabs" data-module="govuk-tabs">
          <h2 class="govuk-tabs__title">
            Contents
          </h2>
          <ul class="govuk-tabs__list">
            <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
              <a class="govuk-tabs__tab" href="#current-prototype">
                Current prototype
              </a>
            </li>
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#previous-prototypes">
                Past prototypes
              </a>
            </li>
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#design-explorations">
                Design explorations
              </a>
            </li>
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#archive">
                Archive
              </a>
            </li>
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#ur">
                User research
              </a>
            </li>
          </ul>


<!--Tab: Current prototype-->

          <div class="govuk-tabs__panel" id="current-prototype">


            <h2 class="govuk-heading-l">Current prototype</h2>
            
            <h3 class="govuk-heading-m">Designs from Elephants</h3>

            <p>Prototype Kit Version 13</p>


            <div class="govuk-inset-text">
              
              <h4 class="govuk-heading-s">How to use the prototype</h4>

              <p>1. <a class="govuk-link govuk-link--no-visited-state" href="manage-prototype/clear-data">Clear data</a> before starting a new journey</p>
              <p style="margin-top: -10px; margin-bottom: 10px;">2. <a class="govuk-link govuk-link--no-visited-state" href="v22/config">View CVL prototype v22</a> and choose the journey as listed below</p>




            </div>




            
            <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header" style="width: 400px;">User journey</th>
                  <th scope="col" class="govuk-table__header" style="width: 230px;">Task</th>
                  <th scope="col" class="govuk-table__header">Ticket</th>
                  <th scope="col" class="govuk-table__header" style="width: 170px;">Status</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">


                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Probation Practitioner (Create/Vary)</br>Click on [Fake name in proto] to see designs</td>
                  <td class="govuk-table__cell">Search</td>
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="https://dsdmoj.atlassian.net/browse/CVSL-1122" target="_blank">CVSL-1122</a></td>
                  <td class="govuk-table__cell"><strong class="govuk-tag" style="background: blue;">I<span style="text-transform: lowercase;">n design</span></strong></td>
                </tr>
                

              </tbody>
            </table>


            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Copy this code to add a new row
                </span>
              </summary>
              <div class="govuk-details__text">
                
                <!--COPY THIS TABLE ROW - START OF THE TEMPLATE TO ADD ANOTHER DESIGN TASK-->

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <strong>Template</strong></br>
                    [Probation Practitioner/Prison Approver/Prison Admin/PDU Head]</br></br> 
                    [Create/Vary/Approve licence/Print licence/Approve variation]</br></br> 
                    Click on [Fake name in proto] to see designs</td>
                  <td class="govuk-table__cell">[Add task or feature description]</td>
                  <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#" target="_blank">[CVSL-XXXX]</a></td>
                  <td class="govuk-table__cell">
                    [Choose a status]</br></br>
                    <strong class="govuk-tag" style="background: blue;">I<span style="text-transform: lowercase;">n design</span></strong></br></br>  
                    <strong class="govuk-tag" style="background: green;">R<span style="text-transform: lowercase;">eady for research</span></strong></br></br>  
                    <strong class="govuk-tag" style="background: red;">F<span style="text-transform: lowercase;">inal design</span></strong></br></br>  
                  </td>
                </tr>

                <!--END OF THE TEMPLATE TO ADD ANOTHER DESIGN TASK-->
                
              </div>
            </details>


                

  
          </div>



<!--Tab: Previous prototypes-->      



<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="previous-prototypes">

  <h2 class="govuk-heading-l">Previous prototypes</h2>

  <p>Prototype Kit Version 13</p>
  

<!--content start-->



<table class="govuk-table">
  <thead class="govuk-table__head" >
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Version</th>
      <th scope="col" class="govuk-table__header">Status</th>
      <th scope="col" class="govuk-table__header">Notes</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">



    <tr class="govuk-table__row">
      <td class="govuk-table__cell" >
        <a href="/v21/config" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-27 govuk-!-font-weight-bold">v21</a>
      </td>
      <td class="govuk-table__cell" style="min-width: 250px;" >
          <!--<strong class="govuk-tag" style="background: blue;">I<span style="text-transform: lowercase;">n design</span>
        </strong>-->
        <strong class="govuk-tag" style="background: green;">R<span style="text-transform: lowercase;">eady for research</span>
        </strong>
      </td>
      <td class="govuk-table__cell">
        
        <ul>
          <li>Vary journey content updates (Tom)</li>
          <li>PP - Create/Vary - Info banner that licence conditions are being updated <a href="https://trello.com/c/rsNN6eFu" class="govuk-link govuk-link--no-visited-state">Trello 1417</a></li>
          <li>PP - Create/Vary - Auto populate 14b end date <a href="https://trello.com/c/n0djiijh" class="govuk-link govuk-link--no-visited-state">Trello 1419</a> >> <a href="https://hmpps-licenses-prototype.apps.live.cloud-platform.service.justice.gov.uk/v21/additional/14b" class="govuk-link govuk-link--no-visited-state">Jump to page</a></li></br>
          <li>PP - Create/Vary - Educate PPs about immigration cases <a href="https://trello.com/c/Uy8JtNK7" class="govuk-link govuk-link--no-visited-state">Trello 1424</a>
          <li>PP - Create - <a href="v21/vary/is91-vary/is91-email.html"class="govuk-link govuk-link--no-visited-state">Email – Create a licence for someone approaching immigration detention</a></li></br>
          <li>PP - Create/Vary - Multiple curfew times <a href="https://trello.com/c/YxKHE8Yd" class="govuk-link govuk-link--no-visited-state">Trello 1397</a> >> <a href="https://hmpps-licenses-prototype.apps.live.cloud-platform.service.justice.gov.uk/v21/additional/7a" class="govuk-link govuk-link--no-visited-state">Jump to page</a></li>
          <li>PP - Create/Vary - Reporting times AP - new guidance <a href="https://trello.com/c/YxKHE8Yd" class="govuk-link govuk-link--no-visited-state">Trello 1397</a> >> <a href="https://hmpps-licenses-prototype.apps.live.cloud-platform.service.justice.gov.uk/v21/additional/9a" class="govuk-link govuk-link--no-visited-state">Jump to page</a></li>
          <li>PP - Create/Vary - Reporting times Police Station - new guidance <a href="https://trello.com/c/YxKHE8Yd" class="govuk-link govuk-link--no-visited-state">Trello 1397</a> >> <a href="https://hmpps-licenses-prototype.apps.live.cloud-platform.service.justice.gov.uk/v21/additional/9b" class="govuk-link govuk-link--no-visited-state">Jump to page</a></li>
          <li>PP - Create/Vary - Freedom of movement - multiple premises <a href="https://dsdmoj.atlassian.net/browse/CVSL-798" class="govuk-link govuk-link--no-visited-state">Jira-798</a> >> <a href="https://hmpps-licenses-prototype.apps.live.cloud-platform.service.justice.gov.uk/v21/additional/8b" class="govuk-link govuk-link--no-visited-state">Jump to page</a></li></br>
          <li>PP - Create/Vary - New search field and search results page <a href="https://dsdmoj.atlassian.net/browse/CVSL-756" class="govuk-link govuk-link--no-visited-state">CVSL-756</a></li></br>
          <li>Prison approver - Additional information <a href="https://trello.com/c/4NrlS32c" class="govuk-link govuk-link--no-visited-state">Trello 212</a>
        </ul>
      </td>
    </tr>


    <tr class="govuk-table__row">
      <td class="govuk-table__cell" >
        <a href="/v20/config" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-27 govuk-!-font-weight-bold">v20</a>
      </td>
      <td class="govuk-table__cell" style="min-width: 250px;" >
        <strong class="govuk-tag" style="background: red;">F<span style="text-transform: lowercase;">inal design</span>
        </strong>
        <br>
      </td>
      <td class="govuk-table__cell">
        
        <ul>
          <li>PP - Vary - Licence end date <a href="https://trello.com/c/TjwDUkQM" class="govuk-link govuk-link--no-visited-state">Trello 346</a></li>
          <li>PP - Create - Exclusion zones <a href="https://trello.com/c/kNPwfRm4" class="govuk-link govuk-link--no-visited-state">Trello 411</a></li>
          <li>Approver - Exclusion zones <a href="https://trello.com/c/kNPwfRm4" class="govuk-link govuk-link--no-visited-state">Trello 411</a></li>
          <li>CA - Exclusion zones <a href="https://trello.com/c/kNPwfRm4" class="govuk-link govuk-link--no-visited-state">Trello 411</a></li>
          <li>CA - Active licences and statuses (ON HOLD - NOT FINAL) <a href="https://trello.com/c/MX8hozUm" class="govuk-link govuk-link--no-visited-state">Trello 181</a></li>
          <li>CA - Pagination <a href="https://trello.com/c/uHREoeQV" class="govuk-link govuk-link--no-visited-state">Trello 1393</a></li>
        </ul>
      </td>
    </tr>


    <tr class="govuk-table__row">
      <td class="govuk-table__cell" >
        <a href="/v19/config" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-27 govuk-!-font-weight-bold">v19</a>
      </td>
      <td class="govuk-table__cell" style="min-width: 250px;" >
        <strong class="govuk-tag" style="background: red;">F<span style="text-transform: lowercase;">inal design</span>
        </strong>
        <br>
      </td>
      <td class="govuk-table__cell">
        <p>Tom and Steph taking over</p>
        <ul>
            <li>PP - Vary - Inflight policy changes <a href="https://trello.com/c/fDFMkVJf/388-versioning-licences-and-updating-them-when-policy-conditions-change-eg-a-new-condition-template" class="govuk-link govuk-link--no-visited-state">Trello 388</a> >>
              <a href="/v19/review-additional-conditions/review-updated-additional-conditions" class="govuk-link govuk-link--no-visited-state">Jump to pages</a>
          </li>
          <li>PP - Vary - Stakeholder consulting <a href="https://trello.com/c/NbaqdkE8" class="govuk-link govuk-link--no-visited-state">Trello 333</a>
        </li>
        </ul>
      </td>
    </tr>




  </tbody>
</table>


<!--content end-->

</div>



<!--Tab: Design explorations-->

          <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="design-explorations">
            <h2 class="govuk-heading-l">Design explorations</h2>
           

              <p><strong>Create-immigration-detention-licence</strong></br>
              <a href="#" class="govuk-link govuk-link--no-visited-state">????</a></br>
              1 round of user research, whole journey in version xxx</p>
              
          </div>






          <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="archive">

            <h2 class="govuk-heading-l">Archive</h2>
            
            <h3 class="govuk-heading-m">Designs from Farsight</h3>

            <p>Prototype Kit Version 9</p>

            
            <!--content start-->

           
    <table class="govuk-table">
      <thead class="govuk-table__head" >
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Version</th>
          <th scope="col" class="govuk-table__header">Status</th>
          <th scope="col" class="govuk-table__header">Notes</th>
        </tr>
      </thead>


      <tbody class="govuk-table__body">



        <tr class="govuk-table__row">
           <td class="govuk-table__cell" >
             <a href="https://hmpps-licenses-prototype.apps.live.cloud-platform.service.justice.gov.uk/v18/config" target="_blank" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-27 govuk-!-font-weight-bold">v18</a>
           </td>
           <td class="govuk-table__cell" style="min-width: 250px;" >
               <strong class="govuk-tag" style="background: blue;">I<span style="text-transform: lowercase;">n design</span>
             </strong>
             <br>
           </td>
           <td class="govuk-table__cell">
             <ul>
               <li>In progress - Save &amp; exit for variation journey</li>
               <li>Addition of beta banner</li>
               <li>Ability for Prison users to change location on list view</li>
               <li>Change of 'Not Started' tag on caseview pages to yellow as grey will now be used for inactive</li>
               <li>Addition of How to page in root of site</li>
               <li>Removed 'last update' from the licence history</li>
               <li>Created template folder for includes</li>
               <li>New journey for 'PP made last minute changes'</li>
               <li>Addition of notification on list page for create if date changes </li>
               <li>New journey from list page for create if date changes (Matt Tension) CoC page</li>
             </ul>
           </td>
         </tr>



        <tr class="govuk-table__row">
           <td class="govuk-table__cell" >
             <a href="https://hmpps-licenses-prototype.apps.live.cloud-platform.service.justice.gov.uk/v17/config" target="_blank" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-27 govuk-!-font-weight-bold">v17</a>
           </td>
           <td class="govuk-table__cell" style="min-width: 250px;" >
               <strong class="govuk-tag" style="background: green;">R<span style="text-transform: lowercase;">eady for </span>UR
             </strong>
             <br>
           </td>
           <td class="govuk-table__cell">
             <ul>
               <li>Change COM to community probation practitioner</li>
               <li>Confirmation content page updates</li>
               <li>Update to CRD and variation dates across create, edit &amp; vary</a></li>
               <li>Addition of warning text on create journey if CRD is to change</la>
                <li>Extra notiications from case view if CRD is to change</li>
                <li>Updated CRD and licence start dates throughout</li>
                <li>Added conditional intermediary page for create if release date is bank hols or weekend for all users</li>
                <li>Added intermediary 'are you sure' page when creating a new licence for COM</li>
                <li>Added 'deferred' cases to PDUh caselist</li>
                <li>New 'Team' view for PDUh</li>
                <li>Removed 'variation' discarded cases for PDUh</li>
                <li>Added 'have you consulted PPCS' question for Bespoke conditions on vary and create</li>
                <li>Replace "Release date" on PDUh caseload with "Variation request date"</li>
                <li>Create journey - show &amp; hide 'Active' licence filter view for Prison CA</li>
                <li>Search facility fo Prison CA</li>

             </ul>
           </td>
         </tr>


        <tr class="govuk-table__row">
           <td class="govuk-table__cell" >
             <a href="https://hmpps-licenses-prototype.apps.live.cloud-platform.service.justice.gov.uk/v16/config" target="_blank" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-27 govuk-!-font-weight-bold">v16</a>
           </td>
           <td class="govuk-table__cell" style="min-width: 250px;" >
               <strong class="govuk-tag" style="background: green;">R<span style="text-transform: lowercase;">eady for </span>UR
             </strong>
             <br>
           </td>
           <td class="govuk-table__cell">
             <ul>
               <li>Overhaul of the summary and entered conditions pages</li>
               <li>Changes to vary confirmation CTA and content</li>
               <li>Content amends to vary reject</li>
               <li>Amendment of vary reject CTA to remove 'approve'</li>
               <li>Content changes in <a href="https://trello.com/c/xQaiUE4X/322-iterate-pduh-vary-from-ur-w-c-28-february">Trello 322</a></li>
               <li>Release date" on PDUH caseload with "Variation request date" </li>
               <li>Iterate UR 28th feb changes</li>
               <li>COM - Vary - edit a variation - following rejection from approver (PDUH)</li>
               <li>PDUH - Vary - Approve / Reject variation</li>
               <li>PDUH filter  caseload by "Variation request date"</li>
               <li>Removal of accordians on summary card views</li>
               <li>Create new 'who have you spoke to regarding this variation' services page</li>
               <li>Altered CYA to include answers for new services consulted page</li>
               <li>Created new change your answers for services consulted on CYA</li>
               <li>Changed all summary pages to show the new services consulted options</li>
             </ul>
           </td>
         </tr>


        <tr class="govuk-table__row">
           <td class="govuk-table__cell" >
             <a href="https://hmpps-licenses-prototype.apps.live.cloud-platform.service.justice.gov.uk/v15/config" target="_blank" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-27 govuk-!-font-weight-bold">v15</a>
           </td>
           <td class="govuk-table__cell" style="min-width: 250px;" >
               <strong class="govuk-tag" style="background: red;">C<span style="text-transform: lowercase;">losed</span>
             </strong>
             <br>
           </td>
           <td class="govuk-table__cell">
             <ul>
               <li>Use "Print" action as trigger for moving "variation approved" to "Active"</li>
               <li>Activate and confirm removed from activate variation for COM</li>
               <li>Activate removed and replaced with Print on timeline</li>
             <li>Link to Miro scenarios</li>
             <li>Fix to showing non approved journey</li>
             <li>FIxed spacing on vary time line</li>
             <li>Changes on accordina summary</li>
             </ul>
           </td>
         </tr>


        <tr class="govuk-table__row">
           <td class="govuk-table__cell" >
             <a href="https://hmpps-licenses-prototype.apps.live.cloud-platform.service.justice.gov.uk/v14/config" target="_blank" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-27 govuk-!-font-weight-bold">v14</a>
           </td>
           <td class="govuk-table__cell" style="min-width: 250px;" >
               <strong class="govuk-tag" style="background: red;">C<span style="text-transform: lowercase;">losed</span>
             </strong>
             <br>
           </td>
           <td class="govuk-table__cell">
             <ul>
             <li>Redesign of the status/conversation card page - applied on PDUH approval journey</li>
             <li>Removal of the SLO / VLO consulation questions on vary amendments</li>
             <li>PDUH - Ability to view dynamic licence list for Harry and Avary to work through</li>
             <li>PDUH - variation requests disappear from list view once rejected or approved</li>
             <li>PDUH - Add Harry to list with previously rejected variation request</li>
             <li>PDUH - Created templates for the variation details</li>
             <li>PDUH - Created a COM response to PDU feedback case for Harry Jection</li>
             <li>Changed order of caseview list headers to be consistent with create and order lists</li>
             <li>Amended content on service entry tiles</li>
             <li>Added summary step on PDUH referral of vary</li>
             <li>Changed content on various pages and timeline tab as in Trello: #298</li>
             </ul>
           </td>
         </tr>


        <tr class="govuk-table__row">
           <td class="govuk-table__cell" >
             <a href="https://hmpps-licenses-prototype.apps.live.cloud-platform.service.justice.gov.uk/v13/config" target="_blank" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-27 govuk-!-font-weight-bold">v13</a>
           </td>
           <td class="govuk-table__cell" style="min-width: 250px;" >
               <strong class="govuk-tag" style="background: red;">C<span style="text-transform: lowercase;">losed</span>
             </strong>
             <br>
           </td>
           <td class="govuk-table__cell">
             <ul>
             <li>Removed icons from non document (PDF) links on licence history for vary</li>
             <li>Case view page - increase amount of offenders to push down the ATTENTION NEEDED case</li>
            <li>Add buttons on vary summary to edit existing variation request once a vary request has been submitted.</li>
            <li>Update second title on the timeline to 'Licence varied by Paul Farmer</li>
            <li>Update tiles with new content</li>
            <li>Rerouted on 'are you sure you want to discard' page, when 'No' is selected</li>
             </ul>
           </td>
         </tr>


        <tr class="govuk-table__row">
           <td class="govuk-table__cell" >
             <a href="https://hmpps-licenses-prototype.apps.live.cloud-platform.service.justice.gov.uk/v12/config" target="_blank" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-27 govuk-!-font-weight-bold">v12</a>
           </td>
           <td class="govuk-table__cell" style="min-width: 250px;" >
               <strong class="govuk-tag" style="background: red;">C<span style="text-transform: lowercase;">losed </span>
             </strong>
             <br>
           </td>
           <td class="govuk-table__cell">
             <ul>
             <li>ACO post vary approval / rejection journey</li>
             <li>Probation post vary approval / rejection journey</li>
             <li>Added Notification bar for items requiring attention</li>
             <li>Added filter on notification bar</li>
            <li>UR feedback changes</li>
             <li>Removed : on details licence history tab</li>
              <li>Added offence index to previous licences</li>
              <li>Removed court form previous licences</li>
              <li>Changed Community offender manager to probation practitioner</li>
              <li>Restored link to print and vary screen from licence history screen</li>
              <li>Changed licence to licence and supervision orders</li>
              <li>Added licence start and end date to previous licences details drop down</li>
              <li>Changed all purpose to standrd determinate throught service</li>
              <li>Created tasklist startpages for vary and create</li>
              <li>Added search option for conditions page for vary and create- search for 'Drug'</li>
              <li>Confirmation page - to communicate to COMs that if they want to upload the licence they would have to do it.</li>
              <li>Timeline print functionality</li>
              <li>Add buttons on vary summary to edit existing variation request once a vary request has been submitted.</li>
              <li>Amnded timeline - using icons and encapsulation and print links to each licence version </li>
              <li>Added print option to timeline when in vary state for COM</li>
             </ul>
           </td>
         </tr>


        <tr class="govuk-table__row">
           <td class="govuk-table__cell" >
             <a href="https://hmpps-licenses-prototype.apps.live.cloud-platform.service.justice.gov.uk/v11/config" target="_blank" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-27 govuk-!-font-weight-bold">v11</a>
           </td>
           <td class="govuk-table__cell" style="min-width: 250px;" >
               <strong class="govuk-tag" style="background: red;">C<span style="text-transform: lowercase;">losed</span>
             </strong>
             <br>
           </td>
           <td class="govuk-table__cell">
             <ul>
               <li>Vary approve and reject journey</li>
               <li>Vary check answers using card pattern</li>
               <li>Added ACO as user and approver journey for vary</li>
               <li>Created pre-journey criteria questions</li>
               <li>Displaying pre-journey criteria answers on subsequent pages</li>
               <li>Displaying pre-journey criteria answers on approval journey</li>
               <li>Created dynamic condition selection on Save &amp; Exit</li>
             </ul>
           </td>
         </tr>

        <tr class="govuk-table__row">
           <td class="govuk-table__cell" >
             <a href="https://hmpps-licenses-prototype.apps.live.cloud-platform.service.justice.gov.uk/v10/config" target="_blank" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-27 govuk-!-font-weight-bold">v10</a>
           </td>
           <td class="govuk-table__cell" style="min-width: 250px;" >
             <strong class="govuk-tag" style="background: red;">C<span style="text-transform: lowercase;">losed</span>
             </strong>
             <br>
           </td>
           <td class="govuk-table__cell">
             <ul>
               <li>Save & exit journey for licence creation</li>
               <li>Single long list view for caseview</li>
               <li>Modification of status colours</li>
               <li>Addition of in progress state for save and exit</li>
               <li>Creation of 2 more dynamic ' add conds' scenarios for vary</li>
               <li>Pre populated data fields on create for save &amp; exit</li>
               <li>Seprated 9a and 0b additonal conditions into 2 separate conditions</li>

             </ul>
           </td>
         </tr>


        <tr class="govuk-table__row">
           <td class="govuk-table__cell" >

             <a href="https://hmpps-licenses-prototype.apps.live.cloud-platform.service.justice.gov.uk/v9/config" target="_blank" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-27 govuk-!-font-weight-bold">v9</a>
           </td>
           <td class="govuk-table__cell" style="min-width: 250px;" >
             <strong class="govuk-tag" style="background: red;">C<span style="text-transform: lowercase;">losed</span>
             </strong>
             <br>
           </td>
           <td class="govuk-table__cell">
             <ul>
               <li>Changed all views on vary to Active status</li>
               <li>Amended Probabtion links on caseview</li>
               <li>Added caseview drilldown for individual offenders</li>
               <li>Added tabbed view for current licence history and historic offences</li>
               <li>Created timelines view for both tabbed views</li>
               <li>Added discard feature on check your answers and confirm</li>
                <li>Amended notes section to show summary of changes and individual notes input for each</li>
                <li>Created a summary page after vary is completed for notes</li>
                <li>Added vary status as colour, moved CRN under name and removed coloured licence status</li>
                <li>Removed the licence status column form caseview</li>
                <li>Added summary page after notes page</li>
                <li>Amended notes page to include just one add notes section</li>
                <li>Added dynamic condition (drug testing) for Avary on vary</li>

             </ul>
           </td>
         </tr>

        <tr class="govuk-table__row">
           <td class="govuk-table__cell" >
             <a href="https://hmpps-licenses-prototype.apps.live.cloud-platform.service.justice.gov.uk/v8/config" target="_blank" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-27 govuk-!-font-weight-bold">v8</a>
           </td>
           <td class="govuk-table__cell" style="min-width: 250px;" >
             <strong class="govuk-tag" style="background: red;">C<span style="text-transform: lowercase;">losed</span>
             </strong>
             <br>
           </td>
           <td class="govuk-table__cell">
             <ul>
               <li>Filters to allow probation officer to view and action team caseview</li>
               <li>Allow probation officer to action colleagues caseview</li>
               <li>Adding probation officers column in caseview</li>
               <li>Changing date format to 22 11 2021 from 22 November 2021</li>
               <li>Search on create view</li>
               <li>Pagination of list - filtered by region view</li>
               <li>Amended text in vary 'tile'</li>
               <li>Edit journey - now shows all conditions selected on entry on check answers page</li>
               <li>All journeys - in 'My cases' view shows the same probation officer name </li>
               <li>All journeys - in 'Team cases' view added pagination</li>
             </ul>
           </td>
         </tr>

        <tr class="govuk-table__row">
           <td class="govuk-table__cell" >
             <a href="https://hmpps-licenses-prototype.apps.live.cloud-platform.service.justice.gov.uk/v7/config" target="_blank" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-27 govuk-!-font-weight-bold">v7</a>
           </td>
           <td class="govuk-table__cell" style="min-width: 250px;" >
             <strong class="govuk-tag" style="background: red;">C<span style="text-transform: lowercase;">losed</span>
             </strong>
             <br>
           </td>
           <td class="govuk-table__cell">
             <ul>
               <li>Vary an active licence</li>
               <li>Add search function for vary</li>
               <li>Add versioning and audit for vary</li>
               <li>Changed the tile navigation content</li>
               <li>Added print to vary journey</li>
               <li>Rich text editor for vary - add notes</li>
               <li>Renamed 'condtitonal release date' to 'release date'</li>
             </ul>
           </td>
         </tr>


        <tr class="govuk-table__row">
           <td class="govuk-table__cell" >
             <a href="https://hmpps-licenses-prototype.apps.live.cloud-platform.service.justice.gov.uk/v6/config" target="_blank" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-27 govuk-!-font-weight-bold">v6</a>
           </td>
           <td class="govuk-table__cell" style="min-width: 250px;" >
             <strong class="govuk-tag" style="background: red;">C<span style="text-transform: lowercase;">losed</span>
             </strong>
             <br>
           </td>
           <td class="govuk-table__cell">
             <ul>
               <li>Addition of persistent banner for Probation, Approver, Edit and CA Journey</li>
               <li>Changing of H1 titles (due to banner) across edit, create, print and approve</li>
               <li>Addition of sub page to show probation officer contact details</li>
               <li>Remove first headers on additional conditions (needs additional = no) on check answers</li>
               <li>Addition of probation regions as radios</li>

             </ul>
           </td>
         </tr>


        <tr class="govuk-table__row">
           <td class="govuk-table__cell" >
             <a href="https://hmpps-licenses-prototype.apps.live.cloud-platform.service.justice.gov.uk/v5/config" target="_blank" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-27 govuk-!-font-weight-bold">v5</a>
           </td>
           <td class="govuk-table__cell" style="min-width: 250px;" >
             <strong class="govuk-tag" style="background: red;">C<span style="text-transform: lowercase;">losed</span>

             </strong>
             <br>
           </td>
           <td class="govuk-table__cell">
             <ul>
               <li>Changed prototype headers</li>
               <li>Changed 'induction' (meeting) to 'initial' (meeting)</li>
               <li>Amended 'status' colours on list view</li>
               <li>Probation officer can edit existing licence</li>
               <li>Added edit text to tiles</li>
               <li>Altered layout on confirm your notes</li>
             </ul>
           </td>
         </tr>



       <tr class="govuk-table__row">
          <td class="govuk-table__cell" >
            <a href="https://hmpps-licenses-prototype.apps.live.cloud-platform.service.justice.gov.uk/v4/config" target="_blank" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-27 govuk-!-font-weight-bold">v4</a>
          </td>
          <td class="govuk-table__cell" style="min-width: 250px;" >
              <strong class="govuk-tag" style="background: red;">C<span style="text-transform: lowercase;">losed</span>
            </strong>
            <br>
          </td>
          <td class="govuk-table__cell">
            <ul>
              <li>Changed additonal 3a - add social servies, into a single input</li>
              <li>Linked print and approve to main list/select view</li>
              <li>Created bespoke views for the 3 user groups</li>
              <li>Added probation officer (conditional) for non-probation users</li>
              <li>AP + PSS journey</li>
              <li>PSS only journey</li>
              <li>Status column on list view </li>
              <li>Remove status column on list view for approver</li>
              <li>Licence type column on list view </li>
              <li>Check your answers links v3 and v4</li>
              <li>Check your answers links to additonal sub pages</li>
              <li>Dynamic entry for initial details</li>
            </ul>
          </td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell" >
            <a href="https://hmpps-licenses-prototype.apps.live.cloud-platform.service.justice.gov.uk/v3/config" target="_blank" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-27 govuk-!-font-weight-bold">v3</a>
          </td>
          <td class="govuk-table__cell" style="min-width: 250px;" >
            <strong class="govuk-tag" style="background: red;">C<span style="text-transform: lowercase;">losed</span>
            </strong>
            <br>
          </td>
          <td class="govuk-table__cell">
            <ul>
              <li>Addition of additional conditions and dynamic parent/child design</li>
              <li>Check your answers links v2</li>
              <li>Adding optional numbering for additional conditions long list</li>
              <li>Journey with no case admin check - probation send directly to prison approver for approval</li>
              <li>Probation officer- creates licence, amend licence</li>
              <li>Prison approver - approves or rejects and deals with probation</a>
              <li>Case admin - can only print licence, and only when it's been approved.</li>
            </ul>
          </td>
        </tr>


        <tr class="govuk-table__row">
          <td class="govuk-table__cell" >
            <a href="https://hmpps-licenses-prototype.apps.live.cloud-platform.service.justice.gov.uk/2/config" target="_blank" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-27 govuk-!-font-weight-bold">v2</a>
          </td>
          <td class="govuk-table__cell" style="min-width: 250px;" >
            <strong class="govuk-tag" style="background: red;">C<span style="text-transform: lowercase;">losed</span>
            </strong>
            <br>
          </td>
          <td class="govuk-table__cell">
            <ul>
              <li>Journey with case probation sending to case admin and checking before governor approval</li>
              <li>Probation officer - creates licence, amend licence</li>
              <li>Case admin - checks licence, submits to prison approver for approval or rejects and deals with probation</a>
              <li>Prison approver - approves or rejects</a>
              <li>Case admin - can  print licence, when it's been approved, or push back to probation if rejected by approver.</li>

              <li>Combined 'create licence' and 'vary licence' in one journey</li>

            </ul>
          </td>
        </tr>


        <tr class="govuk-table__row">
          <td class="govuk-table__cell" >
            <a href="https://hmpps-licenses-prototype.apps.live.cloud-platform.service.justice.gov.uk/prototypes/additional-v9/details" target="_blank" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-27 govuk-!-font-weight-bold">v1</a>
          </td>
          <td class="govuk-table__cell" style="min-width: 250px;" >
            <strong class="govuk-tag" style="background: red;">B<span style="text-transform: lowercase;">aseline</span>

            </strong>
            <br>
          </td>
          <td class="govuk-table__cell">As was journey 27th Sept 2021</td>
        </tr>

      </tbody>
    </table>

            <!--content end-->

            
          </div>


          <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="ur">

            <h2 class="govuk-heading-l">Designs ready for user research</h2>
          
            <p>Prototype Kit Version 13</p>
            
          
          
          
          
          
          </div>





        </div>

<!--Tabs end-->


    {% include "govuk-prototype-kit/includes/homepage-bottom.njk" %}
  </div>
</div>

{% endblock %}
