<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds"><br>
    {% if data.edit=="yes" %}
      <span class="govuk-caption-m">CRN: A381306 | CRD: 28 May 2022 | Date of birth: 9 July 1965</span>
      <h1 class="govuk-heading-m">Edith Bradshaw</h1>

    {% elseif data.releaseDateChanged=="yes" %}
    <span class="govuk-caption-m">CRN: A314402 | CRD: 15 May 2022 | Date of birth: 12 Mar 1975</span>
    <h1 class="govuk-heading-m">Honor Weekend</h1>

    {% elseif data.is91Create=="yes" %}
    <span class="govuk-caption-m">CRN: A761536 | CRD: 12 Dec 2022 | Date of birth: 12 Mar 1975</span>
    <h1 class="govuk-heading-m">Craig Jennings</h1>

    {% else %}
      <span class="govuk-caption-m">CRN: A381306 | CRD: 19 Sept 2022 | Date of birth: 12 Mar 1975</span>
      <h1 class="govuk-heading-m">Adam Balasaravika</h1>
    {% endif %}
  </div>
</div>
<hr class="gov-section-break gov-section-break-visible">
