{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}
{% block beforeContent %}
  
<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Prototype
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Select a person to start creating their licence </h1>

      </div>
</div>
<table class="govuk-table">
  <!--<caption class="govuk-table__caption govuk-table__caption--m">Month you apply</caption>-->
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header app-custom-class">Name</th>
      <th scope="col" class="govuk-table__header app-custom-class">Case reference number</th>
      <th scope="col" class="govuk-table__header app-custom-class">Conditional release date</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><h3 class="govuk-heading-m govuk-!-margin-bottom-3">
        <a href="question" class="govuk-link govuk-link--no-visited-state">
          Adam Balasaravika
        </a></h3></th>
      <td class="govuk-table__cell">X381306</td>
      <td class="govuk-table__cell">30 August 2021</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><h3 class="govuk-heading-m govuk-!-margin-bottom-3">
        <a href="profile1" class="govuk-link govuk-link--no-visited-state">
          Dave Oliver Platero Bengson
        </a></h3></th>
      <td class="govuk-table__cell">X511304</td>
      <td class="govuk-table__cell">18 September 2021</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><h3 class="govuk-heading-m govuk-!-margin-bottom-3">
        <a href="profile1" class="govuk-link govuk-link--no-visited-state">
          Nicolas John Westerman
        </a></h3></th>
      <td class="govuk-table__cell">X811208</td>
      <td class="govuk-table__cell">11 November 2021</td>
    </tr>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><h3 class="govuk-heading-m govuk-!-margin-bottom-3">
        <a href="profile1" class="govuk-link govuk-link--no-visited-state">
          Bibhusha Suwal
        </a></h3></th>
      <td class="govuk-table__cell">X661304</td>
      <td class="govuk-table__cell">06 January 2022</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><h3 class="govuk-heading-m govuk-!-margin-bottom-3">
        <a href="profile1" class="govuk-link govuk-link--no-visited-state">
          Obaidullah Zaman
        </a></h3></th>
      <td class="govuk-table__cell">X522404</td>
      <td class="govuk-table__cell">22 January 2022</td>
    </tr>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><h3 class="govuk-heading-m govuk-!-margin-bottom-3">
        <a href="profile1" class="govuk-link govuk-link--no-visited-state">
          Andrew John Garcia
        </a></h3></th>
      <td class="govuk-table__cell">X788000</td>
      <td class="govuk-table__cell">11 March 2022</td>
    </tr>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><h3 class="govuk-heading-m govuk-!-margin-bottom-3">
        <a href="profile1" class="govuk-link govuk-link--no-visited-state">
          Seamus Doherty
        </a></h3></th>
      <td class="govuk-table__cell">X314402</td>
      <td class="govuk-table__cell">09 April 2022</td>
    </tr>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><h3 class="govuk-heading-m govuk-!-margin-bottom-3">
        <a href="profile1" class="govuk-link govuk-link--no-visited-state">
          Marco Atkins

        </a></h3></th>
      <td class="govuk-table__cell">X911444</td>
      <td class="govuk-table__cell">16 April 2022</td>
    </tr>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><h3 class="govuk-heading-m govuk-!-margin-bottom-3">
        <a href="profile1" class="govuk-link govuk-link--no-visited-state">
          Milton Thompson
        </a></h3></th>
      <td class="govuk-table__cell">X887732</td>
      <td class="govuk-table__cell">23 June 2022</td>
    </tr>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><h3 class="govuk-heading-m govuk-!-margin-bottom-3">
        <a href="profile1" class="govuk-link govuk-link--no-visited-state">
          Darren Robinson
        </a></h3></th>
      <td class="govuk-table__cell">X123777</td>
      <td class="govuk-table__cell">01 July 2022</td>
    </tr>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><h3 class="govuk-heading-m govuk-!-margin-bottom-3">
        <a href="profile1" class="govuk-link govuk-link--no-visited-state">
          Jeremy Alan Ricketts
        </a></h3></th>
      <td class="govuk-table__cell">X669033</td>
      <td class="govuk-table__cell">05 August 2022</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><h3 class="govuk-heading-m govuk-!-margin-bottom-3">
        <a href="profile1" class="govuk-link govuk-link--no-visited-state">
          Elliot Raishbrook
        </a></h3></th>
      <td class="govuk-table__cell">X588111</td>
      <td class="govuk-table__cell">18 August 2022</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><h3 class="govuk-heading-m govuk-!-margin-bottom-3">
        <a href="profile1" class="govuk-link govuk-link--no-visited-state">
          Rodrigo Andrew Matthewson
        </a></h3></th>
      <td class="govuk-table__cell">X255661</td>
      <td class="govuk-table__cell">01 February 2023</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><h3 class="govuk-heading-m govuk-!-margin-bottom-3">
        <a href="profile1" class="govuk-link govuk-link--no-visited-state">
          Tyson Pearson

        </a></h3></th>
      <td class="govuk-table__cell">X732689</td>
      <td class="govuk-table__cell">31 May 2023</td>
    </tr>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><h3 class="govuk-heading-m govuk-!-margin-bottom-3">
        <a href="profile1" class="govuk-link govuk-link--no-visited-state">
          Amjad Khan
        </a></h3></th>
      <td class="govuk-table__cell">X161309</td>
      <td class="govuk-table__cell">13 June 2023</td>
    </tr>
  </tbody>
</table>

          
  


  

         
      


{% endblock %}