{% if data.timlycett=="yes" %}
 
<div class="govuk-grid-row" style="margin-left:5px;">
  <div class="govuk-grid-column"><br>
        <span class="govuk-caption-m">CRN: A376533 | ARD: 20 Dec 2021 | Licence end date: 19 May 2023 | Date of birth: 1 Aug 1988</span>
      <h1 class="govuk-heading-m">Tim</h1>
  </div>
</div>
<hr class="gov-section-break gov-section-break-visible">

{% elseif data.journey=="varynonapproved"%}

<div class="govuk-grid-row" style="margin-left:5px;">
  <div class="govuk-grid-column"><br>
    <span class="govuk-caption-m">CRN: A381306 | ARD: 2 Dec 2021 | Licence end date: 2 May 2022 | Date of birth: 9 March 1975</span>
      <h1 class="govuk-heading-m">Harry Jection</h1>
  </div>
</div>
<hr class="gov-section-break gov-section-break-visible">

{% else %}

<div class="govuk-grid-row" style="margin-left:5px;">
  <div class="govuk-grid-column"><br>
        <span class="govuk-caption-m">CRN: A376533 | ARD: 20 Dec 2021 | Licence end date: 19 May 2023 | Date of birth: 1 Aug 1988</span>
      <h1 class="govuk-heading-m">Avary Bradshaw</h1>
  </div>
</div>
<hr class="gov-section-break gov-section-break-visible">
{% endif %}
